.wrapper {
  border-bottom: solid 1px #ddd;
}

table {
  width: 100%;
  tr.mat-header-row {
    height: 35px;
  }
  td {
    font-size: 12px;
    &:nth-child(1) {
      padding-top: 10px;
    }
  }
  th {
    font-size: 11px;
  }
  th.mat-column-show {
    width: 16%;
  }
  tr.mat-row {
    cursor: pointer;
  }
}

.mat-icon {
  cursor: pointer;
  font-size: 25px;
  color: #555;
  &:hover {
    color: #222;
  }
}