.wrapper {
  width: 400px;
  height: 100%;
  background-color: #F4F5F7;
}

table {
  width: 100%;
  background-color: #F4F5F7;
}

.search-container {
  width: 100%;
  padding: 10px;
  background-color: #eee;
  input {
    width: 100%;
    height: 40px;
    padding: 7px 10px;
    border-radius: 5px;
    border: solid 1px #eee;
    &:focus {
      outline: none;
    }
  }
}

td.mat-cell {
  border-bottom-style: none;
}

th.mat-header-cell {
  border-bottom-style: none;
}

.row {
  background-color: #EBECF0;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 8px;
}

.mat-icon {
  cursor: pointer;
  font-size: 19px;
  color: #42526E;
  position: relative;
  top: 4px;
}

.open-icon {
  position: relative;
  top: 0;
  right: 0;
}

.title {
  width: 328px;
  font-size: 14px;
}

.selected {
  color: #0052CC;
}

.actions {
  margin-left: 1px;
}

label {
  left: 5px;
  bottom: 3px;
  margin-right: 15px;
  color: rgba(0,0,0,.54);
  font: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px !important;
}

.checkbox {
  position: relative; 
  top: 2.5px;
  margin-right: 5px;
}

.message {
  width: 300px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}