<div class="wrapper">
  <table mat-table [dataSource]="dataSource">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="show">
      <th mat-header-cell *matHeaderCellDef>Show</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox
          [disabled]="!canSelect(element)"
          [checked]="element.selected"
          (change)="onSelect(element.id)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Work Package Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Work Package Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <!-- C Column -->
    <ng-container matColumnDef="c">
        <th mat-header-cell *matHeaderCellDef> C </th>
        <td mat-cell *matCellDef="let element; let i = index">
            <smi-color-picker
                [workpackageColour]="element.displayColour"
                (selectColour)="onSelectColour($event, element.id)">
            </smi-color-picker>
        </td>
    </ng-container>
    <!-- E Column -->
    <ng-container matColumnDef="e">
      <th mat-header-cell *matHeaderCellDef>E</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="canEdit(element); else elseBlock">
          <mat-icon *ngIf="!element.edit" (click)="onSetWorkpackageEditMode(element)">edit</mat-icon>
          <mat-icon *ngIf="element.edit" (click)="onSetWorkpackageEditMode(element)">close</mat-icon>
        </ng-container>
        <ng-template #elseBlock>
          <!-- TODO: What to show when user doesn't have permissions to edit ? -->
          <!-- <mat-icon>error</mat-icon> -->
        </ng-template>
      </td>
    </ng-container>
    <!-- D Column -->
    <ng-container matColumnDef="d">
        <th mat-header-cell *matHeaderCellDef> D </th>
        <td mat-cell *matCellDef="let element"><mat-icon [routerLink]="['/work-packages', element.id]">open_in_new</mat-icon></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns"
      [hidden]="row.status === 'merged' || row.status === 'superseded'">
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10"></mat-paginator>
</div>
