<p style="font-weight: 500;">
  Please confirm that the {{type}} "{{name}}" no longer applies to this object.
</p>
<p>
  Note that the {{type}} will not be deleted and will still be available in the 
  attributes and rules catalogue and against any other component.
</p>
<div mat-dialog-actions>
  <button mat-button (click)="onSubmit()" data-qa="topology-delete-attribute-modal-confirm">Confirm</button>
  <button mat-button (click)="onCancel()" data-qa="topology-delete-attribute-modal-cancel">Cancel</button>
</div>