.container {
  max-width: 100%;
}

.row {
  height: 100%;
}

.col {
  border-right: solid 1px #ddd;
  padding: 0;
  margin: 0;
}

.scope-dropdown {
  margin-right: 15px;
}

.hide-left-pane-button {
  position: absolute;
  bottom: 12px;
  right: 16px;
  z-index: 2;
  background-color: #3F51B5;
  color: #fff;
}

.leftPane {
  border-right: solid 1px #ddd;
}
