<app-model-container>
  <smi-left-hand-pane
    [workPackageIsEditable]="workPackageIsEditable"
    [selectedLeftTab]="selectedLeftTab"
    (openSideBar)="openLeftTab($event)"
    [sideNavActions]="true"
  >
  </smi-left-hand-pane>
  <mat-drawer-container class="drawer-container" autosize fixedInViewport="true">
    <mat-drawer #drawer mode="side" class="left-sidebar">
      <smi-left-hand-pane-content (close)="drawer.close(selectedLeftTab = 'menu')">
        <smi-menu *ngIf="selectedLeftTab === 'menu'"></smi-menu>
        <smi-workpackage-tab-table
          *ngIf="selectedLeftTab !== 'menu'"
          [data]="workpackage$ | async"
          (selectWorkPackage)="onSelectWorkPackage($event)"
          (setWorkpackageEditMode)="onSelectEditWorkpackage($event)"
          [canSelectWorkpackage]="canSelectWorkpackage"
        >
        </smi-workpackage-tab-table>
      </smi-left-hand-pane-content>
    </mat-drawer>
  <app-base-header>
    <app-toolbar-column [fillFreeSpace]="true"> </app-toolbar-column>
    <smi-workpackage-name
      [selectedWorkPackageEntities]="selectedWorkPackageEntities"
      [workPackageIsEditable]="!workPackageIsEditable"
      (exitWorkPackageEditMode)="onExitWorkPackageEditMode()"
      (editWorkPackage)="onSelectEditWorkpackage($event)">
    </smi-workpackage-name>
    <smi-scopes-dropdown
      class="scope-dropdown"
      [data]="scopes$ | async"
      [selectedScope]="selectedScope$ | async"
      (selectScope)="onSelectScope($event)"
    >
    </smi-scopes-dropdown>
    <app-search></app-search>
    <app-toolbar-column>
      <smi-quicklinks-actions></smi-quicklinks-actions>
    </app-toolbar-column>
  </app-base-header>
  <app-model-container class="diagram-container">
    <div class="container">
      <div class="row">
        <div class="col">
          <smi-report-library-table
            [reports]="reportEntities$ | async"
            (reportSelected)="onSelectReport($event)"
            (addReport)="onAddReport()"
            [workPackageIsEditable]="workPackageIsEditable"
            (download)="downloadCSV()"
          >
          </smi-report-library-table>
        </div>
        <div class="col">
          <smi-right-hand-side [title]="'Report'" (add)="onAddReport()" [disabled]="workPackageIsEditable"></smi-right-hand-side>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </app-model-container>
  </mat-drawer-container>
</app-model-container>