.container {
  max-width: 100%;
  overflow-y: auto;
}

button {
  position: absolute;
  bottom: 12px;
  right: 16px;
  z-index: 99999;
}

.leftPane {
  padding-right: 5px;
}

.scope-dropdown {
  margin-right: 15px;
}
