table {
  width: 100%;
  border-collapse: collapse;
}

.title {
  color: rgba(0,0,0,.54);
  font: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px !important; 
}

td {
  border: none;
  text-align: left;
  font-size: 13.5px;
  padding: 3px 0px;
}

td:nth-child(1) {
  padding-left: 15px;
}

.mat-icon {
  float: right;
  cursor: pointer;
  font-size: 20px;
  margin-left: 5px;
}
