table {
  width: 100%;
  border-collapse: collapse;
}

.title {
  font-weight: lighter;
  font-size: 15px;
  font-weight: 400;
  color: #212529;
}

td {
  border: none;
  text-align: left;
  font-size: 13.5px;
  padding: 3px 0px;
}

td:nth-child(1) {
  padding-left: 15px;
}

.mat-icon {
  float: right;
  cursor: pointer;
  font-size: 20px;
  margin-left: 5px;
}
