:host {
  display: block;
  width: 100%;
  mat-drawer-container {
    height: 100%;
    background-color: #fff;
    mat-drawer {
      background-color: #f4f5f7;
    }
  }
  .notifications-container {
    width: 420px;
    padding: 10px;
  }
}
