<mat-drawer-container autosize fixedInViewport="true">
  <mat-drawer #drawer mode="side">
    <smi-left-hand-pane-content (close)="handleCloseDrawer()">
      <ng-container *ngIf="tabTpls" [ngTemplateOutlet]="tabTpls[selectedTab]"></ng-container>
      <smi-menu *ngIf="selectedTab === LeftHandPaneTab.menu"></smi-menu>
      <div class="notifications-container" *ngIf="selectedTab === LeftHandPaneTab.notifications">
        <smi-notification-pane></smi-notification-pane>
      </div>
    </smi-left-hand-pane-content>
  </mat-drawer>
  <ng-content></ng-content>
</mat-drawer-container>
