<mat-drawer-container autosize fixedInViewport="true">
  <mat-drawer #drawer mode="side">
    <smi-left-hand-pane-content (close)="handleCloseDrawer()">
      <ng-container *ngIf="tabTpls" [ngTemplateOutlet]="tabTpls[selectedTab]"></ng-container>
      <smi-menu *ngIf="selectedTab === 'menu'"></smi-menu>
      <smi-notification-pane *ngIf="selectedTab === 'notifications'"></smi-notification-pane>
    </smi-left-hand-pane-content>
  </mat-drawer>
  <ng-content></ng-content>
</mat-drawer-container>
