<app-base-header>
    <app-toolbar-column>
      <app-toolbar-splitter> </app-toolbar-splitter>
      <span>User Settings</span>
      <app-toolbar-splitter> </app-toolbar-splitter>
    </app-toolbar-column>
    <app-toolbar-column [fillFreeSpace]="true">
        <app-search (search)="onSearchUser($event)"></app-search><app-toolbar-splitter> </app-toolbar-splitter>
    </app-toolbar-column>
</app-base-header>

<mat-tab-group [@.disabled]="true"> 
    <mat-tab label="My User">
    <p class="myUserFormContainer">
        <app-my-user-form 
           [group]="myUserForm"
           [showButtons]="showButtons">
        </app-my-user-form>
    </p>
    </mat-tab>
    <mat-tab label="All Users">
        <smi-all-users-table 
           [data]="users$ | async"
           (editUser)="onEditUser($event)"
           (addUser)="onAddUser($event)">
        </smi-all-users-table>
    </mat-tab>
    <mat-tab label="Organisation"><app-organisation></app-organisation></mat-tab>
</mat-tab-group>