:host {
    display: flex;
    align-items: center;
    margin: 0;
    a {
      display: flex;
      align-items: center;
      margin: 0px 5px;
      .mat-icon {
        opacity: 0.8;
        font-size: 25px;
      }
      &:hover {
        .mat-icon {
          opacity: 1;
        }
      }
    }
  }

.right {
  margin-right: 5px;
}

.mat-form-field {
  font-size: 12px;
  margin-top: 8px;
  width: 120px;
  opacity: 1;
}

.mat-select {
  background-color: #ddd;
  padding: 10px 8px;
  border-radius: 5px;
}