<!-- Splitter -->
<app-toolbar-splitter *ngIf="gojsView"></app-toolbar-splitter>

<!-- Architecture -->
<a class="architecture-icon" *ngIf="!gojsView"><mat-icon routerLink="/architecture" matTooltip="Architecture">device_hub</mat-icon></a>

<!-- WorkPackage -->
<a><mat-icon routerLink="/work-packages" matTooltip="Work Packages">business_center</mat-icon></a>

<!-- WorkPackage Dropdown -->
<smi-workpackage-dropdown 
    data-hook="quicklinks-workpackage-dropdown" 
    *ngIf="gojsView" 
    [data]="data"
    (selectWorkpackage)="onSelectWorkPackage($event)">
</smi-workpackage-dropdown>

<!-- Edit diagram button -->
<a (click)="allowEditWorkPackage()" *ngIf="gojsView"><mat-icon matTooltip="Edit WorkPackages">{{allowEditWorkPackages}}</mat-icon></a>

<!-- Splitter -->
<app-toolbar-splitter *ngIf="gojsView"></app-toolbar-splitter>

<!-- TODO: Need to create separate component for Scopes And Layouts Dropdown -->
<!--Scopes and Layouts Icon -->
<a><mat-icon routerLink="/scopes-and-layouts" matTooltip="Scopes and Layouts">pages</mat-icon></a>
<!-- Scopes dropdown -->
<div class="dropdown" *ngIf="gojsView" data-hook="quicklinks-scopes-dropdown" >
    <button class="dropdown-toggle btn btn-sm right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Scopes
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item">Scope 1</button>
        <button class="dropdown-item">Scope 2</button>
        <button class="dropdown-item">Scope 3</button>
    </div>
</div>

<!-- Layouts dropdown -->
<div class="dropdown" *ngIf="gojsView" data-hook="quicklinks-layouts-dropdown" >
    <button class="dropdown-toggle btn btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Layouts
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item">Layout 1</button>
        <button class="dropdown-item">Layout 2</button>
        <button class="dropdown-item">Layout 3</button>
    </div>
</div>

<!-- Edit diagram button -->
<a (click)="allowEditLayout()" *ngIf="gojsView"><mat-icon matTooltip="Edit Layout">{{allowEditLayouts}}</mat-icon></a>

<!-- RADIO Log -->
<a><mat-icon routerLink="/radio" matTooltip="RADIO Log">track_changes</mat-icon></a>

<!-- Help -->
<a><mat-icon matTooltip="Help">help_outline</mat-icon></a>