:host {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 5px;
  a {
    display: flex;
    align-items: center;
    margin: 0px 5px;
    color: #000;
    text-decoration: none;
    .mat-icon {
      opacity: 0.8;
      font-size: 25px;
    }
    &:hover {
      .mat-icon {
        opacity: 1;
      }
    }
  }
}

.right {
  margin-right: 5px;
}
