<app-base-header>
  <app-toolbar-column>
    <app-toolbar-splitter> </app-toolbar-splitter>
    <span>Version Manager</span>
    <app-toolbar-splitter> </app-toolbar-splitter>
  </app-toolbar-column>
  <app-toolbar-column [fillFreeSpace]="true"
    ><app-search (search)="onSearchVersion($event)"></app-search><app-toolbar-splitter> </app-toolbar-splitter
  ></app-toolbar-column>
</app-base-header>

<smi-radio-table></smi-radio-table>
<p class="title">My Layouts</p>
<smi-layouts-table></smi-layouts-table>
<p class="title">My Workpackages</p>
<smi-workpackages-table></smi-workpackages-table>