i {
    padding: 5px;
    cursor: pointer;
    font-size: 28px;
    margin-top: 5px;
    margin-right: 7px;
}
  
.mat-menu-content {
    z-index: 9999;
    padding: 0px !important;
}

.mat-menu-panel {
    width: 170px;
}

button:focus{
    outline: none;
    border: 0;
}

a {
    text-decoration: none;
}
