i {
  padding: 5px;
  cursor: pointer;
  font-size: 25px;
  margin-top: 5px;
  margin-right: 10px;
}

.mat-menu-content {
  z-index: 9999;
  padding: 0px !important;
}

.mat-menu-panel {
  width: 170px;
}

button {
  height: 45px;
}

button:focus {
  outline: none;
  border: 0;
}

a {
  text-decoration: none;
}

.mat-icon {
  font-size: 20px;
  margin-left: 10px;
}

.mat-menu-item .mat-icon {
  margin-right: 3px;
  vertical-align: middle;
}

.disabled-button {
  color: #555;
}