.wrapper {
    padding: 15px;
    border: solid 1px #ddd;
    border-radius: 5px;
}

button {
    margin-right: 7px;
}

.select-all {
    margin-right: 20px;
}

.tree-actions {
    margin-bottom: 15px;
}