.mat-form-field {
    width: 100%;
}

button {
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 15px;
    font-weight: lighter;
}

.disabled {
    pointer-events: none;
}

.editable {
    background-color: #fff;
}