<form [formGroup]="group">
    <!-- Name -->
    <mat-form-field [ngClass]="{disabled: !isEditable}">
        <input matInput placeholder="Name" formControlName="name">
        <mat-error>This field is required!</mat-error>
    </mat-form-field>

    <!-- Description -->
    <mat-form-field [ngClass]="{disabled: !isEditable}">
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>

    <!-- Baseline Table -->
    <smi-baseline-table 
        *ngIf="!modalMode" 
        [data]="baselineTableData"
        [isEditable]="isEditable">
    </smi-baseline-table>

    <!-- Owners Table -->
    <smi-owners-table
        *ngIf="!modalMode" 
        [data]="ownersTableData"
        (addOwner)="onAddOwner($event)"
        (deleteOwner)="onDeleteOwner($event)"
        (selectOwner)="onSelectOwner($event)"
        [isEditable]="isEditable"
        [ngClass]="{disabled: !isEditable}">
    </smi-owners-table>

    <!-- Approvers Table -->
    <smi-approvers-table *ngIf="!modalMode" [data]="approversTableData"></smi-approvers-table>

    <!-- Select Baseline -->
    <smi-wp-baseline-dropdown 
        *ngIf="modalMode"
        [data]="baseline"
        [selectedBaseline]="selectedBaseline">
    </smi-wp-baseline-dropdown>

    <!-- Select Owners -->
    <smi-wp-owners-dropdown 
        *ngIf="modalMode"
        [data]="owners"
        [selectedOwners]="selectedOwners">
    </smi-wp-owners-dropdown>

    <!-- Select Status -->
    <mat-form-field *ngIf="modalMode">
        <mat-select placeholder="Status" formControlName="status">
            <mat-option *ngFor="let status of workPackageStatus" [value]="status">{{status}}</mat-option>
        </mat-select>
        <mat-error>This field is required!</mat-error>
    </mat-form-field>

    <div class="form-group" *ngIf="!modalMode">
        <div *ngIf="!isEditable">
            <button type="button" mat-flat-button color="primary" (click)="onEdit()">Edit</button>
            <button type="button" mat-raised-button color="primary">Open</button>
            <button type="button" mat-raised-button color="primary">Copy</button>
            <button type="button" mat-flat-button color="warn" (click)="onDelete()">Delete</button>
        </div>
        <div *ngIf="isEditable">
            <button mat-flat-button color="primary" (click)="onSave()">Save</button>
            <button mat-flat-button (click)="onCancel()">Cancel</button>
        </div>
    </div>
</form>