<form [formGroup]="group">
  <!-- Name -->
  <div style="display: flex">
    <div style="flex-grow: 1">
      <mat-form-field [ngClass]="{ disabled: !isEditable }">
        <input
          matInput
          placeholder="Name"
          formControlName="name"
          data-qa="work-packages-details-name"
          [ngClass]="{ editable: isEditable }"
        />
        <mat-error>This field is required!</mat-error>
      </mat-form-field>
    </div>
    <div style="padding: 5px 10px 5px 25px;">
      <smi-color-picker
        data-qa="work-packages-colour-picker"
        matTooltip="Work package display colour"
        [workpackageColour]="workpackageColour"
        (selectColour)="onSelectColour($event)"
        [isEditable]="isEditable"
      >
      </smi-color-picker>
    </div>
  </div>

  <!-- Description -->
  <mat-form-field [ngClass]="{ disabled: !isEditable }">
    <textarea
      matInput
      rows="5"
      placeholder="Description"
      formControlName="description"
      data-qa="work-packages-details-description"
      [ngClass]="{ editable: isEditable }"
    ></textarea>
  </mat-form-field>

  <!-- Baseline Table -->
  <smi-baseline-table 
    data-qa="work-packages-baseline-table" 
    *ngIf="!modalMode"
    [data]="baselineTableData"
    [isEditable]="isEditable"
    (add)="onAddBaseline()"
    (delete)="onDeleteBaseline($event)"
  >
  </smi-baseline-table>

  <!-- Owners Table -->
  <smi-owners-table
    [ngClass]="{ disabled: !isEditable }"
    data-qa="work-packages-owners-table"
    *ngIf="!modalMode"
    [data]="ownersTableData"
    (addOwner)="onAddOwner($event)"
    (deleteOwner)="onDeleteOwner($event)"
    [isEditable]="isEditable"
  >
  </smi-owners-table>

  <!-- Approvers Table -->
  <smi-approvers-table data-qa="work-packages-approvers-table" *ngIf="!modalMode" [data]="approversTableData">
  </smi-approvers-table>

  <!-- Select Baseline -->
  <smi-wp-baseline-dropdown
    data-hook="workpackage-detail-baseline-selection"
    *ngIf="modalMode"
    [data]="baseline"
    [selectedBaseline]="selectedBaselines"
  >
  </smi-wp-baseline-dropdown>

  <!-- Select Owners -->
  <smi-wp-owners-dropdown
    data-hook="workpackage-detail-owners-selection"
    *ngIf="modalMode"
    [data]="owners"
    [selectedOwners]="selectedOwners"
  >
  </smi-wp-owners-dropdown>

  <!-- Select Status -->
  <mat-form-field [ngClass]="{ disabled: disableStatusInput }" *ngIf="modalMode">
    <input matInput placeholder="Status" formControlName="status" data-hook="workpackage-detail-status" />
  </mat-form-field>

  <div class="form-group" *ngIf="!modalMode">
    <div *ngIf="!isEditable">
      <button
        type="button"
        mat-flat-button
        color="primary"
        *ngIf="statusDraft"
        (click)="onEdit()"
        data-qa="work-packages-edit"
      >
        Edit
      </button>
      <button
        type="button"
        mat-raised-button
        (click)="onOpen()"
        data-qa="work-package-open"
        *ngIf="getWorkPackageStatus()"
      >
        Open
      </button>
      <button
        type="button"
        mat-raised-button
        color="primary"
        *ngIf="workpackageActionSubmit"
        (click)="submitWorkpackage()"
        data-qa="work-packages-submit"
        [disabled]="approversTableData?.length === 0"
      >
        Submit
      </button>
      <button
        type="button"
        mat-raised-button
        color="primary"
        *ngIf="workpackageActionApprove"
        (click)="approveWorkpackage()"
        data-qa="work-packages-approve"
      >
        Approve
      </button>
      <button
        type="button"
        mat-raised-button
        color="primary"
        *ngIf="workpackageActionReject"
        (click)="rejectWorkpackage()"
        data-qa="work-packages-reject"
      >
        Reject
      </button>
      <button
        type="button"
        mat-raised-button
        color="primary"
        *ngIf="workpackageActionMerge"
        (click)="mergeWorkpackage()"
        data-qa="work-packages-merge"
      >
        Merge
      </button>
      <button
        type="button"
        mat-raised-button
        color="primary"
        *ngIf="workpackageActionReset"
        (click)="resetWorkpackage()"
        data-qa="work-packages-reset"
      >
        Reset
      </button>
      <button
        type="button"
        mat-raised-button
        color="primary"
        *ngIf="workpackageActionSupersede"
        (click)="supersedeWorkpackage()"
        data-qa="work-packages-supersede"
      >
        Supersede
      </button>
      <button
        type="button" 
        mat-flat-button 
        color="primary" 
        (click)="onArchive()" 
        data-qa="work-packages-archive"
        *ngIf="currentState"
      >
        {{ archived ? 'Unarchive' : 'Archive' }}
      </button>
      <button
        type="button"
        mat-flat-button
        color="warn"
        *ngIf="['superseded', 'draft'].includes(workPackageStatus)"
        (click)="onDelete()"
        data-qa="work-packages-delete"
      >
        Delete
      </button>
    </div>
    <div *ngIf="isEditable">
      <button mat-flat-button color="primary" (click)="onSave()" data-qa="work-packages-save">Save</button>
      <button mat-flat-button (click)="onCancel()" data-hook="work-packages-cancel">Cancel</button>
    </div>
  </div>
</form>


<div *ngIf="approversTableData?.length === 0 && workpackageActionSubmit" class="alert alert-danger">
  No approvers identified. None of the components you are adding or updating have owners. Please assign owners to be able to submit
</div>
