.container {
  display: flex;
  padding: 15px 15px;
}

.filter {
  flex-grow: 1;
}

span {
  padding-top: 5px;
  margin-left: 20px;
  font-size: 12px;
}

button {
  border-radius: 15px;
  font-weight: lighter;
  padding-right: 25px;
  margin-right: 10px;
}

.reset {
  min-width: 0;
  padding-left: 5px;
  padding-right: 0;
}

.mat-icon {
  font-size: 18px;
  margin-right: 5px;
  margin-top: 4px;
  padding: 0;
}
