.mat-form-field {
  width: 100%;
}

button {
  margin-right: 8px;
}

.disabled {
  pointer-events: none;
}

.editable {
  background-color: #fff;
}

.mat-slide-toggle {
  margin-bottom: 20px;
}

.disableButton {
  background-color: #e7b416;
  color: #fff;
}
