<form [formGroup]="group">
    <!-- Name -->
    <mat-form-field [ngClass]="{disabled: !isEditable}">
        <input matInput placeholder="Name" formControlName="name">
        <mat-error>This field is required</mat-error>
    </mat-form-field>

    <!-- Description -->
    <mat-form-field [ngClass]="{disabled: !isEditable}">
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>

    <div *ngIf="!teamModal">
        <div class="actions" *ngIf="!isEditable">
            <button mat-raised-button color="primary" (click)="onEdit()">Edit</button>
            <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
        </div>
        <div class="actions" *ngIf="isEditable">
            <button mat-raised-button color="primary" (click)="onSave()" [disabled]="group.invalid">Save</button>
            <button mat-raised-button (click)="onCancel()">Cancle</button>
        </div>
    </div>
</form>