<mat-label class="title">Tags</mat-label>
<mat-form-field>
  <mat-chip-list #chipList>
    <smi-tag *ngFor="let tag of tags" [tag]="tag" [removable]="editMode" (remove)="onRemove(tag)"></smi-tag>
    <input
      #tagInput
      *ngIf="editMode"
      [formControl]="tagControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [ngClass]="{ editable: workPackageIsEditable }">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <div class="option-container">
      <mat-option *ngFor="let tag of filteredTags$ | async" [value]="tag.id">
        {{tag.name}}
      </mat-option>
    </div>
    <mat-option *ngIf="tagControl.value as tagInputValue" [value]="'@create_' + tagInputValue">
      {{tagInputValue}} (create new)
    </mat-option>
    <mat-option value="manage" id="manage-tags">
      Manage Tags
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
