mat-form-field {
  width: 100%;
}

::ng-deep .mat-autocomplete-panel.mat-autocomplete-visible {
  display: flex;
  flex-direction: column;
}
.option-container {
  overflow: auto;
}

.editable {
  background-color: #fff;
}

#manage-tags {
  margin: 5px;
  background-color: #ddd;
  color: #42526e;
}

.title {
  color: rgba(0,0,0,.58);
  font: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px !important; 
}