<mat-tab-group mat-stretch-tabs class="stretched-tabs mat-elevation-z4" [@.disabled]="true">
    <mat-tab label="Object">
        <smi-object-details-form
            [group]="group"
            [clickedOnLink]="clickedOnLink"
            [nodeSelected]="nodeSelected"
            [isEditable]="isEditable"
            (editDetails)="onEditDetails($event)"
            (saveAttribute)="onSaveAttribute($event)"
            (deleteAttribute)="onDeleteAttribute($event)">
        </smi-object-details-form></mat-tab>
    <mat-tab label="Comments"> Comments </mat-tab>
    <mat-tab label="Audit"> Audit </mat-tab>
</mat-tab-group>