<app-base-header>
  <app-toolbar-column [fillFreeSpace]="true">
    <app-search (search)="onSearchVersion($event)"></app-search>
  </app-toolbar-column>
  <app-toolbar-column>
    <smi-quicklinks-actions></smi-quicklinks-actions>
  </app-toolbar-column>
</app-base-header>


<app-versions-table
    [data]="versions$ | async"
    [checked]="checked"
    (openVersion)="onOpenVersion($event)"
    (openComments)="onOpenComments($event)"
    (editVersion)="onEditVersion($event)"
    (addVersion)="onAddVersion()"
    (archiveVersion)="onArchiveVersion($event)"
    (copyVersion)="onCopyVersion($event)"
    (unarchiveVersion)="onUnarchiveVersion($event)"
    (deleteVersion)="onDeleteVersion($event)">
</app-versions-table>
