<div class="container">
    <h1 class="title">Systems</h1>

    <p>Object Display:</p>
    <mat-list role="list">
        <mat-list-item role="listitem">
            <mat-checkbox checked="true" (change)="checkboxClicked($event, 'name')">Name</mat-checkbox>
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-checkbox (change)="checkboxClicked($event, 'description')">Description</mat-checkbox>
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-checkbox checked="true" (change)="checkboxClicked($event, 'tags')">Tags</mat-checkbox>
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-checkbox (change)="checkboxClicked($event, 'owner')">Owners</mat-checkbox>
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-checkbox checked="true" (change)="checkboxClicked($event, 'nextLevel')">Next level</mat-checkbox>
        </mat-list-item>
    </mat-list><br>

    <p>Link Display:</p>
    <mat-list role="list">
        <mat-list-item role="listitem">
            <mat-checkbox checked="true" (change)="checkboxClicked($event, 'dataLinks')">Show Data Links</mat-checkbox>
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-checkbox checked="true" (change)="checkboxClicked($event, 'masterDataLinks')">Show Master Data Links
            </mat-checkbox>
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-checkbox (change)="checkboxClicked($event, 'linkName')">Name</mat-checkbox>
        </mat-list-item>
    </mat-list>
</div>
