.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 400px;
  height: calc(100vh - 55px);
  overflow: auto;
}

.alert {
  font-size: 12px;
}

.content {
  width: 100%;
  padding: 15px;
}

.components-block, .links-block {
  padding: 0px 15px;
}

.title {
  color: rgb(66, 82, 110);
  font-size: 18px;
  &:last-of-type {
    margin: 10px 0px 15px 0px;
  }
}

table {
  width: 100%;
  margin-bottom: 5px;
}

.text {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  color: #222;
  padding: 5px 0px;
  &:last-of-type {
    margin-bottom: 5px;
  }
}

.mat-checkbox {
  font-size: 14px;
  color: #222;
}

.mat-form-field {
  width: 100%;
  &:first-of-type {
    margin: 5px 0px;
  }
}

.layout-action-button {
  border-radius: 7px;
  min-height: 23px !important;
  min-width: 100px !important;
  font-size: 10px !important;
  line-height: 0px;
  float: right;
}

.add-layout-btn {
  position: relative;
  bottom: 10px;
  left: 15px;
  width: 100px;
  border-radius: 7px;
  font-weight: lighter;
  margin-top: 10px;
}