<div class="wrapper">
  <div class="content">
    <div class="alert alert-warning" *ngIf="layout?.id === defaultLayout" role="alert">
      Layout settings cannot be saved for Auto Postion layout
    </div>
    <form [formGroup]="group">
      <h6 class="title">Components</h6>
      <div class="components-block">
        <table>
          <tr>
            <td class="text">Name Only</td>
            <td>
              <!-- <button mat-raised-button color="primary" [disabled]="!group.valid" (click)="collapseAllNodes.emit()"
                class="layout-action-button">
                Collapse All
              </button> -->
            </td>
          </tr>
          <tr>
            <td class="text">Short Summary</td>
            <td>
              <!-- <button mat-raised-button color="primary" [disabled]="!group.valid" (click)="summariseAllNodes.emit()"
                class="layout-action-button">
                Summarise All
              </button> -->
            </td>
          </tr>
        </table>

        <div formGroupName="components">
          <mat-list-item role="listitem">
            <mat-checkbox (change)="checkboxClicked($event, 'tags')" #Tags formControlName="showTags">
              Show Tags
            </mat-checkbox>
          </mat-list-item>

          <mat-list-item role="listitem">
            <mat-checkbox (change)="checkboxClicked($event, 'showRadioAlerts')" formControlName="showRADIO">
              Show RADIO Alert
            </mat-checkbox>
          </mat-list-item>

          <!-- <mat-form-field>
            <mat-select (selectionChange)="filterRadioSeverity.emit($event, 'componentsFilter')"
              formControlName="filterRADIOSeverity" placeholder="Severity filter">
              <mat-option *ngFor="let filter of severityFilter" [value]="filter.level">
                {{ filter.level }} - {{ filter.text }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->

          <table>
            <tr>
              <td class="text">Detail</td>
              <td>
                <!-- <button mat-raised-button color="primary" [disabled]="!group.valid" (click)="expandAll.emit()"
                  class="layout-action-button">
                  Expand All
                </button> -->
              </td>
            </tr>
          </table>

          <mat-list-item role="listitem">
            <mat-checkbox (change)="checkboxClicked($event, 'description')" #Description
              formControlName="showDescription">
              Description</mat-checkbox>
          </mat-list-item>

          <mat-list-item role="listitem">
            <mat-checkbox (change)="checkboxClicked($event, 'owners')" #Owners formControlName="showOwners">Owners
            </mat-checkbox>
          </mat-list-item>

          <mat-list-item role="listitem">
            <mat-checkbox (change)="checkboxClicked($event, 'nextLevel')" formControlName="showNextLevel">Next level
            </mat-checkbox>
          </mat-list-item>

          <!-- <mat-list-item role="listitem">
            <mat-checkbox (change)="checkboxClicked($event, 'attributes')" formControlName="showAttributes">Attributes
            </mat-checkbox>
          </mat-list-item>

          <mat-list-item role="listitem">
            <mat-checkbox (change)="checkboxClicked($event, 'rules')" formControlName="showRules">Rules</mat-checkbox>
          </mat-list-item> -->
        </div>
      </div>

      <!-- Interfaces and Links -->

      <h6 class="title">Interfaces and Links</h6>
      <div class="links-block" formGroupName="links">
        <mat-list-item role="listitem">
          <mat-checkbox (change)="checkboxClicked($event, 'dataLinks')" formControlName="showDataLinks">
            Show Data Links
          </mat-checkbox>
        </mat-list-item>

        <mat-list-item role="listitem">
          <mat-checkbox (change)="checkboxClicked($event, 'masterDataLinks')" formControlName="showMasterDataLinks">
            Show Master Data Links
          </mat-checkbox>
        </mat-list-item>

        <p class="text">Display</p>

        <mat-list-item role="listitem">
          <mat-checkbox (change)="checkboxClicked($event, 'linkName')" formControlName="showName">Name</mat-checkbox>
        </mat-list-item>

        <mat-list-item role="listitem">
          <mat-checkbox (change)="checkboxClicked($event, 'linkRadio')" formControlName="showRADIO">Show RADIO Alert
          </mat-checkbox>
        </mat-list-item>

        <!-- <mat-form-field>
          <mat-select (selectionChange)="filterRadioSeverity.emit($event, 'linkFilter')" placeholder="Severity filter"
            formControlName="filterRADIOSeverity">
            <mat-option *ngFor="let filter of severityFilter" [value]="filter.level">
              {{ filter.level }} - {{ filter.text }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-list-item role="listitem">
          <mat-checkbox (change)="checkboxClicked($event, 'linkAttributes')" formControlName="showAttributes">Attributes
          </mat-checkbox>
        </mat-list-item>

        <mat-list-item role="listitem">
          <mat-checkbox (change)="checkboxClicked($event, 'linkRules')" formControlName="showRules">Rules</mat-checkbox>
        </mat-list-item> -->
      </div>
    </form>
  </div>

  <button mat-raised-button color="primary" class="add-layout-btn" (click)="addLayout.emit()">
    Add Layout
  </button>
</div>
