:host {
  letter-spacing: -0.5px;
}

.alert {
  font-size: 14px;
}

form {
  padding: 10px 20px;
  height: calc(100vh - 180px);
}

.content {
  padding-left: 20px;
}

p {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0px;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

a {
  float: right;
  margin-bottom: 3px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  color: #555;
  letter-spacing: -0.5px;
  &:nth-child(1),
  &:nth-child(2) {
    margin-bottom: 12px;
  }
}

button {
  border-radius: 50px;
  min-height: 23px !important;
  min-width: 100px !important;
  font-size: 10px !important;
  line-height: 0px;
  float: right;
}

.mat-form-field {
  width: 100%;
  margin-top: 10px;
}
