<h1 mat-dialog-title>Add Layout</h1>
<ng-container *ngIf="processing">
  <div ngClass="spinner-container">
    <mat-spinner data-qa="topology-layout-modal-spinner"></mat-spinner>
  </div>
</ng-container>
<form (ngSubmit)="onSubmit()" [formGroup]="nameForm">
  <mat-form-field>
    <input data-qa="topology-save-layout-modal-name" matInput placeholder="Name" formControlName="name" />
  </mat-form-field>
  <div mat-dialog-actions>
    <button data-qa="topology-save-layout-modal-save" mat-button>Save</button>
  </div>
</form>
