<h1 mat-dialog-title>In which work package(s) does this RADIO apply?</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-select data-qa="topology-radio-confirm-modal-name" placeholder="Work Packages" [formControl]="workpackage" multiple>
      <mat-option *ngFor="let workpackage of selectedWorkPackages" [value]="workpackage">
        {{ workpackage.name }}
      </mat-option>
    </mat-select>
    <mat-error>Please select work package</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onSave()" data-qa="topology-radio-confirm-modal-save">Save</button>
  <button mat-button (click)="onCancel()" data-qa="topology-radio-confirm-modal-cancel">Cancel</button>
</div>