:host {
  color: #7d7c7c;
  display: block;
  ul {
    list-style: none;
    li {
      cursor: pointer;
      & > span {
        cursor: pointer;
        display: flex;
        text-transform: capitalize;
      }
      ul {
        li {
          &:hover {
            text-decoration: underline;
          }
          &.selected {
            cursor: pointer;
            font-weight: bold;
            color: #3f51b5;
          }
        }
      }
    }
  }
}
