.container {
  display: flex;
  padding: 15px 15px;
}

.filter {
  flex-grow: 1;
}

span {
  padding-top: 5px;
  margin-left: 20px;
  font-size: 12px;
}

button {
  border-radius: 15px;
  font-weight: lighter;
  padding-right: 25px;
}

.mat-icon {
  font-size: 18px;
  margin-right: 5px;
  margin-top: 4px;
  padding: 0;
}

.radio-view-save-icon {
  cursor: pointer;
}

.filterViewContainer {
  padding: 5px;
  border: 1px solid grey;
}
