<div class="container">
  <div class="filterViewContainer">
    <button mat-raised-button color="primary" (click)="onFilter()" data-qa="radio-filter">
      <mat-icon>filter_list</mat-icon>Filters
    </button>

    <mat-form-field floatLabel="never" appearance="none" matTooltip="Select radio view">
      <mat-select [value]="selectedTableStyle | async" data-qa="header-layer">
        <mat-option
          *ngFor="let style of tableStyleOptions"
          (click)="onRadioTableStyleSelect(style.value)"
          [value]="style.value"
        >
          {{ style.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field floatLabel="never" appearance="none" matTooltip="Select radio view">
      <mat-select placeholder="Select radio view" [(value)]="selectedRadioViewId" data-qa="header-layer">
        <mat-option *ngFor="let view of radioViews" (click)="onRadioViewSelect(view)" [value]="view.id">
          {{ view.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="hasActiveFilters">
      <span class="actions">
        <mat-icon
          matTooltip="Save"
          *ngIf="selectedRadioViewId"
          class="radio-view-save-icon"
          (click)="onUpdateRadioView()"
          >save</mat-icon
        >
        <mat-icon matTooltip="Create New" (click)="onCreateRadioView()">file_copy</mat-icon>
        <mat-icon
          matTooltip="Reset"
          *ngIf="selectedRadioViewId"
          class="radio-view-save-icon"
          (click)="onRadioViewReset()"
          >clear</mat-icon
        >
      </span>
    </ng-container>

    <ng-container *ngIf="selectedRadioViewId">
      <span class="actions">
        <mat-icon matTooltip="Delete" class="radio-view-save-icon" (click)="onRadioViewDelete()">delete</mat-icon>
        <mat-icon
          matTooltip="Set as Favourite"
          *ngIf="selectedRadioView.favourite"
          class="radio-view-save-icon"
          (click)="onRemoveFavourite()"
          >star</mat-icon
        >
        <mat-icon
          matTooltip="Set as Favourite"
          *ngIf="!selectedRadioView.favourite"
          class="radio-view-save-icon"
          (click)="onAddFavourite()"
          >star_border</mat-icon
        >
      </span>
    </ng-container>
  </div>

  <div class="additional-filters-container" *ngIf="tableStyles.MANAGEMENT === selectedTableStyle.getValue()">
    <app-analysis-filter></app-analysis-filter>
    <smi-risk-matrix-chart></smi-risk-matrix-chart>
  </div>
</div>
