<div class="container">
  <div class="content">
    <button mat-raised-button color="primary" (click)="onFilter()" data-qa="radio-filter">
      <mat-icon>filter_list</mat-icon>Filters
    </button>
    <mat-form-field floatLabel="never" appearance="none">
      <mat-select placeholder="Basic table">
        <mat-option>Basic table</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field floatLabel="never" appearance="none" matTooltip="Select radio view">
      <mat-select placeholder="Select radio view" [(value)]="selectedRadioViewId" data-qa="header-layer">
         <mat-option *ngFor="let view of radioViews" (click)="onRadioViewSelect(view)" [value]="view.id">
          {{ view.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container *ngIf="hasActiveFilters">
      <span class="actions">
        <mat-icon *ngIf="selectedRadioViewId" class="radio-view-save-icon" (click)="onUpdateRadioView()">save</mat-icon>
        <mat-icon (click)="onCreateRadioView()">file_copy</mat-icon>
        <mat-icon *ngIf="selectedRadioViewId" class="radio-view-save-icon" (click)="onRadioViewReset()">clear</mat-icon>
      </span>
    </ng-container>
    <ng-container *ngIf="selectedRadioViewId">
      <span class="actions">
        <mat-icon class="radio-view-save-icon" (click)="onRadioViewDelete()">delete</mat-icon>
        <mat-icon *ngIf="selectedRadioView.favourite" class="radio-view-save-icon" (click)="onRemoveFavourite()"
          >star</mat-icon
        >
        <mat-icon *ngIf="!selectedRadioView.favourite" class="radio-view-save-icon" (click)="onAddFavourite()"
          >star_border</mat-icon
        >
      </span>
    </ng-container>
  </div>
</div>
