.container {
  // FIXME: temp disabled
  // display: flex;
  padding: 15px 15px;
}

.content {
  flex-grow: 1;
}

button {
  border-radius: 15px;
  font-weight: lighter;
  padding-right: 25px;
}

.mat-icon {
  cursor: pointer;
  font-size: 18px;
  margin-right: 5px;
  margin-top: 4px;
  padding: 0;
}

.mat-form-field {
  font-size: 12px;
  margin-top: 8px;
  width: 170px;
  opacity: 1;
  margin-left: 5px;
}

.mat-select {
  background-color: #ddd;
  padding: 10px 8px;
  border-radius: 5px;
}

.actions {
  position: relative;
  top: 5px;
  left: 10px;
  .mat-icon {
    color: #555;
  }
}

// .additional-filters-container {
//   display: flex;
// }
