.title {
    font-size: 25px;
    text-align: center;
    margin-top: 100px;
}

.table-container {
    width: 60%;
    margin: auto;
}

table {
    width: 100%;
}

tr.mat-header-row {
    height: 35px;
}

button:focus {
    outline: none;
}

.mat-icon {
    cursor: pointer;
}

th.mat-column-empty {
    width: 15%;
}

th.mat-column-name {
    width: 60%;
}

th.mat-column-star {
    width: 5%;
}