.title {
  font-size: 25px;
  text-align: center;
}

.wrapper {
  width: 60%;
  margin: 50px auto auto;
}

table {
  width: 100%;
}

tr.mat-header-row {
  height: 35px;
}

button:focus {
  outline: none;
}

.mat-icon {
  cursor: pointer;
}

th.mat-column-date {
  width: 15%;
}

th.mat-column-type {
  width: 15%;
}

th.mat-column-navigate {
  width: 5%;
}

.noDataFound {
  background-color: #fff;
  border-bottom: solid 1px #ddd;
  font-size: 15px;
  padding: 20px 0;
  text-align: center;
}
