<mat-form-field>
  <input matInput data-qa="topology-add-existing-attribute-quick-search" (keyup)="onSearch($event.target.value)" placeholder="Search">
</mat-form-field>

<table mat-table [dataSource]="dataSource">
  <!-- Category Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Category</th>
    <td mat-cell *matCellDef="let element">{{ element.category }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    [ngClass]="{ highlight: selectedRowIndex == row.id }"
    (click)="onSelectRow(row)"
  ></tr>
</table>