<div class="yAxisContainer">
  <div class="impact">
    <span>Impact</span>
  </div>
  <div class="yAxis">
    <span class="left">Major</span>
    <span class="left">Minor</span>
  </div>
  <div class="xAxisContainer">
    <div class="xAxis">
      <span>Low</span>
      <span class="probability">Probability</span>
      <span>High</span>
    </div>
    <div *ngFor="let row of matrix$ | async; let rowIndex = index" class="row">
      <div
        *ngFor="let col of row; let colIndex = index"
        class="col"
        (click)="handleColClick(rowIndex, colIndex)"
        [ngStyle]="{ 'background-color': getColorAccordingIndex(rowIndex + colIndex, col) }"
        [ngClass]="{ selected: isSelected(rowIndex, colIndex) }"
      >
        {{ col }}
      </div>
    </div>
    <div class="xAxis">
      <span>Low</span>
      <span>High</span>
    </div>
  </div>
  <div class="yAxis">
    <span class="right">Major</span>
    <span class="right">Minor</span>
  </div>
</div>
<br><br>
<div class="clear-selection" *ngIf="selectedRiskMatrixCol">
  <span (click)="clearSelection($event)">Clear selection</span>
</div>
