table {
  width: 100%;
  tr.mat-header-row {
    height: 35px;
  }
  th.mat-column-name {
    width: 40%;
  }
  th.mat-column-edit {
    width: 5%;
  }
  th.mat-column-delete {
    width: 5%;
  }
}

.mat-icon {
  cursor: pointer;
}
