<form [formGroup]="group">
  <div>
    <mat-form-field [ngClass]="{ disabled: !isEditable }">
      <input
        matInput
        placeholder="Title"
        data-qa="radio-detail-title"
        formControlName="title"
        [ngClass]="{ editable: isEditable }"
      />
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <div class="align-in-row" [ngClass]="{ disabled: !isEditable }">
      <mat-form-field [ngClass]="{ categoryInput: modalMode }">
        <mat-label>Category</mat-label>
        <mat-select data-qa="radio-detail-category" formControlName="category" [ngClass]="{ editable: isEditable }">
          <mat-option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="ref-number-input" *ngIf="!modalMode">
        <mat-label>Ref. Number</mat-label>
        <input
          matInput
          placeholder="Ref. Number"
          data-qa="radio-detail-reference-number"
          formControlName="reference"
          readonly
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select data-qa="radio-detail-status" formControlName="status" [ngClass]="{ editable: isEditable }">
          <mat-option *ngFor="let status of status" [value]="status">
            {{ status }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field>
      <textarea
        matInput
        placeholder="Description"
        [ngStyle]="{ display: 'none' }"
        formControlName="description"
      ></textarea>
      <ckeditor [editor]="editor" [config]="config" formControlName="description" [ngClass]="{hidden: !isEditable}"></ckeditor>
      <div class="description-content" [innerHTML]="group.controls['description'].value" [ngClass]="{hidden: isEditable}"></div>
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <div class="align-in-row" [ngClass]="{ disabled: !isEditable }">
      <mat-form-field class="assigned-to-input">
        <mat-label>Assigned To</mat-label>
        <mat-select
          data-qa="radio-detail-assigned-to"
          formControlName="assignedTo"
          [compareWith]="compareUsers"
          [ngClass]="{ editable: isEditable }"
        >
          <mat-option *ngFor="let user of users" [value]="user"> {{ user.firstName }} {{ user.lastName }} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input
          data-qa="radio-detail-action-by"
          matInput
          [matDatepicker]="picker"
          placeholder="Action By"
          formControlName="actionBy"
          [ngClass]="{ editable: isEditable }"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <mat-form-field [ngClass]="{ disabled: !isEditable }">
      <textarea
        matInput
        [rows]="rows"
        placeholder="Mitigation / Resolution"
        data-qa="radio-detail-mitigation"
        formControlName="mitigation"
        [ngClass]="{ editable: isEditable }"
      ></textarea>
    </mat-form-field>
  </div>

  <div class="radio-actions" *ngIf="!modalMode">
    <div *ngIf="!isEditable">
      <button
        data-qa="radio-detail-edit"
        mat-raised-button
        color="primary"
        (click)="onEdit()"
      >
        Edit
      </button>
      <button
        data-qa="radio-detail-delete"
        *ngIf="radioStatus === 'closed'"
        mat-raised-button
        color="warn"
        (click)="onDelete()"
      >
        Delete
      </button>
      <button
        data-qa="radio-detail-archive"
        mat-raised-button
        class="archive-btn"
        [disabled]="radioStatus === 'closed'"
        (click)="onArchive()"
      >
        Close
      </button>
    </div>
    <div *ngIf="isEditable">
      <button mat-raised-button color="primary" (click)="onSave()" data-qa="radio-detail-save">Save</button>
      <button mat-raised-button (click)="onCancel()" data-qa="radio-detail-cancel">Cancel</button>
    </div>
  </div>

  <smi-tag-list 
    [tags]="tags"
    [availableTags]="availableTags"
    [editMode]="true"
    [workPackageIsEditable]="true"
    (addTag)="addTag.emit($event)"
    (removeTag)="removeTag.emit($event)"
    (updateAvailableTags)="updateAvailableTags.emit()"
  >
  </smi-tag-list>

  <smi-relates-to-table
    data-qa="radio-detail-relates-to-table"
    [data]="relatesTo"
    *ngIf="!modalMode"
    (unlinkRelatesTo)="unlinkRelatesTo.emit($event)"
    (addRelatesTo)="addRelatesTo.emit()"
  ></smi-relates-to-table>
</form>
