.mat-form-field {
  width: 100%;
  margin: 5px 0px;
}

.radio-actions {
  margin-bottom: 20px;
}

.archive-btn {
  float: right;
}

button {
  margin-right: 5px;
  border-radius: 15px;
  font-weight: lighter;
}

.mat-icon {
  font-size: 18px;
  margin-right: 5px;
  margin-top: 4px;
  padding: 0;
}

.disabled {
  pointer-events: none;
}

.editable {
  background-color: #fff;
}

.spaceToRight {
  margin-right: 35px;
}

.align-in-row {
  display: flex;
  align-items: stretch;
}

.hidden {
  display: none;
}
.description-content {
  padding: 10px 0 0 10px;
  height: 100px;
  font-size: 14px;
}
::ng-deep .ck-content {
  background-color:white;
  height: 110px;
  font-size: 14px;
}

p {
  text-align: center;
  font-size: 16px;
}

.slider-title {
  display: inline-block; 
  pointer-events: auto;
  color: rgba(0,0,0,.54);
  font-size: 12px !important;
}

.slider-value {
  color: #939393;
  font-weight: 500;
  margin: 0px 10px;
  position: relative;
  top: 2px;
}

.mat-chip-list {
  display: inline-block;
  margin-left: 5px;
}

.mat-chip {
  color: #fff;
}

.slider-wrapper {
  width: 100%;
  &:first-of-type {
    margin-right: 35px;
  }
}

.exit-btn {
  cursor: pointer;
  float: right;
  border: none;
  padding: 5px;
}