.comments-detail-container {
    display: flex;
    flex-direction: column;
    margin: 7px 0;
}
  
.comments-detail-container > * {
    width: 100%;
}

label{
    font-size: 12px;
    margin: 0;
    font-weight: 400;
}

.form-group {
    margin: 0;
}

.form-control[readonly]{
    background-color: #fff;
}

textarea {
    resize: none;
    width: 100%;
}

.form-row{
    padding: 0;
}

.buttons-group{
    padding: 10px 0px 5px 0px;
}

.archive{
    float: right;
}

button{
    margin-right: 5px;
}

.disabled {
    pointer-events: none;
}