<form [formGroup]="tagForm">
  <mat-form-field class="name-field">
      <input matInput formControlName="name" placeholder="Tag Name" />
  </mat-form-field>
  <div class="second-row">
    <mat-form-field class="colour-field" matTooltip="Choose the colour of the tag.">
      <mat-select placeholder="Colour" [(value)]="selectedColour" formControlName="backgroundColour">
        <mat-select-trigger>
          <span class="square" [ngStyle]="{backgroundColor: selectedColour}"></span>
        </mat-select-trigger>
        <div class="option-row">
          <mat-option [value]="tagColour.white" class="colour-option">
            <span class="square" [ngStyle]="{backgroundColor: tagColour.white}"></span>
          </mat-option>
          <mat-option [value]="tagColour.brown" class="colour-option">
            <span class="square" [ngStyle]="{backgroundColor: tagColour.brown}"></span>
          </mat-option>
          <mat-option [value]="tagColour.black" class="colour-option">
            <span class="square" [ngStyle]="{backgroundColor: tagColour.black}"></span>
          </mat-option>
        </div>
        <div class="option-row">
          <mat-option [value]="tagColour.yellow" class="colour-option">
            <span class="square" [ngStyle]="{backgroundColor: tagColour.yellow}"></span>
          </mat-option>
          <mat-option [value]="tagColour.orange" class="colour-option">
            <span class="square" [ngStyle]="{backgroundColor: tagColour.orange}"></span>
          </mat-option>
          <mat-option [value]="tagColour.red" class="colour-option">
            <span class="square" [ngStyle]="{backgroundColor: tagColour.red}"></span>
          </mat-option>
        </div>
        <div class="option-row">
          <mat-option [value]="tagColour.green" class="colour-option">
            <span class="square" [ngStyle]="{backgroundColor: tagColour.green}"></span>
          </mat-option>
          <mat-option [value]="tagColour.purple" class="colour-option">
            <span class="square" [ngStyle]="{backgroundColor: tagColour.purple}"></span>
          </mat-option>
          <mat-option [value]="tagColour.blue" class="colour-option">
            <span class="square" [ngStyle]="{backgroundColor: tagColour.blue}"></span>
          </mat-option>
        </div>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="icon-field" matTooltip="This icon will appear in the diagram against any component with this tag.">
      <mat-select placeholder="Icon" [(value)]="selectedIcon" formControlName="iconName">
        <mat-select-trigger>
          <mat-icon *ngIf="selectedIcon !== 'none' else none" [svgIcon]="selectedIcon"></mat-icon>
          <ng-template #none>None</ng-template>
        </mat-select-trigger>
        <mat-option value="none">None</mat-option>
        <mat-option *ngFor="let icon of tagIcons" [value]="icon">
          <mat-icon [svgIcon]="icon"></mat-icon>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-form-field class="applicable-to" matTooltip="Select where this tag should be available">
    <mat-select placeholder="Applicable To" formControlName="applicableTo" multiple [(value)]="selectedApplicableTo">
      <div class="search-container">
        <input placeholder="Search" (keydown)="$event.stopPropagation()" #search />
        <button mat-icon-button class="clear" (click)="this.search.value = ''">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <mat-select-trigger>
        {{ isEverywhereSelected ? tagApplicableTo.everywhere : selectedApplicableTo.join(', ') }}
      </mat-select-trigger>
      <mat-option 
        *ngFor="let comp of applicableTo" 
        [value]="comp" 
        (click)="selectedOption(comp)" 
        [disabled]="currentComponentType === comp"
        [class.hide]="filter(comp)"
      >
        {{comp}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
<div mat-dialog-actions class="mat-dialog-actions">
  <button
    mat-raised-button
    color="primary"
    [disabled]="!tagForm.valid"
    (click)="onConfirm()"
    data-hook="radio-delete-modal-yes"
  >
    Confirm
  </button>
  <button mat-raised-button (click)="onCancel()" data-hook="radio-delete-modal-no">Cancel</button>
</div>
