.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 17px;
}
.name-field {
  width: 100%;
}
.icon-field {
  width: 100px;

  mat-select {
    text-align: center;
  }
}
.second-row {
  display: flex;
  justify-content: space-between;
  min-height: 72px;
}

.applicable-to {
  width: 75%;
}
.option-row {
  display: flex;
  padding-left: 42px;
  padding-right: 10px;
  &:last-child {
    padding-bottom: 10px;
  }
  &:first-child {
    padding-top: 10px;
  }
}
.colour-field {
  width: 150px;
}
.square {
  height: 30px;
  width: 30px;
  border: solid 1px black;
  display: block;
  margin: auto;
}

mat-option.colour-option {
  padding: 0;
  height: 30px;
}

