<div class="wrapper" *ngIf="workpackageSelected">
    <h1 class="title">Change</h1>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
            <!-- Change Column -->
            <ng-container matColumnDef="change">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Change </th>
                <td mat-cell *matCellDef="let element"> {{element.change}} </td>
            </ng-container>

            <!-- Layer Column -->
            <ng-container matColumnDef="layer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Layer </th>
                <td mat-cell *matCellDef="let element"> {{element.layer}} </td>
            </ng-container>

            <!-- Object Column -->
            <ng-container matColumnDef="object">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Object </th>
                <td mat-cell *matCellDef="let element"> {{element.object}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
    </div>
</div>