<h1 mat-dialog-title>New</h1>
<div mat-dialog-content>
  <smi-report-library-detail
    data-qa="reports-modal-details"
    [owners]="owners$ | async"
    [group]="reportDetailForm"
    [modalMode]="true"
    [isEditable]="true"
    [workPackageIsEditable]="true"
    [systems]="systems$ | async"
  >
  </smi-report-library-detail>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onSubmit()" data-qa="reports-modal-save">Save</button>
  <button mat-button (click)="onCancel()" data-qa="reports-modal-cancel">Cancel</button>
</div>
