.mat-form-field {
  width: 100%;
}

button {
  margin-right: 8px;
}

.disabled {
  pointer-events: none;
}

.levels-label {
  margin-bottom: 5px;
  margin-top: 10px;
}

.editable {
  background-color: #fff;
}
