<form [formGroup]="group" data-hook="documentation-standards-details">
  <div [ngClass]="{ disabled: !isEditable }">
    <!-- Name -->
    <mat-form-field>
      <input
        matInput
        placeholder="Name"
        formControlName="name"
        data-qa="documentation-standards-details-name"
        [ngClass]="{ editable: isEditable }"
      />
      <mat-error>This field is required!</mat-error>
    </mat-form-field>

    <!-- Description -->
    <mat-form-field>
      <textarea
        rows="5"
        matInput
        placeholder="Description"
        formControlName="description"
        data-qa="documentation-standards-details-description"
        [ngClass]="{ editable: isEditable }"
      ></textarea>
    </mat-form-field>

    <!-- Type -->
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="type" data-qa="documentation-standards-details-type" [ngClass]="{ editable: isEditable }">
        <mat-option *ngFor="let type of types" [value]="type" data-hook="documentation-standards-details-type">
          {{ type }}
        </mat-option>
      </mat-select>
      <mat-error>This field is required!</mat-error>
    </mat-form-field>
  </div>

  <!-- Levels -->
  <div class="form-group">
    <label class="levels-label"><h6>Component Types</h6></label>
    <smi-document-standards-levels [control]="group.controls.levels" [isDisabled]="isDisabled" [modalMode]="modalMode">
    </smi-document-standards-levels>
  </div>

  <div *ngIf="!modalMode">
    <div *ngIf="!isEditable">
      <button
        type="button"
        data-qa="documentation-standards-edit"
        mat-raised-button
        color="primary"
        (click)="onEdit()"
      >
        Edit
      </button>
      <!-- <button type="button" data-hook="document-standarts-details-copy" mat-raised-button color="primary">Copy</button> -->
      <button
        type="button"
        data-qa="documentation-standards-delete"
        mat-raised-button
        color="warn"
        (click)="onDelete()"
      >
        Delete
      </button>
    </div>
    <div *ngIf="isEditable">
      <button
        type="button"
        data-qa="documentation-standards-save"
        mat-raised-button
        color="primary"
        (click)="onSave()"
      >
        Save
      </button>
      <button type="button" data-qa="documentation-standards-cancel" mat-raised-button (click)="onCancel()">
        Cancel
      </button>
    </div>
  </div>
</form>
