.form-actions {
  float: right;
  padding-bottom: 30px;
}

.mat-form-field {
  width: 100%;
}

button {
  margin-right: 8px;
}

.disabled {
  pointer-events: none;
}

.levels-label {
  margin-bottom: 5px;
  font-weight: 400;
}
