<form [formGroup]="group">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="name">
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" rows="3" formControlName="description"></textarea>
    </div>
    <div class="form-group">
        <label>Type</label>
        <input type="text" class="form-control" formControlName="type">
    </div>
    <div class="form-group">
        <label>Level</label>
        <textarea class="form-control" rows="3" formControlName="levels"></textarea>
    </div>

    <br>
    <button type="button" mat-raised-button color="primary">Edit</button>
    <button type="button" mat-raised-button color="primary">Open</button>
    <button type="button" mat-raised-button color="primary">Copy</button>
    <button type="button" mat-raised-button color="warn">Delete</button>
</form>