.mat-dialog-actions{
  display: flex;
  justify-content: flex-end;
  padding-bottom: 17px;
}

button {
  border-radius: 15px;
  font-weight: lighter;
  &:focus {
    outline: none;
  }
}

button:nth-child(1){
  margin-left: 15px;
}