<h1 mat-dialog-title>Filters for the RADIO log</h1>
<div mat-dialog-content>
  <smi-filter-radio-form
    data-qa="radio-filter-form"
    [group]="filterRadioForm"
    [users]="users$ | async"
    [nodes]="nodes$ | async"
    [workpackages]="workpackages$ | async"
    [tags]="tags$ | async"
  >
  </smi-filter-radio-form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onSubmit()" data-qa="radio-filter-modal-apply">Apply</button>
  <button mat-button (click)="onCancel()" data-qa="radio-filter-modal-cancel">Cancel</button>
</div>
