<h1 mat-dialog-title>New Work Package</h1>
<smi-workpackage-detail
  data-hook="workpackage-detail-in-modal"
  [owners]="owners$ | async"
  [baseline]="baseline$ | async"
  [group]="workPackageDetailForm"
  [modalMode]="modalMode"
  [isEditable]="isEditable"
  [selectedBaselines]="selectedBaseline"
  [selectedOwners]="selectedOwners"
>
</smi-workpackage-detail>
<div mat-dialog-actions>
  <button mat-button (click)="onSubmit()" data-hook="workpackage-modal-save">Save</button>
  <button mat-button (click)="onCancelClick()" data-hook="workpackage-modal-cancel">Cancel</button>
</div>
