<h1 mat-dialog-title>New Work Package</h1>
<div mat-dialog-content>
  <smi-workpackage-detail
    data-qa="work-packages-details-form-modal"
    [owners]="owners$ | async"
    [baseline]="baseline$ | async"
    [group]="workPackageDetailForm"
    [modalMode]="modalMode"
    [isEditable]="isEditable"
    [loading]="loading$ | async"
    [baselineTableData]="baselineData"
    (addBaseline)="onAddBaseline()"
    (deleteBaseline)="onDeleteBaseline($event)"
  >
  </smi-workpackage-detail>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onSubmit()" data-qa="work-packages-modal-save">Save</button>
  <button mat-button (click)="onCancel()" data-qa="work-packages-modal-cancel">Cancel</button>
</div>
