<mat-icon data-qa="topology-layout-actions-zoom-in" (click)="zoomIn.emit()" matTooltip="Zoom In">zoom_in</mat-icon>
<mat-icon data-qa="topology-layout-actions-zoom-out" (click)="zoomOut.emit()" matTooltip="Zoom Out">zoom_out</mat-icon>
<mat-icon data-qa="topology-layout-actions-fit-to-screen" (click)="zoomToFit.emit()" matTooltip="Fit To Screen">zoom_out_map</mat-icon>
<mat-icon data-qa="topology-layout-actions-grid" (click)="showGrid.emit()" matTooltip="Grid">{{ grid ? 'border_clear' : 'border_inner' }}</mat-icon>
<mat-icon data-qa="topology-layout-actions-layout" (click)="editLayout.emit()" [ngClass]="{ disable: dependenciesView }" matTooltip="Edit layout of objects in the canvas">{{ !allowMove ? 'brush' : 'close' }}</mat-icon>
<mat-icon data-qa="topology-layout-actions-download-image" style="margin-right: 20px;" (click)="downloadImage.emit()" matTooltip="Download image of the layout">get_app</mat-icon>
<mat-icon data-qa="topology-layout-actions-save" *ngIf="allowSave" (click)="saveLayout.emit()" matTooltip="Save">save</mat-icon>
<mat-icon data-qa="topology-layout-actions-save-as" *ngIf="allowSaveAs" (click)="saveAsLayout.emit()" matTooltip="Save as New layout">file_copy</mat-icon>
<smi-layouts-dropdown
  (selectLayout)="selectLayout.emit($event)"
  [selectedLayout]="selectedLayout"
  (addLayout)="addLayout.emit()"
  [data]="layouts"
  [allowSave]="allowSave"
  [scope]="scope"
>
</smi-layouts-dropdown>
<mat-icon data-qa="topology-layout-actions-layout-settings" (click)="layoutSettings.emit()" [ngClass]="{ disable: selectedLayout?.id === '00000000-0000-0000-0000-000000000000' }" matTooltip="Layout Settings">settings_applications</mat-icon>
