:host {
  display: flex;
  padding: 5px 7px;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: solid 1px #eee;
}

.mat-icon {
  margin-top: 5px;
  font-size: 23px;
  cursor: pointer;
  color: rgb(66, 82, 110);
  &:nth-child(n+1) {
    margin-right: 5px;
  }
}

.disable {
  pointer-events: none;
  color: #ddd;
}