table {
  width: 100%;
}

tr.mat-row {
  cursor: pointer;
  &:nth-child(even){
    background-color: #f9f9f9;
  }
  &.highlight {
    background-color: #d1d1d1;
  }
}

td.mat-cell {
  border: none;
}

.mat-form-field {
  width: 100%;
}
