button {
    margin-right: 8px;
}

.col-sm-8 {
    padding: 0;
}

.form-group {
    margin-bottom: 8px;
}

form {
    background-color: #fcfcfc;
    border: solid 1px #ddd;
    padding: 30px;
}

.form-actions {
    float: right;
}