<h1 mat-dialog-title>{{ title }}</h1>

<mat-form-field>
  <mat-label>Work package</mat-label>
  <mat-select value="00000000-0000-0000-0000-000000000000" (valueChange)="selectedWorkpackageId = $event">
    <mat-option value="00000000-0000-0000-0000-000000000000">
      Current Architecture
    </mat-option>
    <mat-option *ngFor="let wp of workpackages$ | async" [value]="wp.id">
      {{ wp.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Component</mat-label>
  <mat-select (valueChange)="selectedNodeId = $event">
    <mat-option *ngFor="let node of nodes$ | async" [value]="node.id">
      {{ node.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
<div mat-dialog-actions>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!selectedNodeId"
    (click)="onConfirm()"
    data-hook="radio-delete-modal-yes"
  >
    Confirm
  </button>
  <button mat-raised-button (click)="onCancel()" data-hook="radio-delete-modal-no">Cancel</button>
</div>
