.wrapper {
    margin-bottom: 15px;
}

tr.mat-header-row {
    height: 35px;
}

tr.mat-row {
    height: 35px;
}

table {
    width: 100%;
    border: solid 1px #ddd;
}

.noResultFound {
    background-color: #fff;
    border: solid 1px #ddd;
    border-top: none;
    font-size: 12px;
    padding: 8px 0px;
    i {
        margin-left: 24px;
    }
}