.wrapper {
  margin-bottom: 15px;
}

tr.mat-header-row {
  height: 35px;
}

tr.mat-row {
  height: 35px;
}

table {
  width: 100%;
  border: solid 1px #ddd;
}

.mat-column-name {
  border-right: solid 1px #ddd;
  padding-right: 10px;
}

.mat-column-reportingConcepts {
  padding-left: 10px;
}
