<div class="wrapper">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Dimensions</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="filter">
      <th mat-header-cell *matHeaderCellDef>Filter</th>
      <td mat-cell *matCellDef="let element">{{ element.filter }}</td>
    </ng-container>

    <ng-container matColumnDef="reportingConcepts">
      <th mat-header-cell *matHeaderCellDef>Reporting Concepts</th>
      <td mat-cell *matCellDef="let element">
        <span>
          {{ getConcepts(element)}}
          <button data-qa="reports-dimensions-table-edit" mat-icon-button (click)="onDimensionEdit(element)" *ngIf="edit">
            <mat-icon>edit</mat-icon>
          </button>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
