<h1 mat-dialog-title>
  <span *ngIf="node && node.object && node.object.name else elseBlock">Are you sure you want to delete "{{ node.object.name }}" node ?</span>
  <ng-template #elseBlock>Are you sure you want to delete this node ?</ng-template>
</h1>
<mat-dialog-content>
  <ng-container *ngIf="error">
    <h2 class="error">{{ error }}</h2>
  </ng-container>
  <ng-container *ngIf="processing">
    <mat-spinner></mat-spinner>
  </ng-container>
  <ng-container *ngIf="!processing">
    <ng-container *ngIf="node.links && node.links.length > 0">
      <p><strong>Node contain following links:</strong></p>
      <ul>
        <li *ngFor="let link of node.links">{{ getLinkName(link) }}</li>
      </ul>
    </ng-container>

    <ng-container *ngIf="node.descendants && node.descendants.length > 0">
      <p><strong>Node contain following descendants:</strong></p>
      <ul>
        <li *ngFor="let descendant of node.descendants">
          {{ getNodeName(descendant) }}
        </li>
      </ul>
    </ng-container>
  </ng-container>
</mat-dialog-content>
<div mat-dialog-actions>
  <ng-container *ngIf="!error">
    <button mat-button (click)="onYes()">Yes</button>
     <button mat-button (click)="onNo()">No</button>
   </ng-container>
   <ng-container *ngIf="error">
       <button mat-button (click)="onNo()">Ok</button>
     </ng-container>
</div>