<app-model-container>
  <smi-my-user-form
    [userTeam]="user?.team"
    [userRole]="user?.roles"
    [appCanEdit]="[Roles.ADMIN]"
    [style.width.%]="100"
    [group]="myUserForm"
    [isEditable]="isEditable"
    (editUser)="onEditUser()"
    (saveUser)="onSaveUser()"
    (cancelEdit)="onCancelEdit()"
    [userStatus]="userStatus"
    (deleteUser)="onDeleteUser()"
    [administrators]="administrators"
    [userRoles]="userRoles"
    data-qa="settings-all-users-my-user-form"
    (addTeam)="onAddTeam()"
    (addRole)="onAddRole()"
    (remove)="onRemoveTeamOrRole($event)"
    (resetPassword)="resetPassword()"
    [user]="user"
    [loggedInUser]="loggedInUser"
  >
  </smi-my-user-form>
</app-model-container>
