<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <!-- Category Column -->
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element">
                <ul *ngFor="let attribute of element.attributes">
                    <li (click)="onSelectRow(attribute)">{{ attribute.category | titlecase }}</li>
                </ul>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element">
                <ul *ngFor="let attribute of element.attributes">
                    <li (click)="onSelectRow(attribute)">{{ attribute.name }}</li>
                </ul>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>



