.mat-form-field {
  font-size: 12px;
  margin-top: 8px;
  width: 150px;
  opacity: 1;
  margin-left: 5px;
}

.mat-select {
  background-color: #ddd;
  padding: 10px 8px;
  border-radius: 5px;
}

button {
  min-height: 32px !important;
  width: 100%;
  font-size: 12px !important;
  line-height: 0px;
  font-weight: lighter;
}
