<h1 class="title">Members</h1>
<table class="mat-table" class="mat-elevation-z8">
    <thead>
        <tr class="mat-header-row">
            <th class="mat-header-cell"> First Name </th>
            <th class="mat-header-cell"> Last Name </th>
            <th class="mat-header-cell"> Email </th>
            <th class="mat-header-cell"></th>
        </tr>
    </thead>
    <tbody *ngFor="let element of members">
        <tr class="mat-row" *ngFor="let member of element.members">
            <td class="mat-cell">{{member.firstName}}</td>
            <td class="mat-cell">{{member.lastName}}</td>
            <td class="mat-cell">{{member.email}}</td>
            <td class="mat-cell"><mat-icon (click)="onDelete(member.id)">close</mat-icon></td>
        </tr>
    </tbody>
</table><br>
<button mat-raised-button color="primary" (click)="onAdd()">Add</button>
