.wrapper {
  margin-top: 25px;
}

table {
  width: 100%;
}

.title {
  font-size: 25px;
}

tr.mat-header-row {
  height: 35px;
}

.mat-icon {
  margin-top: 5px;
  cursor: pointer;
}

th.mat-column-delete {
  width: 5%;
}

button {
  border-radius: 15px;
  font-weight: lighter;
  margin-top: 10px;
  margin-left: 15px;
}