.wrapper {
    margin-bottom: 15px;
}

tr.mat-header-row {
    height: 35px;
}

tr.mat-row {
    height: 35px;
    cursor: pointer;
}

table {
    width: 100%;
    border: solid 1px #ddd;
}

.mat-icon {
    float: right;
    cursor: pointer;
    margin-left: 10px;
}

span {
    line-height: 2;
}

.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.highlight {
    background-color: #efefef;
}

.noResultFound {
    border: solid 1px #ddd;
    border-top: none;
    font-size: 12px;
    padding: 8px 0px;
    i {
        margin-left: 24px;
    }
}