<div class="wrapper">
  <table>
    <tr>
      <th class="title">{{ groupInfo?.name ? 'Grouped in' : 'Has no group' }}</th>
      <th>
        <div *ngIf="workPackageIsEditable">
          <mat-icon data-qa="grouped-in-table-delete" *ngIf="groupInfo?.name" (click)="deleteNodeGroup.emit()">delete</mat-icon>
          <mat-icon data-qa="grouped-in-table-edit" (click)="editGroup.emit()">edit</mat-icon>
        </div>
      </th>
    </tr>
    <tr>
      <td>{{groupInfo?.reference}}</td>
      <td>{{groupInfo?.name}}</td>
    </tr>
  </table>
</div>