<div class="wrapper">
  <table *ngIf="groupInfo?.name; else elseBlock">
    <tr>
      <th class="title">Grouped in</th>
      <th>
        <div *ngIf="workPackageIsEditable">
          <mat-icon data-qa="grouped-in-table-delete" *ngIf="groupInfo?.name" (click)="deleteNodeGroup.emit()">delete</mat-icon>
          <mat-icon data-qa="grouped-in-table-edit" (click)="editGroup.emit()">edit</mat-icon>
        </div>
      </th>
    </tr>
    <tr>
      <td>{{groupInfo?.reference}}</td>
      <td>{{groupInfo?.name}}</td>
    </tr>
  </table>
  <ng-template #elseBlock>
    <button mat-raised-button (click)="editGroup.emit()">Add to a group</button>
  </ng-template>
</div>