table {
  width: 100%;
  tr.mat-header-row {
    height: 45px;
  }
  tr.mat-row {
    cursor: pointer;
  }
  td.mat-column-navigate {
    width: 10%;
  }
}

.actions {
  margin: 10px 5px;
  display: flex;
  justify-content: space-between;
}
