table {
  width: 100%;
  tr.mat-header-row {
    height: 45px;
  }
  tr.mat-row {
    cursor: pointer;
  }
  td.mat-column-navigate {
    width: 10%;
  }
}

.actions {
  margin: 10px 5px;
  display: flex;
  justify-content: space-between;
}

.search-container {
  width: 100%;
  padding: 10px;
  background-color: #eee;
  input {
    width: 100%;
    padding: 7px 10px;
    border-radius: 5px;
    border: solid 1px #eee;
    &:focus {
      outline: none;
    }
  }
}
