<form [formGroup]="group">
  <div [ngClass]="{ disabled: nodeIsEditable() }">
    <mat-form-field>
      <div class="input-wrapper">
        <label>Ref.</label>
        <input matInput formControlName="reference" [ngClass]="{ editable: !nodeIsEditable() }" />
      </div>
    </mat-form-field>
    
    <mat-form-field>
      <div class="input-wrapper">
        <label>Name</label>
        <input matInput formControlName="name" [ngClass]="{ editable: !nodeIsEditable() }" />
      </div>
    </mat-form-field>

    <mat-form-field>
      <div class="input-wrapper">
        <label>Category</label>
        <mat-select formControlName="category" [ngClass]="{ editable: !nodeIsEditable() }">
          <mat-option *ngFor="let category of getCategories()" [value]="category">
            {{ category }}
          </mat-option>
        </mat-select>
      </div>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        placeholder="Description"
        rows="4"
        formControlName="description"
        [ngClass]="{ editable: !nodeIsEditable() }"
      ></textarea>
    </mat-form-field>
  </div>

  <div class="form-group" *ngIf="!nodeIsEditable()">
    <button mat-flat-button color="primary" [disabled]="!group.valid" (click)="onSave()">Save</button>
    <button mat-flat-button (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="warn" (click)="onDelete()">Delete</button>
  </div>
  <div>
    <smi-tag-list [tags]="tags"
                  [availableTags]="availableTags"
                  [editMode]="!nodeIsEditable()"
                  [componentLayer]="componentLayer"
                  (addTag)="onAddTag($event)"
                  (createTag)="onCreateTag($event)"
                  (removeTag)="onRemoveTag($event)"
                  (updateTag)="onUpdateTag($event)"
                  (updateAvailableTags)="onUpdateAvailableTags()"
                  [workPackageIsEditable]="workPackageIsEditable"></smi-tag-list>
    <smi-owners-table-in-architecture
      [data]="owners"
      [workPackageIsEditable]="!nodeIsEditable()"
      (add)="onAddOwner()"
      (delete)="onDeleteOwner($event)"
    >
    </smi-owners-table-in-architecture>
    <smi-group-info-table
      *ngIf="!clickedOnLink"
      [groupInfo]="groupInfo" 
      (editGroup)="editGroup.emit()" 
      [workPackageIsEditable]="workPackageIsEditable"
    >
    </smi-group-info-table>
    <smi-related-attribute-table
      *ngIf="attributesPage"
      [data]="relatedAttributes"
      [isEditable]="workPackageIsEditable"
      [selectedRelatedIndex]="selectedRelatedIndex"
      (selectRelatedAttribute)="onSelectRelatedAttribute($event)"
      [selectAttribute]="selectAttribute"
      (addRelatedAttribute)="onAddRelatedAttribute()"
      (deleteRelatedAttribute)="onDeleteRelatedAttribute()"
    >
    </smi-related-attribute-table>
  </div>
</form>
