<div class="alert alert-warning" *ngIf="part?.data?.isShared">
  Shared
</div>
<form [formGroup]="group">
  <div [ngClass]="{ disabled: nodeIsEditable() }">
    <div [ngClass]="{ disabled: disableIfShared() }">
    <mat-form-field>
      <div class="input-wrapper">
        <label>Ref.</label>
        <input data-qa="object-details-reference" matInput formControlName="reference" [ngClass]="{ editable: !nodeIsEditable() }" />
      </div>
    </mat-form-field>

    <mat-form-field>
      <div class="input-wrapper">
        <label>Name</label>
        <input data-qa="object-details-name" matInput formControlName="name" [ngClass]="{ editable: !nodeIsEditable() }" />
      </div>
    </mat-form-field>

    <mat-form-field [ngClass]="{ disabled: getDisable() }">
      <div class="input-wrapper">
        <label>Category</label>
        <mat-select
          formControlName="category"
          [ngClass]="{ editable: !nodeIsEditable() }"
          data-qa="object-details-category"
        >
          <mat-option *ngFor="let category of getCategories()" [disabled]="getDisable(category)" [value]="category">
            {{ category }}
          </mat-option>
        </mat-select>
      </div>
    </mat-form-field>

    <mat-form-field>
      <textarea
        data-qa="object-details-description"
        matInput
        placeholder="Description"
        rows="4"
        formControlName="description"
        [ngClass]="{ editable: !nodeIsEditable() }"
        data-qa="object-details-description"
      ></textarea>
    </mat-form-field>
    </div>
  </div>

  <div class="form-group" *ngIf="!nodeIsEditable()">
    <button data-qa="object-details-save" mat-flat-button color="primary" [disabled]="!group.valid || !group.dirty" (click)="onSave()">Save</button>
    <button data-qa="object-details-cancel" mat-flat-button (click)="onCancel()">Cancel</button>
    <button data-qa="object-details-delete" mat-flat-button color="warn" (click)="onDelete()">Delete</button>
  </div>
  <div>
    <smi-tag-list data-qa="object-details-tags"
                  [tags]="tags"
                  [availableTags]="availableTags"
                  [editMode]="!nodeIsEditable()"
                  [componentLayer]="componentLayer"
                  (addTag)="onAddTag($event)"
                  (createTag)="onCreateTag($event)"
                  (removeTag)="onRemoveTag($event)"
                  (updateTag)="onUpdateTag($event)"
                  (updateAvailableTags)="onUpdateAvailableTags()"
                  [workPackageIsEditable]="workPackageIsEditable"
                  data-qa="object-details-tags"></smi-tag-list>
    <smi-owners-table-in-architecture
      data-qa="object-details-owners-table"
      [data]="owners"
      [workPackageIsEditable]="!nodeIsEditable()"
      (add)="onAddOwner()"
      (delete)="onDeleteOwner($event)"
    >
    </smi-owners-table-in-architecture>


    <smi-source-or-target-table
      data-qa="object-details-source-table"
      *ngIf="clickedOnLink"
      [sourceObject]="sourceObject"
      [targetObject]="targetObject"
      (edit)="editSourceOrTarget.emit($event)"
      (switchSourceAndTarget)="switchSourceAndTarget.emit()"
      [workPackageIsEditable]="workPackageIsEditable"
    >
    </smi-source-or-target-table>

    <smi-group-info-table
      data-qa="object-details-grouped-in-table"
      *ngIf="!clickedOnLink"
      [groupInfo]="groupInfo"
      (editGroup)="editGroup.emit()"
      (deleteNodeGroup)="deleteNodeGroup.emit()"
      [workPackageIsEditable]="workPackageIsEditable"
      [layer]="part?.data?.layer"
    >
    </smi-group-info-table>
    <hr>
    <div *ngIf="isNode">
      <button data-qa="object-details-see-dependencies" mat-flat-button color="primary" (click)="onSeeDependencies()">See Dependencies</button>
      <button data-qa="object-details-see-usage-across-levels" mat-flat-button color="primary" *ngIf="nodeCategory !== 'transformation'" (click)="onSeeUsage()">See Usage Across Levels</button>
    </div>
    <div *ngIf="isLink">
      <button data-qa="object-details-view-structure" class="view-structure" mat-flat-button color="primary" (click)="viewStructure.emit()">View Structure</button>
    </div>
    <br>
    <button mat-flat-button color="primary">Make Master</button>
    <button data-qa="object-details-see-sources" mat-flat-button color="primary" *ngIf="['master data set','data set'].includes(nodeCategory)" (click)="onFindSources()">Find Sources</button>
    <button data-qa="object-details-see-targets" mat-flat-button color="primary" *ngIf="['master data set','data set'].includes(nodeCategory)" (click)="onFindTargets()">Find Targets</button>
  </div>
</form>
