table {
  width: 100%;
}

tr.mat-header-row {
  height: 30px;
}
th {
  color: #212529;
}

.mat-column-name {
  border-right: solid 1px #ddd;
}

.mat-column-description {
  padding-left: 24px;
}

h6 {
  margin-top: 10px;
  text-align: center;
}

.table-wrapper {
  border: solid 1px #ddd;
}

.description-cell, .description-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  width: 100%;
  padding: 10px;
  background-color: #eee;
  input {
    width: 100%;
    padding: 7px 10px;
    border-radius: 5px;
    border: solid 1px #eee;
    &:focus {
      outline: none;
    }
  }
}
