table {
  width: 100%;
}

tr.mat-header-row {
  height: 30px;
}
th {
  color: #212529;
}

.mat-column-name {
  border-right: solid 1px #ddd;
}

.mat-column-description {
  padding-left: 24px;
}

h6 {
  margin-top: 10px;
  text-align: center;
}

.table-wrapper {
  border: solid 1px #ddd;
}

.description-cell, .description-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

