table {
  width: 100%;
}

tr.mat-header-row {
  height: 30px;
}

th.mat-column-delete {
  width: 5%;
}

.mat-icon {
  cursor: pointer;
  color: #CF3030
}

button {
  margin-top: 10px;
  margin-left: 15px;
  border-radius: 15px;
  font-weight: lighter;
}