<h1 mat-dialog-title>{{ isEditMode ? 'Edit' : 'Add User' }}</h1>
<smi-my-user-form
  [team]="teams$ | async"
  [role]="roles$ | async"
  [teamTableData]="user?.team"
  [roleTableData]="user?.roles"
  [disableEmailInput]="disableEmailInput"
  [showButtons]="showButtons"
  [isActive]="isActive"
  [group]="myUserForm"
  [addMode]="addMode"
  [selectedTeams]="selectedTeams"
  [selectedRoles]="selectedRoles"
>
</smi-my-user-form>
<div mat-dialog-actions>
  <button mat-button (click)="onSubmit()">Save</button>
  <button mat-button (click)="onCancelClick()">Cancel</button>
</div>
