<app-base-header>
    <app-toolbar-column [fillFreeSpace]="true">
        <app-search (search)="onSearchVersion($event)"></app-search>
    </app-toolbar-column>
</app-base-header><br><br>

<div class="container">
    <div class="row">
        <div class="col">
            <smi-workpackages-table
                (workpackageSelected)="onSelectWorkpackage($event)">
            </smi-workpackages-table>
        </div>
        <div class="col">
            <smi-workpackage-detail [workpackageSelected]="workpackageSelected"></smi-workpackage-detail>
            <smi-objectives-table [workpackageSelected]="workpackageSelected"></smi-objectives-table>
            <smi-radio-table [workpackageSelected]="workpackageSelected"></smi-radio-table>
            <smi-change-table [workpackageSelected]="workpackageSelected"></smi-change-table>
        </div>
    </div>
</div>