<div class="wrapper">
  <div class="search-container">
    <input
      placeholder="Search"
      #searchField
      data-qa="reports-quick-search"
      (keyup)="onSearch($event.target.value)"
    />
    <button 
      mat-icon-button 
      (click)="refresh.emit(searchField.value)"
      data-qa="reports-refresh-search"
    >
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <!-- Tags Column -->
    <ng-container matColumnDef="tags">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tags</th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-list>
          <div *ngFor="let tag of element.tags">
            <smi-tag [removable]="false" [tag]="tag"></smi-tag>
          </div>
        </mat-chip-list>
      </td>
    </ng-container>

    <!-- Impacted By Column -->
    <ng-container matColumnDef="impactedBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Impacted By</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          *ngIf="element.impactedByWorkPackages.length !== 0"
          matTooltip="{{ getWorkPackageName(element) }}"
          [ngStyle]="{ 'color': getWorkPackageColour(element) }"
        >
          business_center
        </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngClass]="{ highlight: selectedRowId == row.id }"
      (click)="onSelectRow(row)"
    ></tr>
  </table>

  <div class="no-data-found" *ngIf="!dataSource || totalEntities === 0">No data found</div>

  <div style="display: flex;">
    <div style="flex-grow: 1;">
      <button
        class="create-new"
        data-qa="reports-create-new"
        mat-raised-button
        color="primary"
        (click)="onAdd()"
        [disabled]="workPackageIsEditable"
      >
        <mat-icon>add</mat-icon>Create New
      </button>
    </div>
    <button class="download" data-qa="reports-download" mat-icon-button (click)="downloadCSV()">
      <mat-icon title="Export as CSV">save_alt</mat-icon>
    </button>
    <mat-paginator [length]="totalEntities" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 75, 100]"></mat-paginator>
  </div>
</div>
