<div class="wrapper">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Data Sets Column -->
    <ng-container matColumnDef="dataSets">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngClass]="{ highlight: selectedRowId == row.id }"
      (click)="onSelectRow(row)"
    ></tr>
  </table>

  <div class="no-data-found" *ngIf="!dataSource || dataSource.filteredData.length === 0">No data found</div>

  <div style="display: flex;">
    <div style="flex-grow: 1;">
      <button mat-raised-button color="primary" (click)="onAdd()" [disabled]="workPackageIsEditable">
        <mat-icon>add</mat-icon>Create New
      </button>
    </div>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 75, 100]"></mat-paginator>
  </div>
</div>
