.mat-form-field {
  width: 100%;
}

button {
  margin-right: 5px;
}

.disabled {
  pointer-events: none;
}

.editable {
  background-color: #fff;
}

.team-and-roles-table-container {
  display: flex;
  margin-top: 35px;
}

.status-btn {
  float: right;
}
