<form [formGroup]="group">
  <div [ngClass]="{ disabled: !isEditable }">
    <!-- Email -->
    <mat-form-field>
      <input matInput placeholder="Email" [readonly]="disableEmailInput" formControlName="email" />
      <mat-error>Invalid email address</mat-error>
    </mat-form-field>

    <!-- First Name -->
    <mat-form-field>
      <input matInput placeholder="First Name" formControlName="firstName" [ngClass]="{ editable: isEditable }" />
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <!-- Last Name -->
    <mat-form-field>
      <input matInput placeholder="Last Name" formControlName="lastName" [ngClass]="{ editable: isEditable }" />
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <!-- Phone Number -->
    <mat-form-field>
      <input matInput placeholder="Phone Number" formControlName="phone" [ngClass]="{ editable: isEditable }" />
      <mat-error>Invalid phone number</mat-error>
    </mat-form-field>

    <!-- My Teams -->
    <mat-form-field>
      <mat-select
        placeholder="My Teams"
        multiple
        formControlName="team"
        [compareWith]="compareFn"
        [ngClass]="{ editable: isEditable }"
      >
        <mat-option *ngFor="let team of teams" [value]="team">
          {{ team.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- My Roles -->
    <mat-form-field>
      <mat-select
        placeholder="My Roles"
        multiple
        formControlName="roles"
        [compareWith]="compareFn"
        [ngClass]="{ editable: isEditable }"
      >
        <mat-option *ngFor="let role of roles" [value]="role">
          {{ role.name }}
        </mat-option>
      </mat-select>
      <mat-error>Role is required</mat-error>
    </mat-form-field>
  </div>

  <div class="form-actions" *ngIf="!modalMode">
    <button mat-raised-button color="primary" *ngIf="!isEditable; else elseBlock" (click)="onEdit()">Edit</button>
    <button mat-raised-button class="status-btn" *ngIf="!myUserPage && !isEditable" (click)="onDelete()">
      {{ userStatus }}
    </button>
    <button mat-button color="primary" *ngIf="myUserPage" (click)="onChangePassword()">Change Password</button>
    <ng-template #elseBlock>
      <button mat-raised-button color="primary" (click)="onSave()">Save</button>
      <button mat-raised-button (click)="onCancel()">Cancel</button>
    </ng-template>
  </div>
</form>
