<form [formGroup]="group">
  <div [ngClass]="{ disabled: !isEditable }">
    <!-- Email -->
    <mat-form-field>
      <input
        matInput
        placeholder="Email"
        [readonly]="disableEmailInput"
        formControlName="email"
        data-qa="settings-user-email"
      />
      <mat-error>Invalid email address</mat-error>
    </mat-form-field>

    <!-- First Name -->
    <mat-form-field>
      <input
        matInput
        placeholder="First Name"
        formControlName="firstName"
        [ngClass]="{ editable: isEditable }"
        data-qa="settings-user-first-name"
      />
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <!-- Last Name -->
    <mat-form-field>
      <input
        matInput
        placeholder="Last Name"
        formControlName="lastName"
        [ngClass]="{ editable: isEditable }"
        data-qa="settings-user-last-name"
      />
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <!-- Phone Number -->
    <mat-form-field>
      <input
        matInput
        placeholder="Phone Number"
        formControlName="phone"
        [ngClass]="{ editable: isEditable }"
        data-qa="settings-user-phone-number"
      />
      <mat-error>Invalid phone number</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="myUserPage">
      <mat-label>Summary Email Frequency</mat-label>
      <div formGroupName="settings">
        <div formGroupName="summarySettings">
          <mat-select formControlName="frequency" [ngClass]="{ editable: isEditable }"
            data-qa="settings-user-emailFrequency">
            <mat-option *ngFor="let frequency of frequencies" [value]="frequency">
              {{ frequency }}
            </mat-option>
          </mat-select>
        </div>
      </div>
    </mat-form-field>

    <mat-form-field *ngIf="myUserPage && [Frequency.Weekly, Frequency.Monthly].includes(value)">
      <mat-label>Day of the week</mat-label>
      <div formGroupName="settings">
        <div formGroupName="summarySettings">
          <mat-select formControlName="day" [ngClass]="{ editable: isEditable }" data-qa="settings-user-dayOfTheWeek">
            <mat-option 
              *ngFor="let day of days; let i = index" [value]="i">
              <span>{{ value === Frequency.Weekly ? 'Every' : 'First' }}</span>
              {{ day }}
            </mat-option>
          </mat-select>
        </div>
      </div>
    </mat-form-field>

    <div *ngIf="modalMode">
      <mat-form-field>
        <mat-select placeholder="My Teams" multiple formControlName="team" [compareWith]="compareFn"
          [ngClass]="{ editable: isEditable }" data-qa="settings-user-teams">
          <mat-option *ngFor="let team of teams" [value]="team">
            {{ team.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="My Roles" multiple formControlName="roles" [compareWith]="compareFn"
          [ngClass]="{ editable: isEditable }" data-qa="settings-user-roles">
          <mat-option *ngFor="let role of roles" [value]="role">
            {{ role.name }}
          </mat-option>
        </mat-select>
        <mat-error>Role is required</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="form-actions" *ngIf="!modalMode">
    <ng-container *ngIf="canEdit">
      <button
        mat-raised-button
        color="primary"
        *ngIf="!isEditable; else elseBlock"
        (click)="onEdit()"
        data-qa="settings-user-edit"
      >
        Edit
      </button>
      <button
        mat-button
        *ngIf="getResetButton()"
        (click)="resetPassword.emit()"
        data-qa="settings-user-reset-password"
      >
        Reset Password
      </button>
      <button
        mat-raised-button
        class="status-btn"
        *ngIf="!myUserPage && !isEditable"
        (click)="onDelete()"
        data-qa="settings-user-activate-or-deactivate"
      >
        {{ userStatus }}
      </button>
    </ng-container>
    <button
      mat-button
      color="primary"
      *ngIf="myUserPage && !isEditable"
      (click)="onChangePassword()"
      data-qa="settings-user-change-password"
    >
      Change Password
    </button>
    <ng-template #elseBlock>
      <button mat-raised-button color="primary" (click)="onSave()" data-qa="settings-user-save">Save</button>
      <button mat-raised-button (click)="onCancel()" data-qa="settings-user-cancel">Cancel</button>
    </ng-template>

    <div style="margin-top: 20px;" *ngIf="!modalMode">
      <smi-roles-or-teams-table 
        [title]="'Teams'"
        [data]="userTeam"
        (add)="addTeam.emit()"
        (delete)="onRemove($event, 'team')"
        [myUserPage]="myUserPage"
      >
      </smi-roles-or-teams-table>
      <smi-roles-or-teams-table 
        [title]="'Roles'"
        [data]="userRole"
        (add)="addRole.emit()"
        (delete)="onRemove($event, 'role')"
        [myUserPage]="myUserPage"
      >
      </smi-roles-or-teams-table>
    </div>
  </div>
</form>
