<app-model-container>
  <smi-team-detail
    data-qa="setting-team-detail-form"
    [group]="teamDetailForm"
    [isEditable]="isEditable"
    (editTeam)="onEditTeam()"
    (deleteTeam)="onDeleteTeam()"
    (saveTeam)="onSaveTeam()"
    (cancelEdit)="onCancelEdit()"
  >
  </smi-team-detail>
  <smi-members-table
    data-qa="setting-team-members-table"
    [members]="team?.members" 
    (deleteMember)="onDeleteMember($event)" 
    (addMember)="onAddMember()">
  </smi-members-table>
</app-model-container>
