<app-model-container>
  <smi-team-detail
    data-qa="settings-teams-details-form"
    [group]="teamDetailForm"
    [isEditable]="isEditable"
    (editTeam)="onEditTeam()"
    (disableTeam)="onDisableTeam()"
    (saveTeam)="onSaveTeam()"
    (cancelEdit)="onCancelEdit()"
    [disabled]="team?.disabled"
  >
  </smi-team-detail>
  <smi-members-table
    data-qa="settings-teams-members-table"
    [members]="team?.members" 
    (deleteMember)="onDeleteMember($event)" 
    (addMember)="onAddMember()"
    [disabled]="team?.disabled"
  >
  </smi-members-table>
</app-model-container>
