.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}

button:nth-child(1) {
  background-color: #ddd;
}

.warning-message {
  padding: 10px 20px;
  background-color: #fff3cd;
  margin-bottom: 25px;
  font-size: 12px;
}
