<div mat-dialog-content>
  <p class="warning-message">
    Please chose a password that is at least 8 characters long contain a number and a special character
  </p>
  <smi-change-password-form [group]="changeUserPasswordForm" data-qa="change-password-form"></smi-change-password-form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onConfirm()" data-qa="change-password-modal-confirm">Confirm</button>
  <button mat-button (click)="onCancel()" data-qa="change-password-modal-cancel">Cancel</button>
</div>
