.mat-toolbar {
  padding: 0;
  background-color: #fff;
  box-shadow: 
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 2px 2px rgba(0, 0, 0, 0.06),
  0 2px 5px rgba(0, 0, 0, 0.072),
  0 2px 5px rgba(0, 0, 0, 0.086),
  0 2px 5px rgba(0, 0, 0, 0.12);
  position: sticky;
  top: 0;
  z-index: 999;
  min-width: 100%;
}
