<app-base-header>
    <app-toolbar-column [fillFreeSpace]="true">
        <app-search (search)="onSearchVersion($event)"></app-search>
    </app-toolbar-column>
    <app-toolbar-column>
        <smi-quicklinks-actions></smi-quicklinks-actions>
    </app-toolbar-column>
</app-base-header>


<app-model-container [topPadding]="64">
    <app-model-sidebar [minWidth]="600" [maxWidth]="1000">
        <p>
            <mat-tab-group mat-stretch-tabs [@.disabled]="true">
                <mat-tab label="Work Packages">
                    <smi-workpackage-tab-table 
                        [data]="workpackage$ | async">
                    </smi-workpackage-tab-table>
                </mat-tab>
            </mat-tab-group>
        </p>
    </app-model-sidebar>

    <div class="container">
        <div class="row">
            <div class="col">
                <app-category-table
                    [data]="categoryTableData"
                    [categories]="['attribute', 'rule']"
                    (selectRow)="onSelectAttribute($event)">
                </app-category-table>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</app-model-container>