<app-base-header>
  <app-toolbar-column [fillFreeSpace]="true"> </app-toolbar-column>
  <smi-scopes-dropdown
    class="scope-dropdown"
    [data]="scopes$ | async"
    [selectedScope]="selectedScope$ | async"
    (selectScope)="onSelectScope($event)"
  >
  </smi-scopes-dropdown>
  <app-search></app-search>
  <app-toolbar-column>
    <smi-quicklinks-actions></smi-quicklinks-actions>
  </app-toolbar-column>
</app-base-header>

<app-model-container [topPadding]="64">
  <smi-left-sidebar (leftTab)="openLeftTab($event)" [hideTab]="true" *ngIf="!showOrHidePane"></smi-left-sidebar>
  <app-model-sidebar [isLast]="true" [minWidth]="600" [maxWidth]="1000" *ngIf="showOrHidePane">
    <p class="leftPane">
      <mat-tab-group mat-stretch-tabs [@.disabled]="true" [selectedIndex]="selectedLeftTab">
        <mat-tab label="Work Packages">
          <smi-workpackage-tab-table
            [data]="workpackage$ | async"
            (selectWorkPackage)="onSelectWorkPackage($event)"
            (setWorkpackageEditMode)="onSelectEditWorkpackage($event)"
            [canSelectWorkpackage]="canSelectWorkpackage"
          >
          </smi-workpackage-tab-table>
        </mat-tab>
      </mat-tab-group>
      <button mat-icon-button (click)="hideLeftPane()"><mat-icon>keyboard_arrow_left</mat-icon></button>
    </p>
  </app-model-sidebar>

  <div class="container">
    <div class="row">
      <div class="col">
        <app-category-table
          [data]="categoryTableData"
          [categories]="['attribute', 'rule']"
          (selectRow)="onSelectAttribute($event)"
        >
        </app-category-table>
      </div>
      <div class="col">
        <smi-right-hand-side 
          [title]="'Attribute'"
          (add)="onAdd()">
        </smi-right-hand-side>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</app-model-container>
