.container {
  max-width: 100%;
  margin-top: 0;
}

.col {
  width: 100%;
  padding: 0;
  margin: 0;
}

.row {
  height: 100%;
}

.mat-icon-button {
  position: absolute;
  bottom: 12px;
  right: 16px;
  z-index: 2;
  background-color: #3F51B5;
  color: #fff;
}

.scope-dropdown {
  margin-right: 15px;
}
