.container {
    max-width: 100%;
    overflow-y: scroll;
}

.col {
    padding: 0;
    margin: 0;
}

.hide-btn {
    position: absolute;
    bottom: 12px;
    right: 16px;
    z-index: 99999;
}

.add-btn {
    margin: 15px;
}