.wrapper {
  border: solid 1px #ddd;
}

.mat-table {
  width: 100%;
}

/* Materail table styles */

table.mat-table {
  border-spacing: 0;
}

tr.mat-header-row {
  height: 56px;
}

tr.mat-row,
tr.mat-footer-row {
  height: 48px;
  cursor: pointer;
}

th.mat-header-cell {
  text-align: left;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

th.mat-header-cell:first-child,
td.mat-cell:first-child,
td.mat-footer-cell:first-child {
  padding-left: 24px;
}

th.mat-header-cell:last-child,
td.mat-cell:last-child,
td.mat-footer-cell:last-child {
  padding-right: 24px;
}

tr.header {
  height: 35px;
}

td {
  font-size: 12px;
}

.highlight {
  background: #efefef;
}

.search-container {
  width: 100%;
  padding: 10px;
  background-color: #eee;
  input {
    width: 100%;
    padding: 7px 10px;
    border-radius: 5px;
    border: solid 1px #eee;
    &:focus {
      outline: none;
    }
  }
}
