:host {
  .wrapper {
    height: 93%;;
    overflow-y: scroll;
  }
  .mat-table {
    width: 100%;
    .mat-row {
      .mat-cell {
        white-space: nowrap;
        padding-left: 10px;
        padding-right: 10px;
        max-width: 33%;
      }
    }
  }
}

/* Materail table styles */

table.mat-table {
  border-spacing: 0;
}

tr.mat-header-row {
  height: 35px;
}

tr.mat-row, tr.mat-footer-row {
  height: 48px;
  cursor: pointer;
}

th.mat-header-cell {
  text-align: left;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

th.mat-header-cell:first-child, td.mat-cell:first-child, td.mat-footer-cell:first-child {
  padding-left: 24px;
}

th.mat-header-cell:last-child, td.mat-cell:last-child, td.mat-footer-cell:last-child {
  padding-right: 24px;
}

tr.header{
  height: 35px;
  background-color: #eee;
}

td {
  font-size: 13px;
}

.highlight {
  background: #efefef;
}

.bottom-header {
  position: absolute; 
  bottom: 0; 
  width: 100%; 
  height: 50px; 
  background-color: #eee;
}

.add{
  margin-top: 7px;
  margin-left: 7px;
}
