<!--  FIXME: when mat-table component added into dom, it also add additional styles for table, with out mat-table component styles not added. Find out why. -->
<!-- <table mat-table></table> -->
<div class="wrapper">
  <table class="mat-table">
    <thead>
      <tr class="mat-header-row">
        <th class="mat-header-cell"> Name </th>
        <th class="mat-header-cell"> Description </th>
        <th class="mat-header-cell"> Tags </th>
      </tr>
    </thead>
    <ng-container *ngIf="categories.length < 1; else multiCategory">
      <tbody>
        <ng-container
          [ngTemplateOutlet]="trTemplate"
          [ngTemplateOutletContext]="{ data: getTransformedData() }"
        >
        </ng-container>
      </tbody>
    </ng-container>
  </table>
</div>

<!-- Templates -->
<ng-template #trTemplate let-data="data" let-category="category">
  <ng-container *ngFor="let entry of data">
    <tr class="mat-row" [ngClass]="{'highlight': selectedRowIndex == entry.id}" (click)="onSelectRow(entry)">
      <td class="mat-cell" (click)="entry.collapsed = !entry.collapsed">
        <app-table-collapse [entry]="entry"></app-table-collapse>
      </td>
      <td class="mat-cell">{{ entry.description }}</td>
      <td class="mat-cell">{{ entry.tags }}</td>
    </tr>
    <ng-container
      *ngIf="!entry.collapsed && entry.related && entry.related.length > 0"
      [ngTemplateOutlet]="trTemplate"
      [ngTemplateOutletContext]="{ data: entry.related }"
    ></ng-container>
  </ng-container>
</ng-template>

<ng-template #multiCategory>
  <ng-container *ngFor="let category of categories">
    <thead>
      <tr class="mat-header-row header">
        <th class="mat-header-cell" colspan="4">{{ category | titlecase }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container
        [ngTemplateOutlet]="trTemplate"
        [ngTemplateOutletContext]="{ data: getTransformedData(category) }"
      >
      </ng-container>
    </tbody>
  </ng-container>
</ng-template>
