<div class="container">
  <smi-my-user-form
    [group]="myUserForm"
    [userTeam]="user?.team"
    [userRole]="user?.roles"
    [isEditable]="isEditable"
    [modalMode]="modalMode"
    [myUserPage]="true"
    (saveUser)="onSaveUser($event)"
    (editUser)="onEditUser($event)"
    (cancelEdit)="onCancelEdit($event)"
    (changePassword)="onChangePassword($event)"
    data-qa="settings-my-user-my-user-form"
    [value]="formValue?.settings?.summarySettings?.frequency"
  >
  </smi-my-user-form>
</div>
