<div class="wrapper">
  <div class="search-container">
    <input placeholder="Search" (keyup)="onSearch($event.target.value)">
  </div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon style="float: right;" (click)="openWorkPackage.emit(element.id)">open_in_new</mat-icon>
        <div class="title">{{ element.name }} </div>
        <div class="status-title">{{ element.status }}</div>
        <div class="chips">
          <mat-chip-list>
            <mat-chip *ngIf="getRadioChip(element.radioSummary.risks)" [ngStyle]="{ 'background-color': getChipColour(element.radioSummary.risks) }">R</mat-chip>
            <mat-chip *ngIf="getRadioChip(element.radioSummary.assumptions)" [ngStyle]="{ 'background-color': getChipColour(element.radioSummary.assumptions) }">A</mat-chip>
            <mat-chip *ngIf="getRadioChip(element.radioSummary.dependencies)" [ngStyle]="{ 'background-color': getChipColour(element.radioSummary.dependencies) }">D</mat-chip>
            <mat-chip *ngIf="getRadioChip(element.radioSummary.issues)" [ngStyle]="{ 'background-color': getChipColour(element.radioSummary.issues), 'padding': '0px 14px' }">I</mat-chip>
            <mat-chip *ngIf="getRadioChip(element.radioSummary.opportunities)" [ngStyle]="{ 'background-color': getChipColour(element.radioSummary.opportunities) }">O</mat-chip>
          </mat-chip-list>
        </div>
        <div class="actions">
          <button mat-raised-button color="primary" (click)="onOpen(element, 'systems')"><mat-icon>device_hub</mat-icon>Systems</button>
          <button mat-raised-button color="primary" (click)="onOpen(element, 'data')"><mat-icon>device_hub</mat-icon>Data</button>
          <button mat-raised-button color="primary" (click)="onOpen(element, 'reports')"><mat-icon>bookmarks</mat-icon>Reports</button>
          <button mat-raised-button color="primary" (click)="onOpen(element, 'radios')"><mat-icon>track_changes</mat-icon>RADIOs</button>
        </div>
      </td>
    </ng-container>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
