button {
  position: absolute;
  right: 20px;
  bottom: 19px;
  z-index: 9999;
  background-color: #0747A6;
  width: 30px;
  height: 30px;
}

.mat-icon {
  color: #F4F5F7;
  margin-bottom: 11px;
  font-size: 18px;
}