<div class="wrapper">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
    </ng-container>

    <!-- Roles Column -->
    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Roles</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngFor="let role of element.roles">
          <ul class="list">
            <li>{{ role.name }}</li>
          </ul>
        </ng-container>
      </td>
    </ng-container>

    <!-- Teams Column -->
    <ng-container matColumnDef="team">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Teams</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngFor="let team of element.team">
          <ul class="list">
            <li>{{ team.name }}</li>
          </ul>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngClass]="{ highlight: selectedUserIndex == row.id }"
      (click)="onSelect(row)"
    ></tr>
  </table>

  <div class="table-actions">
    <div style="flex-grow: 1;">
      <button mat-raised-button color="primary" (click)="onAdd()"><mat-icon>add</mat-icon>Create New</button>
    </div>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 75, 100]"></mat-paginator>
  </div>
</div>
