.wrapper {
  border-bottom: solid 1px #ddd;
  height: calc(100vh - 115px);
  overflow: auto;
}

table {
  width: 100%;
}

.table-actions {
  display: flex;
  border-bottom: solid 1px #ddd;
}

tr.mat-row {
  cursor: pointer;
}

button {
  border-radius: 15px;
  font-weight: lighter;
  padding-right: 30px;
  margin-top: 10px;
  margin-left: 15px;
}

.mat-icon {
  font-size: 18px;
  margin-right: 5px;
  margin-top: 4px;
  padding: 0;
}

.highlight {
  background: #efefef;
}

.list {
  padding: 0;
  margin: 0;
  display: inline;
  list-style: none;
}

.list li {
  display: inline;
}

.list::before {
  content: '; ';
}

.list:first-child::before {
  content: '';
}
