.wrapper {
  margin-bottom: 15px;
  max-height: 80vh;
  overflow: auto;
}

mat-form-field {
  width: 100%;
}

tr.mat-header-row {
  height: 35px;
}

tr.mat-row {
  height: 35px;
}

table {
  width: 100%;
  border: solid 1px #ddd;
}

th, td {
  span {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.square {
  height: 30px;
  width: 30px;
  border: solid 1px black;
  display: block;
  margin: auto;
}

.mat-dialog-actions {
  display: flex;
  padding-bottom: 17px;
}

mat-paginator {
  margin-left: auto;
}



.mat-column-actions.mat-column-actions {
  width: 94px;
  padding: 5px;
  text-align: center;
}
