<form [formGroup]="group">
  <div style="display: flex;">
    <!-- Status -->
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" multiple data-qa="radio-filter-status">
        <mat-option *ngFor="let status of status" [value]="status">{{ status }}</mat-option>
      </mat-select>
    </mat-form-field>

    <span style="margin: 0px 20px;"></span>

    <!-- Type -->
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="type" multiple data-qa="radio-filter-type">
        <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Relates To Work Packages -->
  <mat-form-field>
    <mat-label>Relates to work packages</mat-label>
    <mat-select formControlName="relatesToWorkPackages" multiple data-qa="radio-filter-relates-to-work-packages">
      <mat-option *ngFor="let workpackage of workpackages" [value]="workpackage">
        {{ workpackage.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Assigned To -->
  <mat-form-field>
    <mat-label>Assigned To</mat-label>
    <mat-select
      formControlName="assignedTo"
      [compareWith]="assignedToComparison"
      multiple
      data-qa="radio-filter-assigned-to"
    >
      <mat-option *ngFor="let user of users" [value]="user"> {{ user.firstName }} {{ user.lastName }} </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Relates To -->
  <mat-form-field>
    <mat-label>Relates to components</mat-label>
    <mat-select
      formControlName="relatesTo"
      [compareWith]="relatesToComparison"
      multiple
      data-qa="radio-filter-relates-to"
    >
      <mat-option *ngFor="let node of nodes" [value]="node">
        {{ node.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Severity -->
  <div style="display: flex;">
    <mat-form-field>
      <mat-label>Severity Between</mat-label>
      <mat-select formControlName="severityRangeFrom" data-qa="radio-filter-severityRange-from">
        <mat-option *ngFor="let severity of numbers" [value]="severity">{{ severity }}</mat-option>
      </mat-select>
    </mat-form-field>
    <span class="and-title">and</span>
    <mat-form-field>
      <mat-select formControlName="severityRangeTo" data-qa="radio-filter-severityRange-to">
        <mat-option *ngFor="let severity of numbers" [value]="severity">{{ severity }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Frequency  -->
  <div style="display: flex;">
    <mat-form-field>
      <mat-label>Frequency Between</mat-label>
      <mat-select formControlName="frequencyRangeFrom" data-qa="radio-filter-frequencyRange-from">
        <mat-option *ngFor="let frequency of numbers" [value]="frequency">{{ frequency }}</mat-option>
      </mat-select>
    </mat-form-field>
    <span class="and-title">and</span>
    <mat-form-field>
      <mat-select formControlName="frequencyRangeTo" data-qa="radio-filter-frequencyRange-to">
        <mat-option *ngFor="let frequency of numbers" [value]="frequency">{{ frequency }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Tags To -->
  <mat-form-field>
    <mat-label>Has Tag</mat-label>
    <mat-select formControlName="hasTag" multiple data-qa="radio-filter-has-tag">
      <mat-option *ngFor="let tag of tags" [value]="tag">
        {{ tag.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div style="display: flex;">
    <div class="due-date-title">Due Date</div>
    <!-- Due Date -->
    <mat-form-field>
      <input
        data-qa="radio-filter-due-date-from"
        matInput
        [matDatepicker]="picker"
        placeholder="From"
        formControlName="from"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <span class="and-title">and</span>

    <mat-form-field>
      <input
        data-qa="radio-filter-due-date-to"
        matInput
        [matDatepicker]="picker2"
        placeholder="To"
        formControlName="to"
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>

  <!-- Text -->
  <mat-form-field>
    <textarea data-qa="radio-filter-text" matInput rows="4" placeholder="Text Contains" formControlName="text">
    </textarea>
  </mat-form-field>
</form>
