<form [formGroup]="group">
  <div style="display: flex;">
    <!-- Status -->
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" multiple data-qa="radio-filter-status">
        <mat-option *ngFor="let status of status" [value]="status">{{ status }}</mat-option>
      </mat-select>
    </mat-form-field>

    <span style="margin: 0px 20px;"></span>

    <!-- Type -->
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="type" multiple data-qa="radio-filter-type">
        <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Relates To Work Packages -->
  <mat-form-field>
    <mat-label>Relates to work packages</mat-label>
    <mat-select
      formControlName="relatesToWorkPackages"
      multiple
      data-qa="radio-filter-relates-to-work-packages"
      [compareWith]="relatesWorkpackagesToComparison"
    >
      <div class="search-container">
        <input
          placeholder="Search"
          data-qa="radio-filter-relates-to-work-packages-quick-search"
          (keydown)="$event.stopPropagation()"
          #searchWorkPackages
        />
        <button mat-icon-button class="clear" (click)="this.searchWorkPackages.value = ''">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <mat-option *ngFor="let workpackage of workpackages | searchPipe: searchWorkPackages.value" [value]="workpackage">
        {{ workpackage.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Relates To -->
  <mat-form-field>
    <mat-label>Relates to components</mat-label>
    <mat-select
      formControlName="relatesTo"
      [compareWith]="relatesToComparison"
      multiple
      data-qa="radio-filter-relates-to"
    >
      <div class="search-container">
        <input
          placeholder="Search"
          data-qa="radio-filter-relates-to-quick-search"
          (keydown)="$event.stopPropagation()"
          #searchComponents
        />
        <button mat-icon-button class="clear" (click)="this.searchComponents.value = ''">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <mat-option *ngFor="let node of nodes" [value]="node" [class.hide]="filterComponents(node)">
        {{ node.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Tags To -->
  <mat-form-field>
    <mat-label>Has Tag</mat-label>
    <mat-select formControlName="tags" multiple data-qa="radio-filter-has-tag" [compareWith]="tagsToComparison">
      <div class="search-container">
        <input
          placeholder="Search"
          data-qa="radio-filter-has-tag-quick-search"
          (keydown)="$event.stopPropagation()"
          #searchTags
        />
        <button mat-icon-button class="clear" (click)="this.searchTags.value = ''">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <mat-option *ngFor="let tag of tags | searchPipe: searchTags.value" [value]="tag">
        {{ tag.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Assigned To -->
  <mat-form-field>
    <mat-label>Assigned To</mat-label>
    <mat-select
      formControlName="assignedTo"
      [compareWith]="assignedToComparison"
      multiple
      data-qa="radio-filter-assigned-to"
    >
      <div class="search-container">
        <input
          placeholder="Search"
          data-qa="radio-filter-assigned-to-quick-search"
          (keydown)="$event.stopPropagation()"
          #searchUsers
        />
        <button mat-icon-button class="clear" (click)="this.searchUsers.value = ''">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <mat-option *ngFor="let user of users" [value]="user" [class.hide]="filterUsers(user)">
        {{ user.firstName }} {{ user.lastName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div style="display: flex;">
    <div class="due-date-title">Due Date</div>
    <!-- Due Date -->
    <mat-form-field>
      <input
        data-qa="radio-filter-due-date-from"
        matInput
        [matDatepicker]="picker"
        placeholder="From"
        formControlName="from"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <span class="and-title">and</span>

    <mat-form-field>
      <input
        data-qa="radio-filter-due-date-to"
        matInput
        [matDatepicker]="picker2"
        placeholder="To"
        formControlName="to"
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>

  <!-- Text -->
  <mat-form-field>
    <textarea data-qa="radio-filter-text" matInput rows="4" placeholder="Text Contains" formControlName="text">
    </textarea>
  </mat-form-field>
</form>
