<form [formGroup]="group">
  <div class="change-password-container">
    <!-- Old password -->
    <mat-form-field>
      <input matInput placeholder="Old Password" type="password" formControlName="oldPassword" />
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <!-- New password -->
    <mat-form-field>
      <input matInput placeholder="New Password" type="password" formControlName="newPassword" />
      <mat-error *ngIf="group.get('newPassword').hasError('passwordStrength')">{{
        group.get('newPassword').errors['passwordStrength']
      }}</mat-error>
    </mat-form-field>

    <!-- Confirm new password -->
    <mat-form-field>
      <input matInput placeholder="Confirm new password" type="password" formControlName="confirmNewPassword" />
      <mat-error *ngIf="group.controls.confirmNewPassword.errors?.MatchPassword">Password not match</mat-error>
    </mat-form-field>
  </div>
</form>
