<div class="container">
    <div class="wrapper">
    {{data | json}}
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="title">
                <td mat-cell *matCellDef="let element">
                    <!-- FIXME: firstName and lastName should be from the replies -->
                    <span>{{ element.author.firstName }}
                    {{element.author.lastName}}
                    <!-- FIXME: should be postedOn -->
                    <small>{{ element.postedOn  | date}}</small></span><br>
                    <!-- FIXME: should be replyText -->
                    {{ element.replyText }}
                </td>
            </ng-container>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
    <smi-reply-text [rows]="1" [group]="commentDetailsForm"></smi-reply-text>
    <button (click)="onSend()" [disabled]="disableButton">Send</button>
</div>