table {
  width: 100%;
  margin-bottom: 15px;
}

tr.mat-row, tr.mat-header-row {
  height: 40px;
}

th.mat-column-edit {
  text-align: right;
}

.mat-icon {
  font-size: 15px;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
    padding: 8px 0px;
  }
}