.wrapper {
    margin: 20px 0px;
}

.title {
    font-size: 15px;
}

table {
    width: 100%;
}

tr.mat-header-row {
    height: 25px;
    background-color: #f9f9f9;
}

tr.mat-row {
    height: 35px;
}
