.wrapper {
    margin: 20px 0px;
    min-width: 480px;
}

.title {
    font-size: 15px;
}

table {
    width: 100%;
}

tr.mat-header-row {
    height: 35px;
}

.noResultFound {
    color: darkred;
    text-align: center;
    margin: 5px 0px;
}