.title {
    font-size: 25px;
}

table {
    width: 100%;
}

tr.mat-header-row {
    height: 25px;
    background-color: #f9f9f9;
}

tr.mat-row {
    height: 30px;
    cursor: pointer;
}

.highlight {
    background: #efefef;
}