<h1 mat-dialog-title>Layout Settings</h1>
<div mat-dialog-content>
  <form [formGroup]="layoutSettingsForm">
    <div formGroupName="links">
      <mat-list-item role="listitem">
        <mat-checkbox data-qa="topology-layout-settings-modal-show-data-links" (change)="checkboxClicked($event, 'dataLinks')" formControlName="showDataLinks">
          Show Data Links
        </mat-checkbox>
      </mat-list-item>
    
      <mat-list-item role="listitem">
        <mat-checkbox data-qa="topology-layout-settings-modal-show-master-data-links" (change)="checkboxClicked($event, 'masterDataLinks')" formControlName="showMasterDataLinks">
          Show Master Data Links
        </mat-checkbox>
      </mat-list-item>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onSubmit()" data-qa="topology-layout-settings-modal-save">Save</button>
  <button mat-button (click)="onCancel()" data-qa="topology-layout-settings-modal-save>Cancel</button>
</div>