<form [formGroup]="group">
  <div class="form-group row">
    <label class="col-4 col-form-label">Version Name</label>
    <div class="col-8">
      <input class="form-control" type="text" formControlName="name"
        [ngClass]="{ 'is-invalid': (!group.controls['name'].valid && group.controls['name'].touched) }">
      <div *ngIf="group.controls['name'].errors" class="invalid-feedback">
        <div>Version name is required</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Description</label>
    <div class="col-8">
      <textarea rows="3" class="form-control" type="text" formControlName="description"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Status</label>
    <div class="col-8">
      <select class="form-control" formControlName="status">
        <option [value]="versionStatus" *ngFor="let versionStatus of versionStatus">{{versionStatus}}</option>
      </select>
    </div>
  </div>
</form>