<div mat-dialog-content>
  <smi-radio-list
    data-hook="workpackage-page-radio-list-modal"
    [data]="radio$ | async"
    (selectRadio)="onSelectRadio($event)"
  >
  </smi-radio-list>
</div>
<div mat-dialog-actions>
  <div class="btn-action-1">
    <button mat-raised-button color="primary" (click)="onAddNew()">New</button>
  </div>
  <div class="btn-action-2">
    <button mat-button (click)="onSubmit()" class="save-btn" data-hook="workpackage-page-radio-list-modal-save">
      Save
    </button>
    <button mat-button (click)="onCancel()" data-hook="workpackage-page-radio-list-modal-cancel">Cancel</button>
  </div>
</div>
