:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-dialog-content {
  flex-grow: 1;
}

.mat-dialog-actions {
  padding: 25px 0;
}

button:focus {
  outline: none;
}

.save-btn {
  background-color: #ddd;
}

.btn-action-1 {
  display: block;
}

.btn-action-2 {
  display: inline-block;
  text-align: right;
  width: 89.3%;
}
