<h1 mat-dialog-title>Add Children</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-select placeholder="Components" [formControl]="components" multiple>
      <mat-select-trigger>
        {{components.value ? components.value[0] : ''}}
        <span *ngIf="components.value?.length > 1" class="additional-selection">
          (+{{components.value.length - 1}} {{components.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option
        *ngFor="let children of descendants$ | async"
        (onSelectionChange)="onSelect($event, children)"
        [value]="children.name">
        {{children.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onSubmit()" data-hook="descendants-modal-save">Save</button>
  <button mat-button (click)="onCancelClick()" data-hook="descendants-modal-cancel">Cancel</button>
</div>
