<h1 mat-dialog-title>Add Children to "{{title}}"</h1>
<div mat-dialog-content>
  <mat-form-field (click)="onOpenDropdown()"
    matTooltip="Concatenation of parent name and name. Items reused across multiple parents will appear multiple times">
    <mat-select placeholder="Components" [formControl]="components" multiple>
      <mat-select-trigger>
        {{ components.value ? components.value[0] : '' }}
        <span *ngIf="components.value?.length > 1" class="additional-selection">
          (+{{ components.value.length - 1 }} {{ components.value?.length === 2 ? 'other' : 'others' }})
        </span>
      </mat-select-trigger>

      <!-- Search components -->
      <mat-toolbar-row style="padding: 0 5px;">
        <input class="search" #searchInput placeholder="Search">
        <button mat-button mat-icon-button (click)="clearInputValue()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>

      <mat-option
        *ngFor="let children of descendants$ | async"
        [class.hide]="searchInput.value !== '' && children.name.toLowerCase().indexOf(searchInput.value.toLowerCase()) === -1"
        (onSelectionChange)="onSelect($event, children)"
        [value]="children.name"
      >
        {{ (children.displayName) ? children.displayName : children.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <div style="flex-grow: 1;">
    <button mat-raised-button color="primary" (click)="onAddComponent()" data-hook="descendants-modal-new">New</button>
  </div>
  <button mat-button (click)="onSubmit()" data-hook="descendants-modal-save">Save</button>
  <button mat-button (click)="onCancelClick()" data-hook="descendants-modal-cancel">Cancel</button>
</div>
