.mat-dialog-actions{
  display: flex;
  justify-content: flex-end;
  padding-bottom: 17px;
}

button:focus {
  outline: none;
}

button:nth-child(1){
  background-color: #ddd;
}

.mat-form-field {
  width: 100%;
}

.search {
  width: 100%;
  padding: 10px 15px;
}

.hide {
  display: none;
}

.mat-icon-button {
  margin-left: 8px;
}