.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 17px;
}

button:focus {
  outline: none;
}

button:nth-child(1) {
  background-color: #ddd;
}

.mat-form-field {
  width: 100%;
}

.arrow_down {
  cursor: pointer;
  position: relative;
  top: 5px;
}