<h1 mat-dialog-title>New</h1>
<div mat-dialog-content>
  <form [formGroup]="group">
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select formControlName="category" data-qa="topology-components-or-link-modal-category">
        <mat-option *ngFor="let category of getCategories()" [value]="category">{{ category }}</mat-option>
      </mat-select>
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="data.link">
      <mat-label>Source</mat-label>
      <input data-qa="topology-components-or-link-modal-source" matInput formControlName="sourceId" [matAutocomplete]="sources" [(ngModel)]="searchSource">
      <mat-icon class="arrow_down" matSuffix (click)="$event.stopPropagation(); searchSource = ''" *ngIf="searchSource">close</mat-icon>
      <mat-icon class="arrow_down" matSuffix *ngIf="!searchSource">keyboard_arrow_down</mat-icon>
      <mat-autocomplete #sources="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let node of filteredSources$ | async | orderBy: 'name'" [value]="node">
          {{ node.name }}
        </mat-option>
      </mat-autocomplete>
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="data.link">
      <mat-label>Target</mat-label>
      <input data-qa="topology-components-or-link-modal-target" matInput formControlName="targetId" [matAutocomplete]="targets" [(ngModel)]="searchTarget">
      <mat-icon class="arrow_down" matSuffix (click)="$event.stopPropagation(); searchTarget = ''" *ngIf="searchTarget">close</mat-icon>
      <mat-icon class="arrow_down" matSuffix *ngIf="!searchTarget">keyboard_arrow_down</mat-icon>
      <mat-autocomplete #targets="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let node of filteredTargets$ | async | orderBy: 'name'" [value]="node">
          {{ node.name }}
        </mat-option>
      </mat-autocomplete>
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" [(ngModel)]="nameValue" data-qa="topology-components-or-link-modal-name">
      <mat-error>This field is required</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onSubmit()" data-qa="topology-components-or-link-modal-save">Save</button>
  <button mat-button (click)="onCancel()" data-qa="topology-components-or-link-modal-cancel">Cancel</button>
</div>
