<smi-right-sidebar
    *ngIf="showOrHideRightPane"
    [objectSelected]="true"
    (rightTab)="openRightTab($event)">
</smi-right-sidebar>

<app-model-container *ngIf="!showOrHideRightPane">
    <app-model-sidebar [maxWidth]="600" [isLast]="true">
        <p class="rightPane">
            <mat-tab-group mat-stretch-tabs class="stretched-tabs" [@.disabled]="true" [selectedIndex]="selectedRightTab">
                <mat-tab label="Details">
                    <smi-object-details-form 
                        [group]="objectDetailsForm" 
                        [isEditable]="isEditable"
                        (editDetails)="onEditDetails($event)" 
                        (cancel)="onCancelEdit($event)"
                        (saveAttribute)="onSaveAttribute($event)" 
                        [workPackageIsEditable]="true">
                    </smi-object-details-form>
                </mat-tab>
                <mat-tab label="Properties">
                    <smi-properties-table-in-attributes-page 
                        [data]="attribute?.customProperties">
                    </smi-properties-table-in-attributes-page>
                </mat-tab>
                <mat-tab label="RADIO">
                    <smi-radio-table-in-attributes-page 
                        [data]="attribute?.relatedRadios">
                    </smi-radio-table-in-attributes-page>
                </mat-tab>
                <mat-tab label="Work Packages">
                    <smi-workpackage-table-in-attributes-page
                        [data]="attribute?.relatedWorkPackages">
                    </smi-workpackage-table-in-attributes-page>
                </mat-tab>
            </mat-tab-group>
            <button mat-button (click)="onHideRightPane()">Hide<mat-icon>keyboard_arrow_right</mat-icon></button>
        </p>
    </app-model-sidebar>
</app-model-container>