<app-model-container>
  <p class="rightPane">
    <mat-tab-group mat-stretch-tabs class="stretched-tabs" [@.disabled]="true">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Details">info</mat-icon>
        </ng-template>
        <p class="detailsTab">
          <smi-object-details-form
            data-qa="rules-and-attributes-object-details-form"
            [owners]="attribute?.owners"
            [group]="objectDetailsForm"
            (save)="onSaveAttribute($event)" 
            (delete)="onDeleteAttribute($event)"
            [workPackageIsEditable]="workPackageIsEditable" 
            (addOwner)="onAddOwner($event)"
            (deleteOwner)="onDeleteOwner($event)"
            [attributesPage]="true"
            [relatedAttributes]="attribute?.related"
            [selectedRelatedIndex]="selectedRelatedIndex"
            (selectRelatedAttribute)="onSelectRelatedAttribute($event)"
            [selectAttribute]="selectAttribute"
            (addRelatedAttribute)="onAddRelatedAttribute()"
            (deleteRelatedAttribute)="onDeleteRelatedAttribute()"
            [availableTags]="availableTags$ | async"
            [tags]="attribute?.tags"
            (updateAvailableTags)="onUpdateAvailableTags()"
            (addTag)="onAddTag($event)"
            (removeTag)="onRemoveTag($event)"
          >
          </smi-object-details-form>
        </p>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Documentation Standards">insert_drive_file</mat-icon>
        </ng-template>
        <smi-edit-documentation-standards-table
          data-qa="rules-and-attributes-documentation-standards-table"
          [data]="attribute?.customProperties"
          [isEditable]="workPackageIsEditable"
          (saveProperty)="onSaveProperties($event)"
          (deleteProperty)="onDeleteProperties($event)"
          >
        </smi-edit-documentation-standards-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="RADIO">track_changes</mat-icon>
        </ng-template>
        <smi-related-radio-table
          data-qa="rules-and-attributes-radio-table"
          [data]="attribute?.relatedRadios"
          (raiseNew)="onRaiseNew()"
          (assignRadio)="onAssignRadio()"
        >
        </smi-related-radio-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Work Packages">business_center</mat-icon>
        </ng-template>
        <smi-workpackage-table-in-attributes-page
          data-qa="rules-and-attributes-related-work-package-table"
          [data]="attribute?.relatedWorkPackages">
        </smi-workpackage-table-in-attributes-page>
      </mat-tab>
    </mat-tab-group>
  </p>
</app-model-container>
