<app-model-container>
  <p class="rightPane">
    <mat-tab-group mat-stretch-tabs class="stretched-tabs" [@.disabled]="true">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Details">info</mat-icon>
        </ng-template>
        <p class="detailsTab">
          <smi-attribute-details-form
            [group]="attributeDetailsForm"
            [workPackageIsEditable]="workPackageIsEditable"
            (save)="onSaveAttribute()"
            (delete)="onDeleteAttribute()"
            [tags]="attribute?.tags"
            [availableTags]="availableTags$ | async"
            (updateAvailableTags)="onUpdateAvailableTags()"
            (addTag)="onAddTag($event)"
            (removeTag)="onRemoveTag($event)"
            [relatedAttribute]="attribute?.related"
            (addRelatedAttribute)="onAddRelatedAttribute()"
            (deleteRelatedAttribute)="onDeleteRelatedAttribute($event)"
          >
          </smi-attribute-details-form>
        </p>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Documentation Standards">insert_drive_file</mat-icon>
        </ng-template>
        <smi-tabs-title
          [title]="'Documentation of'"
          [reference]="attribute?.reference"
          [name]="attribute?.name"
        >
        </smi-tabs-title>
        <smi-edit-documentation-standards-table
          data-qa="rules-and-attributes-documentation-standards-table"
          [data]="attribute?.customProperties"
          [isEditable]="workPackageIsEditable"
          (saveProperty)="onSaveProperties($event)"
          (deleteProperty)="onDeleteProperties($event)"
          >
        </smi-edit-documentation-standards-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="RADIO">track_changes</mat-icon>
        </ng-template>
        <smi-tabs-title
          [title]="'RADIOs related to'"
          [reference]="attribute?.reference"
          [name]="attribute?.name"
        >
        </smi-tabs-title>
        <smi-related-radio-table
          data-qa="rules-and-attributes-radio-table"
          [data]="attribute?.relatedRadios"
          (raiseNew)="onRaiseNew()"
          (assignRadio)="onAssignRadio()"
        >
        </smi-related-radio-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Work Packages">business_center</mat-icon>
        </ng-template>
        <smi-tabs-title
          [title]="'Work packages affecting'"
          [reference]="attribute?.reference"
          [name]="attribute?.name"
        >
        </smi-tabs-title>
        <smi-related-work-package-table [data]="attribute?.relatedWorkPackages"></smi-related-work-package-table>
      </mat-tab>
    </mat-tab-group>
  </p>
</app-model-container>
