app-model-container {
  position: relative;
  background-color: #eee;
  border-left: solid 2px #ddd;
}

.rightPane {
  width: 100%;
}

.detailsTab {
  padding: 15px;
}

button {
  position: absolute;
  bottom: 12px;
  left: 16px;
  z-index: 1;
}

.mat-icon {
  font-size: 19px;
  margin-top: 5px;
}
