table {
  width: 100%;
  tr.mat-header-row {
    height: 35px;
  }
  th.mat-column-name {
    width: 40%;
  }
  th.mat-column-edit {
    width: 48px;
  }
  th.mat-column-delete {
    width: 5%;
  }
}

p {
  padding: 25px 0px 10px 22px;
  margin: 0;
  background-color: #fff;
  color: #555;
}

.description {
  font-size: 15px;
}

.mat-icon {
  cursor: pointer;
}

.search-container {
  width: 100%;
  padding: 10px;
  background-color: #eee;
  input {
    width: 100%;
    padding: 7px 10px;
    border-radius: 5px;
    border: solid 1px #eee;
    &:focus {
      outline: none;
    }
  }
}