<div class="search-container">
  <input 
    data-qa="documentation-standards-table-quick-search"
    placeholder="Search" 
    [(ngModel)]="searchString" 
    (keydown)="$event.stopPropagation()" 
  />
</div>
<mat-card data-qa="documentation-standards-card" *ngFor="let element of data | searchPipe: searchString; let i = index">
  <mat-card-content>
    <div class="content">
      <div class="name">
        {{ element.name }}
        <smi-edit-documentation-standards-form 
          *ngIf="i === index" 
          [group]="editDocumentationStandardsForm"
          [type]="element.type"
        >
        </smi-edit-documentation-standards-form>
      </div>
      <div class="right">
        <span *ngIf="!nodeIsEditable()">
          <mat-icon 
            data-qa="documentation-standards-table-edit" 
            (click)="onEdit(element, i)"
            *ngIf="i !== index; else elseBlock"
          >
            edit
          </mat-icon>
        </span>
        <ng-template #elseBlock>
          <mat-icon data-qa="documentation-standards-table-save" (click)="onSave(element.propertyId)">check</mat-icon>
          <mat-icon data-qa="documentation-standards-table-cancel" (click)="onCancel()">close</mat-icon>
        </ng-template>
        <mat-icon 
          data-qa="documentation-standards-table-delete" 
          *ngIf="!nodeIsEditable()" 
          (click)="onDelete(element)"
          style="color: #CF3030"
        >
          delete
        </mat-icon>
      </div>
    </div>
    <div class="right" *ngIf="i !== index">
      <a href="{{ element.value }}" target="_blank" *ngIf="element.type === 'Hyperlink'; else elseBlock2">
        {{ element.value }}
      </a>
      <ng-template #elseBlock2>
        {{ element.type === 'Date' ? (element.value | date) : element.value }}
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
