<div class="mat-elevation-z8">
  <div class="search-container">
    <input placeholder="Search" data-qa="radio-relates-to-table-quick-search" (keyup)="onSearch($event.target.value)">
  </div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="workPackage">
      <th mat-header-cell *matHeaderCellDef>Work Package</th>
      <td mat-cell *matCellDef="let element">
        <span [ngClass]="{ disabled: element.workPackage.id === currentArchitecturePackageId }" (click)="goToWorkPackagePage(element)">
          {{ element.workPackage.name }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="itemType">
      <th mat-header-cell *matHeaderCellDef>Item Type</th>
      <td mat-cell *matCellDef="let element">{{ element.item.itemType }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        <span class="name-cell">
          Name
          <button *ngIf="isEditable" mat-icon-button (click)="onAdd()"
            data-qa="radio-relates-to-add">
            <mat-icon>add</mat-icon>
          </button>
        </span>
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="name-cell">
          <span>{{ element.item.name }}</span>
          <div>
            <button mat-icon-button (click)="loadRelateTo(element)">
              <mat-icon>launch</mat-icon>
            </button>
            <button *ngIf="isEditable" mat-icon-button (click)="onUnLink(element)"
              data-qa="radio-relates-to-disassociate">
              <mat-icon>link_off</mat-icon>
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
</div>
