.mat-dialog-actions{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 17px;
}

button:nth-child(1){
    background-color: #ddd;
}

textarea{
    width: 100%;
}

span{
    font-weight: 500;
}