<app-base-header>
    <app-toolbar-column [fillFreeSpace]="true">
        <app-search (search)="onSearchVersion($event)"></app-search>
    </app-toolbar-column>
    <app-toolbar-column>
        <smi-quicklinks-actions></smi-quicklinks-actions>
    </app-toolbar-column>
</app-base-header><br><br>

<div class="container">
    <div class="row">
        <div class="col">
            <smi-workpackages-table
                [data]="workpackageEntities$ | async"
                (workpackageSelected)="onSelectWorkpackage($event)"
                (addWorkpackage)="onAddWorkpackage($event)">
            </smi-workpackages-table>
        </div>
        <div class="col" *ngIf="workpackageSelected">
            <smi-workpackage-detail
                [group]="workpackageDetailsForm"
                (editWorkpackage)="onEditWorkpackage($event)"
                (deleteWorkpackage)="onDeleteWorkpackage($event)"
                (saveWorkpackage)="onSaveWorkpackage($event)">
            </smi-workpackage-detail>

            <smi-objectives-table></smi-objectives-table>

            <smi-radio-table></smi-radio-table>
            <smi-change-table></smi-change-table>
        </div>
    </div>
</div>