<app-model-container>
  <smi-left-hand-pane></smi-left-hand-pane>
  <app-drawer>
    <app-base-header>
      <app-toolbar-column [fillFreeSpace]="true"> </app-toolbar-column>
      <app-search></app-search>
      <app-toolbar-column>
        <smi-quicklinks-actions></smi-quicklinks-actions>
      </app-toolbar-column>
    </app-base-header>
    <app-model-container class="diagram-container">
      <div class="container">
        <div class="row">
          <div class="col mat-elevation-z8">
            <mat-slide-toggle
              data-qa="work-packages-archive-toggle"
              color="primary"
              (change)="showArchivedWorkPackages($event)"
            >
              Show archived
            </mat-slide-toggle>
            <mat-tab-group [@.disabled]="true">
              <mat-tab>
                <ng-template mat-tab-label> <mat-icon>list</mat-icon> List </ng-template>
                <smi-spinner *ngIf="(loading$ | async) === true"></smi-spinner>
                <smi-workpackages-table
                  data-qa="work-packages-table"
                  [data]="workpackageEntities$ | async"
                  (workpackageSelected)="onSelectWorkpackage($event)"
                  (addWorkpackage)="onAddWorkPackage()"
                  [selectedRowIndex]="selectedRowIndex"
                  (search)="onSearch($event)"
                  [pagination]="page$ | async"
                  (pageChange)="onPageChange($event)"
                >
                </smi-workpackages-table>
              </mat-tab>
              <mat-tab label="Diagram">
                <ng-template mat-tab-label> <mat-icon>device_hub</mat-icon> Diagram </ng-template>
                <ng-template matTabContent>
                  <smi-workpackage-tree
                    [checked]="checked"
                    (selectWorkpackage)="onSelectWorkpackage($event)"
                    [workpackages$]="workpackageEntities$ | async"
                  ></smi-workpackage-tree>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
          <div class="col">
            <smi-right-hand-side
              *appByRole="[Roles.ADMIN, Roles.ARCHITECT]"
              [title]="'Work Package'"
              (add)="onAddWorkPackage()"
            ></smi-right-hand-side>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </app-model-container>
  </app-drawer>
</app-model-container>
