<app-model-container *ngIf="!showOrHideRightPane">
  <p class="rightPane">
    <mat-tab-group
      mat-stretch-tabs
      class="stretched-tabs"
      [@.disabled]="true"
      [selectedIndex]="selectedRightTab">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Details">info</mat-icon>
        </ng-template>
        <p class="detailsTabContainer">
          <smi-report-library-detail
            [group]="reportDetailForm"
            [workPackageIsEditable]="workPackageIsEditable"
            [isEditable]="isEditable"
            [selectedOwnerIndex]="selectedOwnerIndex"
            [dataSets]="report?.dataSets"
            [system]="report?.system"
            [owners]="report?.owners"
            [dimensions]="report?.dimensions"
            [reportingConcepts]="report?.reportingConcepts"
            (saveReport)="onSaveReport()"
            (editReport)="onEditReport()"
            (cancel)="onCancel()"
            (deleteReport)="onDeleteReport()"
            [selectedOwner]="selectedOwner"
            (addOwner)="onAddOwner()"
            (selectOwner)="onSelectOwner($event)"
            (deleteOwner)="onDeleteOwner()"
            (editSourceSystem)="onEditSourceSystem()"
            (addDataSets)="onAddDataSets(report.id)"
            (removeDataSet)="onRemoveDataSet($event, report.id)"
            (dimensionEdit)="onDimensionEdit($event, report.id)"
          >
          </smi-report-library-detail>
        </p>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Attributes & Rules">ballot</mat-icon>
        </ng-template>
        <smi-attributes-table-in-reports-page [data]="report?.attributes"> </smi-attributes-table-in-reports-page>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Documentation Standards">insert_drive_file</mat-icon>
        </ng-template>
        <smi-properties-table-in-reports-page [data]="report?.customPropertyValues">
        </smi-properties-table-in-reports-page>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="RADIO">track_changes</mat-icon>
        </ng-template>
        <smi-radio-table-in-reports-page [data]="report?.relatedRadios"> </smi-radio-table-in-reports-page>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Work Packages">business_center</mat-icon>
        </ng-template>
        <smi-workpackage-table-in-reports-page [data]="report?.relatedWorkPackages">
        </smi-workpackage-table-in-reports-page>
      </mat-tab>
    </mat-tab-group>
  </p>
</app-model-container>
