<smi-right-sidebar
    *ngIf="!showOrHideRightPane"
    [objectSelected]="reportSelected"
    (rightTab)="openRightTab($event)">
</smi-right-sidebar>

<app-model-container *ngIf="showOrHideRightPane">
    <app-model-sidebar [minWidth]="400" [maxWidth]="600" [isLast]="true">
        <p class="rightPane">
            <mat-tab-group mat-stretch-tabs class="stretched-tabs" [@.disabled]="true" [selectedIndex]="selectedRightTab">
                <mat-tab label="Details">
                    <smi-report-library-detail
                        [group]="reportDetailForm"
                        [dataSets]="report?.dataSets"
                        [owners]="report?.owners"
                        [dimensions]="report?.dimensions"
                        [reportingConcepts]="report?.reportingConcepts">
                    </smi-report-library-detail>
                </mat-tab>
                <mat-tab label="Attributes">
                    <smi-attr-and-rules-table
                        [data]="report?.attributes">
                    </smi-attr-and-rules-table>
                </mat-tab>
                <mat-tab label="Properties"></mat-tab>
                <mat-tab label="RADIO"></mat-tab>
                <mat-tab label="Work Packages"></mat-tab>
            </mat-tab-group>
            <button mat-button (click)="onHideRightPane()">Hide<mat-icon>keyboard_arrow_right</mat-icon></button>
        </p>
    </app-model-sidebar>
</app-model-container>