<app-model-container *ngIf="!showOrHideRightPane">
  <p class="rightPane">
    <mat-tab-group
      mat-stretch-tabs
      class="stretched-tabs"
      [@.disabled]="true"
      [selectedIndex]="selectedRightTab">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Details">info</mat-icon>
        </ng-template>
        <p class="detailsTabContainer">
          <smi-report-library-detail
            data-qa="reports-details-form"
            [group]="reportDetailForm"
            [workPackageIsEditable]="workPackageIsEditable"
            [isEditable]="isEditable"
            [selectedOwnerIndex]="selectedOwnerIndex"
            [dataSets]="report?.dataSets"
            [system]="report?.system"
            [owners]="report?.owners"
            [dimensions]="report?.dimensions"
            [reportingConcepts]="report?.reportingConcepts"
            (saveReport)="onSaveReport()"
            (deleteReport)="onDeleteReport()"
            [selectedOwner]="selectedOwner"
            (addOwner)="onAddOwner()"
            (selectOwner)="onSelectOwner($event)"
            (deleteOwner)="onDeleteOwner()"
            (editSourceSystem)="onEditSourceSystem()"
            (addDataSets)="onAddDataSets(report.id)"
            (removeDataSet)="onRemoveDataSet($event, report.id)"
            (dimensionEdit)="onDimensionEdit($event, report.id)"
            [tags]="report?.tags"
            [availableTags]="availableTags$ | async"
            (updateAvailableTags)="onUpdateAvailableTags()"
            (addTag)="onAddTag($event)"
            (removeTag)="onRemoveTag($event)"
          >
          </smi-report-library-detail>
        </p>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Attributes & Rules">ballot</mat-icon>
        </ng-template>
        <smi-attributes-table-in-reports-page [data]="report?.attributes" data-qa="reports-attributes-and-rules-table"> </smi-attributes-table-in-reports-page>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Documentation Standards">insert_drive_file</mat-icon>
        </ng-template>
        <smi-edit-documentation-standards-table
          data-qa="reports-documentation-standards-table" 
          [data]="report?.customPropertyValues" 
          [isEditable]="workPackageIsEditable"
          (saveProperty)="onSaveProperties($event)" 
          (deleteProperty)="onDeleteProperties($event)">
        </smi-edit-documentation-standards-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="RADIO">track_changes</mat-icon>
        </ng-template>
        <smi-radio-table-in-reports-page [data]="report?.relatedRadios" data-qa="reports-radio-table"> </smi-radio-table-in-reports-page>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Work Packages">business_center</mat-icon>
        </ng-template>
        <smi-workpackage-table-in-reports-page [data]="report?.relatedWorkPackages" data-qa="reports-related-work-package-table">
        </smi-workpackage-table-in-reports-page>
      </mat-tab>
    </mat-tab-group>
  </p>
</app-model-container>
