.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 17px;
}

button:nth-child(1) {
  background-color: #ddd;
}

button:focus {
  outline: none;
}

.error {
  margin-bottom: 15px;
  color: darkRed;
  span {
    color: darkred;
    font-weight: bold;
  }
}
