table {
    width: 99%;
    tr.mat-header-row {
        height: 35px;
    }
    td {
        font-size: 12px;
    }
    td:nth-child(1) {
        padding-top: 10px;
    }
}

.mat-icon {
    cursor: pointer;
}

.mat-checkbox {
    margin-top: 10px;
}