<h1 mat-dialog-title>Edit name of added node</h1>
<form [formGroup]="nameForm">
  <mat-form-field>
    <input matInput data-qa="topology-edit-name-modal-name" (focus)="$event.target.select()" placeholder="Name" formControlName="name" />
  </mat-form-field>
  <div mat-dialog-actions>
    <button data-qa="topology-edit-name-modal-save" mat-button (click)="onSubmit()">Save</button>
    <button data-qa="topology-edit-name-modal-cancel" mat-button (click)="onCancel()">Cancel</button>
  </div>
</form>
