<mat-form-field floatLabel="never" appearance="none" matTooltip="Scope - Filter on the components in a specific scope">
  <mat-select
    data-qa="header-scope-dropdown"
    [value]="selectedScope?.id" 
    (selectionChange)="onSelect($event)"
  >
  <mat-select-trigger>{{ getLabel() }}</mat-select-trigger>
    <mat-option *ngFor="let scope of scopes | orderBy: 'name'" [value]="scope.id">
      <span *ngIf="scope.id !== defaultScopeId">
        <mat-icon *ngIf="scope.favourite" (click)="$event.stopPropagation(); unsetFavourite(scope)">grade</mat-icon>
        <mat-icon *ngIf="!scope.favourite" (click)="$event.stopPropagation(); setFavourite(scope)">star_outline</mat-icon>
      </span>
      {{ scope.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
