table {
  width: 100%;
}

tr.mat-header-row {
  height: 35px;
}

td.mat-column-icons {
  width: 10%;
}

.mat-icon {
  cursor: pointer;
}

.actions {
  margin: 10px 5px;
  display: flex;
  justify-content: space-between;
}