<form [formGroup]="group">
  <div [ngClass]="{ disabled: !isEditable }">
    <!-- Name -->
    <mat-form-field>
      <input matInput placeholder="Name" [ngClass]="{ editable: isEditable }" formControlName="name" />
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <!-- Filtering Components -->
    <mat-form-field *ngIf="!modalMode && !layoutDetails">
      <mat-label>Filtering Components</mat-label>
      <mat-select [ngClass]="{ editable: isEditable }" formControlName="layerFilter">
        <mat-option *ngFor="let layerFilter of layerFilter" [value]="layerFilter">
          {{ layerFilter }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Form Actions -->
  <div class="form-actions" *ngIf="!modalMode">
    <div *ngIf="!isEditable">
      <button type="button" mat-raised-button color="primary" (click)="onEdit()" data-qa="scopes-and-layouts-edit">Edit</button>
      <button type="button" mat-raised-button color="primary" data-qa="scopes-and-layouts-open">Open</button>
      <button type="button" mat-raised-button color="primary" data-qa="scopes-and-layouts-copy">Copy</button>
      <button type="button" mat-raised-button color="warn" (click)="onDelete()" data-qa="scopes-and-layouts-delete">Delete</button>
    </div>
    <div *ngIf="isEditable">
      <button mat-flat-button color="primary" (click)="onSave()" data-qa="scopes-and-layouts-save">Save</button>
      <button mat-flat-button (click)="onCancel()" data-qa="scopes-and-layouts-cancel">Cancel</button>
    </div>
  </div>
</form>
