mat-tab-group {
  border-top: solid 1px #ddd;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
}

span {
  margin: 0px 10px;
}

mat-icon {
  font-size: 20px;
  position: relative;
  top: 2px;
}