<div class="wrapper">
  <div class="block">
    <mat-chip-list>
      <mat-chip *ngIf="dependenciesView" data-qa="topology-viewing-dependencies">
        Viewing Dependencies
        <mat-icon matChipRemove (click)="exitDependenciesView.emit()">cancel</mat-icon>
      </mat-chip>
      
      <mat-chip *ngIf="filterLevel === 'usage analysis'" data-qa="topology-showing-usage-across-levels">
        Showing Usage Across Levels
        <mat-icon matChipRemove (click)="exitUsageView.emit()">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>

  <div class="block">
    <smi-layout-actions
      data-qa="topology-layout-actions"
      class="layout-actions"
      [grid]="grid"
      [allowMove]="allowMove"
      (zoomIn)="zoomIn.emit()"
      (zoomOut)="zoomOut.emit()"
      (showGrid)="showGrid.emit()"
      (zoomToFit)="zoomToFit.emit()"
      (editLayout)="editLayout.emit()"
      (downloadImage)="downloadImage.emit()"
      (saveLayout)="saveLayout.emit()"
      (saveAsLayout)="saveAsLayout.emit()"
      [allowSave]="allowSave"
      [allowSaveAs]="allowSaveAs"
      [dependenciesView]="dependenciesView"
      (layoutSettings)="layoutSettings.emit()"
      (selectLayout)="selectLayout.emit($event)"
      [selectedLayout]="selectedLayout"
      (addLayout)="addLayout.emit()"
      [layouts]="layouts"
    >
    </smi-layout-actions>
  </div>
</div>