<div class="wrapper">
  <div class="block">
    <mat-chip-list>
      <mat-chip *ngIf="diagramChangeService.dependenciesView" data-qa="topology-viewing-dependencies">
        Viewing Dependencies
        <mat-icon matChipRemove (click)="exitDependenciesView.emit()">cancel</mat-icon>
      </mat-chip>
      
      <mat-chip *ngIf="filterLevel === Level.usage" data-qa="topology-showing-usage-across-levels">
        Showing Usage Across Levels
        <mat-icon matChipRemove (click)="exitUsageView()">cancel</mat-icon>
      </mat-chip>

      <mat-chip *ngIf="getMapView()" data-qa="topology-integration-analysis">
        Integration Analysis
        <mat-icon matChipRemove (click)="exitMapView()">cancel</mat-icon>
      </mat-chip>

      <mat-chip *ngIf="filterLevel === Level.sources" data-qa="topology-data-set-source">
        Data Set Source
        <mat-icon matChipRemove (click)="exitSourceOrTargetView()">cancel</mat-icon>
      </mat-chip>

      <mat-chip *ngIf="filterLevel === Level.targets" data-qa="topology-data-set-targets">
        Data Set Targets
        <mat-icon matChipRemove (click)="exitSourceOrTargetView()">cancel</mat-icon>
      </mat-chip>

      <mat-chip *ngIf="groupName" data-qa="topology-group-name">
        Displaying Grouped Items
        <mat-icon matChipRemove (click)="displayingGroupName()">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>

  <div class="block">
    <smi-layout-actions
      data-qa="topology-layout-actions"
      class="layout-actions"
      [grid]="grid"
      [allowMove]="allowMove"
      (zoomIn)="zoomIn.emit()"
      (zoomOut)="zoomOut.emit()"
      (showGrid)="showGrid.emit()"
      (zoomToFit)="zoomToFit.emit()"
      (editLayout)="editLayout.emit()"
      (downloadImage)="downloadImage.emit()"
      (saveLayout)="saveLayout.emit()"
      (saveAsLayout)="saveAsLayout.emit()"
      [allowSave]="allowSave"
      [allowSaveAs]="allowSaveAs"
      (layoutSettings)="layoutSettings.emit()"
      (selectLayout)="selectLayout.emit($event)"
      [selectedLayout]="selectedLayout"
      (addLayout)="addLayout.emit()"
      [layouts]="layouts"
      [scope]="scope"
    >
    </smi-layout-actions>
    <p class="warning">{{ getWarning() }}</p>
  </div>
</div>