table {
  width: 100%;
  tr.mat-header-row {
    height: 35px;
  }
  tr.mat-row {
    cursor: pointer;
  }
  td.mat-column-navigate {
    width: 10%;
  }
  td.mat-column-refNo {
    width: 23%;
  }
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    padding: 7px 0;
    margin: 3px 0;
    cursor: pointer;
  }
}
