<app-model-container>
  <p class="rightPane">
    <mat-tab-group mat-stretch-tabs class="stretched-tabs" [@.disabled]="true">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">info</mat-icon>
          Details
        </ng-template>
        <p class="detailsTab">
          <smi-radio-detail
            data-hook="radio-details"
            [data]="users$ | async"
            [relatesTo]="radio?.relatesTo"
            [group]="radioDetailsForm"
            [isEditable]="isEditable"
            [modalMode]="modalMode"
            [statusClosed]="statusClosed"
            (archiveRadio)="onArchiveRadio($event)"
            (saveRadio)="onSaveRadio()"
          >
          </smi-radio-detail>
        </p>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>comment</mat-icon>
          Discussions
        </ng-template>
        <p class="discussion-tab">
          <smi-chatbox [group]="radioDetailsForm" [data]="radio?.replies"> </smi-chatbox>
        </p>
        <p class="reply-input">
          <smi-reply-text [rows]="4" [group]="radioDetailsForm" (sendReply)="onSendReply($event)"> </smi-reply-text>
        </p>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>insert_drive_file</mat-icon>
          Documentation Standards
        </ng-template>
        <smi-radio-properties-tab
          (editProperty)="onEditProperty($event)"
          (deleteProperty)="onDeleteProperty($event)"
          [data]="radio?.customPropertyValues"
        >
        </smi-radio-properties-tab>
      </mat-tab>
    </mat-tab-group>
  </p>
</app-model-container>
