app-model-container {
  position: relative;
  background-color: #eee;
  border-left: solid 2px #ddd;
}

.rightPane {
  width: 100%;
}

.detailsTab {
  padding: 15px 30px;
}

button {
  position: absolute;
  bottom: 12px;
  left: 16px;
  z-index: 1;
}

.mat-icon {
  margin-right: 15px;
  font-size: 18px;
  margin-top: 7px;
}

.discussion-tab {
  padding: 20px 20px 0px 20px;
  background-color: #fff;
  height: 65vh;
  overflow-y: auto;
}

.reply-input {
  padding: 0px 25px;
}
