app-model-container {
  position: relative;
  background-color: #eee;
  border-left: solid 2px #ddd;
}

.rightPane {
  width: 100%;
}

.detailsTab {
  padding: 10px 15px;
}

button {
  position: absolute;
  bottom: 12px;
  left: 16px;
  z-index: 1;
}

.mat-icon {
  margin-right: 5px;
  font-size: 18px;
  margin-top: 7px;
}

.discussion-tab {
  padding: 20px 20px 0px 20px;
  background-color: #fff;
  height: 65vh;
  overflow-y: auto;
}

.reply-input {
  padding: 0px 25px;
}

.wrapper {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0.2);
}
