<h1 mat-dialog-title>New RADIO</h1>
<div mat-dialog-content>
  <smi-radio-detail 
    [data]="users$ | async" 
    [group]="radioDetailsForm" 
    [isEditable]="isEditable" 
    [modalMode]="modalMode"
    [selectedNode]="data?.selectedNode"
    [workpackages]="workpackages$ | async"
    (selectWorkPackage)="onSelectWorkPackage($event)"
    [radioCategory]="radioCategory"
  >
  </smi-radio-detail>
</div>
<div mat-dialog-actions>
  <button mat-button data-qa="radio-modal-save" (click)="onSubmit()">Save</button>
  <button mat-button data-qa="radio-modal-cancel" (click)="onCancelClick()">Cancel</button>
</div>
