.palette {
  margin: 7px 1px 0px 1px;
}

.content {
  width: 420px;
  height: 100%;
  transition: all .2s ease-in-out;
}

.editTab {
  width: 205px;
  transition: all .2s ease-in-out;
}

.mat-icon {
  width: 0px !important;
  font-size: 18px;
  margin-top: 5px;
  margin-right: 15px;
}
