.palette {
  margin: 7px 1px 0px 1px;
}

.content {
  width: 420px;
  height: 100%;
  transition: all .2s ease-in-out;
}

.editTab {
  width: 205px;
  transition: all .2s ease-in-out;
}

.tab {
  font-size: 18px;
  margin-right: 5px;
}