.palette {
  margin: 7px 1px 0px 1px;
}

.content {
  width: 420px;
  height: 100%;
  transition: all .2s ease-in-out;
}

.editTab {
  width: 205px;
  transition: all .2s ease-in-out;
  &::ng-deep .mat-tab-header-pagination {
    display: none !important;
  }
  &::ng-deep .mat-tab-list {
    transform: unset !important;
  }
}

.mat-icon {
  margin-right: 5px;
  font-size: 18px;
  margin-top: 5px;
}

.onlyIcon {
  width: 0px !important;
  font-size: 18px;
  margin-top: 7px;
  margin-right: 15px;
}

.hide-btn {
  position: absolute;
  bottom: 12px;
  right: 16px;
  z-index: 2;
  border-radius: 50px;
}

.layout-btn {
  position: absolute;
  bottom: 12px;
  left: 16px;
  z-index: 2;
}