<mat-tab-group
  mat-stretch-tabs
  [@.disabled]="true"
  [selectedIndex]="selectedLeftTab"
>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon matTooltip="Work Packages">business_center</mat-icon>
    </ng-template>
    <smi-workpackage-tab-table
      data-qa="left-hand-pane-work-package-table"
      class="workpackage-table"
      [canSelectWorkpackage]="canSelectWorkpackages"
      [data]="workpackages"
      (selectWorkPackage)="onSelectWorkPackage($event)"
      (selectColour)="onSelectColour($event)"
      (setWorkpackageEditMode)="setWorkpackageEditMode.emit($event)"
    >
    </smi-workpackage-tab-table>
  </mat-tab>
  <mat-tab *ngIf="workPackageIsEditable">
    <ng-template mat-tab-label>
      <mat-icon matTooltip="Edit">edit</mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <p class="palette">
        <app-architecture-palette></app-architecture-palette>
      </p>
    </ng-template>
  </mat-tab>
</mat-tab-group>
