<table>
  <tr>
    <th class="title">
      Owners
    </th>
    <th>
      <mat-icon data-qa="object-details-owners-table-add" (click)="onAdd()" *ngIf="workPackageIsEditable">add</mat-icon>
    </th>
  </tr>
  <tr *ngFor="let object of data; let i = index">
    <td>
      {{ object.name }}
    </td>
    <td *ngIf="workPackageIsEditable">
      <mat-icon data-qa="object-details-owners-table-delete" style="color: #CF3030" (click)="onDelete(object.id)">link_off</mat-icon>
    </td>
  </tr>
</table>