<table>
  <tr>
    <th class="title">Owners</th>
    <th>
      <mat-icon (click)="onAdd()">add</mat-icon>
    </th>
  </tr>
  <tr *ngFor="let object of data; let i = index">
    <td>
      <span *ngIf="i !== index; else elseBlock">{{ object.name }}</span>
      <ng-template #elseBlock>
        <form [formGroup]="formGroup">
          <input type="text" formControlName="name">
        </form>
      </ng-template>
    </td>
    <td>
      <span *ngIf="i !== index; else elseBlock2">
        <mat-icon style="color: #CF3030" (click)="onDelete(object.id)">link_off</mat-icon>
        <mat-icon (click)="onEdit(object, i)">edit</mat-icon>
      </span>
      <ng-template #elseBlock2>
        <mat-icon (click)="onCancel()">close</mat-icon>
        <mat-icon (click)="onSave(object)">check</mat-icon>
      </ng-template>
    </td>
  </tr>
</table>