div {
  width: 50px;
  height: 100%;
  background-color: #eee;
}

span {
  color: rgba(0, 0, 0, 0.87);
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding: 15px 13px;
  cursor: pointer;
  margin-top: 30px;
  &:hover {
    background-color: #ddd;
  }
}
