<div style="overflow-x: hidden;">
  <button mat-icon-button (click)="openSearch()" class="open-search-button" data-qa="header-global-search-open">
    <mat-icon>search</mat-icon>
  </button>
  <mat-toolbar class="search-block" [class.active]="toggleSearch">
    <mat-toolbar-row style="padding: 0 5px;">
      <button mat-button mat-icon-button (click)="searchClose()" data-qa="header-global-search-close">
        <mat-icon>close</mat-icon>
      </button>
      <input #inp class="search-control" placeholder="Search" (keyup)="onSearch($event.target.value)" data-qa="header-global-search" />
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div *ngIf="toggleSearch" class="mat-elevation-z8">
  <table>
    <tr *ngIf="(results$ | async)?.length > 1">
      <th class="results-col">Results</th>
      <th class="type-col">Type</th>
      <th class="work-package-col">Work Package</th>
    </tr>
    <tr *ngFor="let result of results$ | async" (click)="onSelect(result)">
      <td>{{ result.name }}</td>
      <td>{{ result.objectType }}</td>
      <td>{{ result.workPackage.name ?  result.workPackage.name : ' - ' }}</td>
    </tr>
  </table>
</div>