<div class="eaton mat-typography" style="overflow-x: hidden;" fxFlexFill cdkScrollable>
  <button mat-icon-button (click)="openSearch()" class="open-search-button" data-qa="header-global-search-open">
    <mat-icon>search</mat-icon>
  </button>
  <mat-toolbar class="search-block mat-elevation-z4" [class.active]="toggleSearch">
    <mat-toolbar-row style="padding: 0 5px;">
      <button mat-button mat-icon-button (click)="searchClose()" data-qa="header-global-search-close">
        <mat-icon>close</mat-icon>
      </button>
      <input #inp class="search-control" placeholder="Search" (keyup)="onSearch($event.target.value)" data-qa="header-global-search" />
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="results-container mat-elevation-z8" *ngIf="toggleSearch" data-qa="header-global-search-results">
  <ul *ngFor="let result of results$ | async">
    <li (click)="onSelect(result)">
      {{ result.name }}: <small>{{ result.objectType }}</small>
      <small>{{ result.workPackage.name ? ' - ' + result.workPackage.name : '' }}</small>
    </li>
  </ul>
</div>
