header {
  position: absolute;
  top: 0;
  z-index: 11;
  transition: all 50ms ease-in-out;
}

.main-header {
  @extend header;
  &.hidden {
    opacity: 0;
  }
}

.search-block {
  width: 0%;
  right: 0;
  @extend header;
  background: #fff;
  display: none;
  &.active {
    width: 100%;
    display: block;
  }
  .search-control {
    flex: 1;
    font-size: 1rem;
    border: 0;
    outline: none;
    padding-left: 10px;
  }
}

.open-search-button {
  width: auto;
  margin-right: 3px;
}

.mat-elevation-z8{
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 70px;
  background-color: #fff;
  min-width: 50%;
  max-height: 400px;
  overflow-y: auto;
  z-index: 9999;
  margin-left: 15px;
}

table {
  position: relative;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  color: #555;
  .mat-icon {
    font-size: 14px;
    margin-top: 5px;
  }
}

.results-col {
  width: 55%;
}

.type-col, .work-package-col {
  width: 20%;
}

th {
  font-weight: 500;
  color: #000;
  pointer-events: none;
  padding: 8px 0px;
}

th, td {
  padding: 3px 15px;
}

tr:first-of-type {
  background-color: #f9f9f9;
}

tr {
  padding: 0px 15px;
  cursor: pointer;
  &:hover {
    color: #000;
    background-color: #f9f9f9;
  }
}
