:host {
  flex-grow: 2;
  .search-form {
    width: 70%;
    padding: 0px 10px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: auto;
    .mat-icon {
      font-size: 20px;
      margin-top: 6px;
    }
    input {
      width: 100%;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
}
