.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0px;
}

button:nth-child(1) {
  background-color: #ddd;
}

button:focus {
  outline: none;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-dialog-content {
  flex-grow: 1;
}
