<h1 *ngIf="title" class="title">{{ title }}</h1>
<div class="mat-elevation-z8">
  <div class="search-container">
    <input
      #searchField
      placeholder="Search" 
      data-qa="scopes-and-layouts-quick-search" 
      (keyup)="onSearch($event.target.value)"
    >
    <button 
      mat-icon-button 
      (click)="refresh.emit(searchField.value)"
      data-qa="scopes-and-layouts-refresh-search"
    >
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">
        <span class="name-cell">
          {{ element.name }}
          <button mat-icon-button *ngIf="title !== 'Scopes'; else elseBlock" (click)="$event.stopPropagation(); setFavorite(element.id)">
            <mat-icon *ngIf="element.id === defaultLayoutId">star</mat-icon>
            <mat-icon *ngIf="element.id !== defaultLayoutId">star_border</mat-icon>
          </button>
          <ng-template #elseBlock>
            <span *ngIf="element.id !== defaultScopeId">
              <mat-icon *ngIf="element.favourite" (click)="$event.stopPropagation(); unsetScopeAsFavorite.emit(element.id)">star</mat-icon>
              <mat-icon *ngIf="!element.favourite" (click)="$event.stopPropagation(); setScopeAsFavorite.emit(element.id)">star_border</mat-icon>
            </span>
          </ng-template>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngClass]="{ highlight: selectedRowIndex == row.id }"
      (click)="onSelectRow(row)"
    ></tr>
  </table>

  <div style="display: flex;">
    <div style="flex-grow: 1;">
      <button
        mat-raised-button
        class="create-new-btn"
        color="primary"
        data-qa="scopes-and-layouts-create-new"
        (click)="onAdd()"
      >
        <mat-icon>add</mat-icon> Create New
      </button>
    </div>
    <mat-paginator *ngIf="showPagination"[length]="totalEntities" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  </div>
</div>

