<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>{{ title }}</th>
    <td mat-cell *matCellDef="let element" [ngSwitch]="element.category">
      <div style="display: flex;">
        <mat-icon *ngIf="element.category === 'data set' && element.isShared" svgIcon="data-data-set-shared"></mat-icon>
        <mat-icon *ngIf="element.category === 'data set' && !element.isShared" svgIcon="data-data-set-master"></mat-icon>
        <mat-icon *ngIf="element.category === 'master data set' && element.isShared" svgIcon="data-master-data-set-shared"></mat-icon>
        <mat-icon *ngIf="element.category === 'master data set' && !element.isShared" svgIcon="data-master-data-set-master"></mat-icon>
        <mat-icon *ngSwitchCase="'dimension'" svgIcon="dim"></mat-icon>
        <mat-icon *ngSwitchCase="'key'" svgIcon="rc-keyrc"></mat-icon>
        <mat-icon *ngSwitchCase="'list'" svgIcon="rc-list"></mat-icon>
        <mat-icon *ngSwitchCase="'structure'" svgIcon="rc-structure"></mat-icon>
        <mat-icon *ngSwitchCase="'analytical'" svgIcon="sys-analytical"></mat-icon>
        <mat-icon *ngSwitchCase="'master data'" svgIcon="sys-master-data"></mat-icon>
        <mat-icon *ngSwitchCase="'file'" svgIcon="sys-files"></mat-icon>
        <mat-icon *ngSwitchCase="'reporting'" svgIcon="sys-reporting"></mat-icon>
        <mat-icon *ngSwitchCase="'transactional'" svgIcon="sys-transactional"></mat-icon>
        <mat-icon *ngSwitchCase="'data'" svgIcon="data-interface"></mat-icon>
        <mat-icon *ngSwitchCase="'transformation'" svgIcon="transformation"></mat-icon>
        <span data-qa="topology-components-table-name" (click)="itemClick.emit(element)">{{ element.name }}</span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="arrow-up">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button data-qa="topology-components-table-arrow-up" *ngIf="workPackageIsEditable">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="arrow-down">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button data-qa="topology-components-table-arrow-down" *ngIf="workPackageIsEditable">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <button
        mat-icon-button
        (click)="add.emit()"
        *ngIf="workPackageIsEditable"
        [disabled]="currentFilterLevel"
        data-qa="topology-components-table-add">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="warn"
        *ngIf="workPackageIsEditable"
        (click)="delete.emit(element)"
        data-qa="topology-components-table-delete">
        <mat-icon>link_off</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
