table {
  width: 100%;
  border: solid 1px #ddd;
  margin-bottom: 15px;
}

tr.mat-row, tr.mat-header-row {
  height: 41px;
}

td.mat-column-arrow-up, td.mat-column-arrow-down, td.mat-column-actions {
  width: 5% !important;
}

th:first-of-type {
  text-align: left;
}

th, td:last-of-type {
  text-align: right;
}

.mat-icon {
  font-size: 18px;
}

td span {
  cursor: pointer;
  &:hover {
    border-bottom: 1px solid grey;
  }
}

.mat-icon {
  font-size: 15px;
  margin-right: 5px;
}

span {
  margin-top: 2px;
}

button {
  float: right;
}