<div class="col">
  <div class="row">
    <div class="col">
      <div class="scope-details-form">
        <smi-scopes-and-layouts-detail 
          [group]="scopesAndLayoutsDetailForm"
          (save)="onSaveScope($event)"
          (delete)="onDeleteScope($event)">
        </smi-scopes-and-layouts-detail>
      </div>
    </div>

    <div class="w-100"></div>

    <div class="col layouts-table">
      <smi-scopes-and-layouts-table
        [title]="'Layouts'"
        [data]="scope?.layouts"
        (select)="onLayoutSelect($event)"
        (add)="onAddLayout($event)">
      </smi-scopes-and-layouts-table>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
