<div class="col">
    <div class="row">
        <div class="col">
            <!-- Scopes Detail Form -->
            <div class="scope-form-wrapper">
                <smi-scopes-detail
                    [group]="scopesDetailForm"
                    [ownersList]="selectedScope"
                    [viewersList]="selectedScope"
                    (saveScope)="onSaveScope($event)"
                    (deleteScope)="onDeleteScope($event)">
                </smi-scopes-detail>
            </div>
        </div>

        <div class="w-100"></div>

        <div class="col">
            <!-- Layouts Table -->
            <smi-layouts-table
                *ngIf="scope"
                [data]="scope.layouts"
                (layoutSelected)="onLayoutSelect($event)"
                (addLayout)="onAddLayout($event)">
            </smi-layouts-table>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>