<app-base-header>
  <app-toolbar-column [fillFreeSpace]="true"> </app-toolbar-column>
  <app-search></app-search>
  <app-toolbar-column>
    <smi-quicklinks-actions></smi-quicklinks-actions>
  </app-toolbar-column>
</app-base-header>

<div class="container">
  <div class="row">
    <div class="col">
      <smi-scopes-and-layouts-table
        [title]="'Scopes'"
        [data]="scopes$ | async"
        (select)="onScopeSelect($event)"
        (add)="onAddScope($event)">
      </smi-scopes-and-layouts-table>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
