.container {
  height: 90vh;
  max-width: 100%;
}

.col {
  padding: 10px;
}

.row {
  margin: 0;
}

.drawer-container {
  width: 100%;
  background-color: #fff;
}

.left-sidebar {
  background-color: #F4F5F7;
}

.diagram-container {
  height: calc(100% - 64px);
} 