<div class="wrapper">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        <span>
          Source Data
          <button data-qa="reports-data-sets-table-add" mat-icon-button (click)="onAddDataSets()" *ngIf="edit">
            <mat-icon>add</mat-icon>
          </button>
        </span>
      </th>
      <td mat-cell *matCellDef="let element">
        <span>
          {{ element.name }}
          <button data-qa="reports-data-sets-table-delete" mat-icon-button (click)="onRemoveDataSet(element.id)" *ngIf="edit">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
