.menu {
  width: auto;
  height: 100vh;
  overflow: auto;
  padding: 20px 10px;
}

button {
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  text-align: left;
  color: rgb(66, 82, 110);
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  &:hover {
    background-color: #EBECF0;
    border-radius: 5px;
  }
  &:nth-child(11) {
    margin-top: 5px;
  }
  &:focus {
    outline: none;
  }
}

.mat-icon {
  position: relative;
  top: 3px;
  font-size: 18px;
  margin-left: 10px;
}

h6 {
  color:rgb(66, 82, 110);
  margin-top: 5px;
  padding: 0px 7px;
}

a {
  text-decoration: none;
}