<form [formGroup]="group">
  <mat-form-field floatLabel="always">
    <textarea
      matInput
      [rows]="rows"
      placeholder="Your Message"
      class="input"
      formControlName="replyText"
      [ngStyle]="{ display: 'none' }"
    ></textarea>
    <ckeditor data-qa="radio-discussions-tab-your-message" [editor]="editor" [config]="config" formControlName="replyText"></ckeditor>
  </mat-form-field>
  <button
    data-qa="radio-discussions-tab-send"
    mat-raised-button 
    *ngIf="!replyMode" 
    color="primary" 
    (click)="sendReply.emit()"
    [disabled]="!group.controls.replyText.value"
  >
    <mat-icon>send</mat-icon>Send
  </button>
</form>
