.container {
    max-width: 100%;
    overflow-y: scroll;
}

.col {
    padding: 0;
    margin: 0;
}

button {
    position: absolute;
    bottom: 12px;
    right: 16px;
    z-index: 99999;
}

.leftPane {
    padding-right: 5px;
}