<div class="login-container">
  <img src="./assets/images/toponify_logo_transparent.png">

  <form [formGroup]="loginForm">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <button mat-raised-button (click)="onSumbit()" [disabled]="!loginForm.valid">Login</button>
  </form>

  <div class="error-block" *ngIf="error | async">
    {{ error | async }}
  </div>
</div>

<div class="footer">
  Copyright @2019 Seismi Limited
</div>
