<div class="wrapper">
  <!-- Title -->
  <h1 class="title" *ngIf="documentStandardsPage">Documentation standards</h1>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">
          {{ (documentStandardsPage) ? element.name : element.customPropertyValues[0].name }}
        </td>
      </ng-container>

      <!-- Levels Column -->
      <ng-container matColumnDef="levels">
        <th mat-header-cell *matHeaderCellDef>
          {{ (documentStandardsPage) ? 'Levels' : 'Values' }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ (documentStandardsPage) ? element.levels : element.customPropertyValues[0].value }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{'highlight': selectedRowIndex == row.id}"
        (click)="onSelectRow(row)"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
  </div>
  <button mat-raised-button color="primary" *ngIf="documentStandardsPage">New</button>
</div>
