.wrapper {
  border-bottom: solid 1px #ddd;
}

table {
  width: 100%;
}

tr.mat-row {
  cursor: pointer;
}

th.mat-column-name {
  width: 40%;
}

.highlight {
  background-color: #efefef;
}

.create-new-btn {
  border-radius: 15px;
  font-weight: lighter;
  padding-right: 30px;
  margin-top: 10px;
  margin-left: 15px;
  .mat-icon {
    font-size: 18px;
    margin-right: 5px;
    margin-top: 4px;
    padding: 0;
  }
}
