<mat-tab-group [(selectedIndex)]="selectedRightTab" mat-stretch-tabs class="stretched-tabs" [@.disabled]="true">
  <!-- Details TAB -->
  <mat-tab *ngIf="part?.isSelected && !multipleSelected">
    <ng-template mat-tab-label>
      <mat-icon matTooltip="Details">info</mat-icon>
    </ng-template>
    <p class="detailsTab">
      <smi-object-details-form
        [owners]="owners"
        [group]="group"
        (save)="onSaveNode()"
        (delete)="onDeleteNode()"
        [workPackageIsEditable]="workPackageIsEditable"
        (addOwner)="onAddOwner()"
        (deleteOwner)="onDeleteOwner($event)"
        [part]="part"
        [nodeCategory]="nodeCategory"
        [availableTags]="availableTags"
        [componentLayer]="componentLayer"
        (updateAvailableTags)="onUpdateAvailableTags()"
        (addTag)="onAddTag($event)"
        (createTag)="onCreateTag($event)"
        (removeTag)="onRemoveTag($event)"
        (updateTag)="onUpdateTag($event)"
        [tags]="tags"
        [groupInfo]="groupInfo"
        (editGroup)="editGroup.emit()"
        [clickedOnLink]="clickedOnLink"
      >
      </smi-object-details-form>
    </p>
  </mat-tab>

  <!-- Components TAB -->
  <mat-tab *ngIf="part?.isSelected && !multipleSelected">
    <ng-template mat-tab-label>
      <mat-icon matTooltip="Components">device_hub</mat-icon>
    </ng-template>
    <p class="components-tab">
      <smi-components-table
        [title]="'Systems'"
        [data]="systems"
      >
      </smi-components-table>
      <smi-components-table
        [title]="'Data Sets'"
        [data]="dataSets"
      >
      </smi-components-table>
      <smi-components-table
        [title]="'Dimensions'"
        [data]="dimensions"
      >
      </smi-components-table>
      <smi-components-table
        [title]="'Reporting Concepts'"
        [data]="reportingConcepts"
      >
      </smi-components-table>
    </p>
  </mat-tab>

  <!-- Attributes and Rules TAB -->
  <mat-tab *ngIf="part?.isSelected && !multipleSelected">
    <ng-template mat-tab-label>
      <mat-icon matTooltip="Attributes & Rules">ballot</mat-icon>
    </ng-template>
    <smi-attributes-tab
      [data]="attributes"
      [workPackageIsEditable]="workPackageIsEditable"
      (addAttribute)="onAddAttribute()"
      (addExisting)="onAddExistingAttribute()"
      [nodeCategory]="nodeCategory"
      (deleteAttribute)="onDeleteAttribute($event)"
    >
    </smi-attributes-tab>
  </mat-tab>

  <!-- Documentation Standards TAB -->
  <mat-tab *ngIf="part?.isSelected && !multipleSelected">
    <ng-template mat-tab-label>
      <mat-icon matTooltip="Documentation Standards">insert_drive_file</mat-icon>
    </ng-template>
    <smi-edit-documentation-standards-table
      [data]="properties"
      [isEditable]="workPackageIsEditable"
      [nodeCategory]="nodeCategory"
      (saveProperty)="onSaveProperty($event)"
      (deleteProperty)="onDeleteProperty($event)"
    >
    </smi-edit-documentation-standards-table>
  </mat-tab>

  <!-- RADIO TAB -->
  <mat-tab *ngIf="!multipleSelected">
    <ng-template mat-tab-label>
      <mat-icon matTooltip="RADIO">track_changes</mat-icon>
    </ng-template>
    <smi-radio-tab
      *ngIf="part?.isSelected"
      [data]="relatedRadios"
      (addRadio)="onAddRelatedRadio()"
      (openRadio)="onOpenRadio($event)"
      (assignRadio)="onAssignRadio()"
      [nodeCategory]="nodeCategory"
    >
    </smi-radio-tab>
    <smi-radio-table-in-architecture
      *ngIf="!part?.isSelected"
      [data]="radio"
      (addRadio)="onAddRadio()"
      (openRadio)="onOpenRadio($event)"
    >
    </smi-radio-table-in-architecture>
  </mat-tab>

  <!-- Scopes TAB -->
  <mat-tab *ngIf="part?.isSelected">
    <ng-template mat-tab-label>
      <mat-icon matTooltip="Scopes">pages</mat-icon>
    </ng-template>
    <smi-scope-table
      *ngIf="part?.isSelected && !multipleSelected"
      [data]="nodeScopes"
      (delete)="onDeleteScope($event)"
      (addExistingScope)="onAddExistingScope()"
      (newScope)="onAddNewScope()"
      [nodeCategory]="nodeCategory"
    >
    </smi-scope-table>
    <!-- Add Scope Button -->
    <button *ngIf="multipleSelected" mat-raised-button color="primary" id="add-scope-button" (click)="onAddScope()">
      Add Scope
    </button>
  </mat-tab>

  <!-- Work Package TAB -->
  <mat-tab *ngIf="part?.isSelected && !multipleSelected">
    <ng-template mat-tab-label>
      <mat-icon matTooltip="Work Packages">business_center</mat-icon>
    </ng-template>
    <smi-workpackage-tab [data]="workpackages"></smi-workpackage-tab>
  </mat-tab>

  <!-- Reports TAB -->
  <mat-tab *ngIf="filterLevel && part?.isSelected && !multipleSelected">
    <ng-template mat-tab-label>
      <mat-icon matTooltip="Reports">bookmarks</mat-icon>
    </ng-template>
    <smi-reports-tab [data]="nodeReports"></smi-reports-tab>
  </mat-tab>
</mat-tab-group>

<!-- Hide right pane -->
<button mat-raised-button color="primary" class="hide-pane-button" (click)="onHidePane()">
  <mat-icon>keyboard_arrow_right</mat-icon>
</button>

<!-- Skip buttons -->
<div class="skip-buttons" *ngIf="showSkipButtons()">
  <button mat-raised-button color="primary" [disabled]="isFirst()" (click)="previous()">
    <mat-icon>skip_previous</mat-icon>
  </button>
  <button mat-raised-button color="primary" [disabled]="isLast()" (click)="next()">
    <mat-icon>skip_next</mat-icon>
  </button>
</div>
