.stretched-tabs {
  max-width: none;
  height: 100%;
  margin-left: 3px;
}

.hide-pane-button {
  position: absolute;
  bottom: 12px;
  left: 16px;
  z-index: 99999;
}

.mat-raised-button {
  position: relative;
  margin-top: 20px;
  left: 35%;
}

.detailsTab {
  padding: 10px;
  overflow-y: auto;
  max-height: 77vh;
}