<mat-tab-group [(selectedIndex)]="selectedRightTab" mat-stretch-tabs class="stretched-tabs" [@.disabled]="true">
    <mat-tab label="Details" *ngIf="objectSelected || multipleSelected">
      <p class="detailsTab">
        <smi-object-details-form
            *ngIf="objectSelected"
            [owners]="owners"
            [descendants]="descendants"
            [group]="group"
            [clickedOnLink]="clickedOnLink"
            [isEditable]="isEditable"
            [selectedOwner]="selectedOwner"
            [selectedOwnerIndex]="selectedOwnerIndex"
            (editDetails)="onEditDetails()"
            (saveAttribute)="onSaveAttribute()"
            (deleteAttribute)="onDeleteAttribute()"
            (cancel)="onCancel()"
            [workPackageIsEditable]="workPackageIsEditable"
            (addOwner)="onAddOwner()"
            (selectOwner)="onSelectOwner($event)"
            (deleteOwner)="onDeleteOwner()"
            (addDescendant)="onAddDescendant()"
            (deleteDescendant)="onDeleteDescendant($event)">
        </smi-object-details-form>
        <!-- Add Scope Button -->
        <button
            *ngIf="multipleSelected"
            mat-raised-button color="primary"
            id="add-scope-button"
            (click)="onAddScope()">
            Add Scope
        </button>
      </p>
    </mat-tab>
    <mat-tab label="Attributes" *ngIf="objectSelected">
        <smi-attributes-tab
            [data]="attributes"
            [workPackageIsEditable]="workPackageIsEditable"
            (addAttribute)="onAddAttribute()">
        </smi-attributes-tab>
    </mat-tab>
    <mat-tab label="Properties" *ngIf="objectSelected">
        <smi-properties-tab
            [data]="properties"
            (editProperties)="onEditProperties($event)"
            [workPackageIsEditable]="workPackageIsEditable">
        </smi-properties-tab>
    </mat-tab>
    <mat-tab label="RADIO" *ngIf="!multipleSelected">
        <smi-radio-tab *ngIf="objectSelected"
            [data]="relatedRadios"
            [workPackageIsEditable]="workPackageIsEditable"
            (addRadio)="onAddRelatedRadio()">
        </smi-radio-tab>
        <smi-radio-table-in-architecture
            *ngIf="!objectSelected"
            [data]="radio"
            (addRadio)="onAddRadio()"
            (openRadio)="onOpenRadio($event)">
        </smi-radio-table-in-architecture>
    </mat-tab>
    <mat-tab label="Work Packages" *ngIf="objectSelected">
        <smi-workpackage-tab [data]="workpackages"></smi-workpackage-tab>
    </mat-tab>
</mat-tab-group>

<!-- Hide right pane -->
<button class="hide-pane-button" mat-button (click)="onHidePane()">Hide<mat-icon>keyboard_arrow_right</mat-icon></button>
