<mat-tab-group
  data-qa="topology-right-hand-side-tabs"
  [(selectedIndex)]="selectedRightTab"
  mat-stretch-tabs
  class="stretched-tabs"
  [@.disabled]="true"
  (selectedIndexChange)="onSelectedTabChange($event)"
>
  <!-- Details TAB -->
  <mat-tab *ngIf="part?.isSelected && !multipleSelected">
    <ng-template mat-tab-label>
      <mat-icon matTooltip="Details">info</mat-icon>
    </ng-template>
    <p class="detailsTab">
      <smi-object-details-form
        data-qa="topology-object-details-form"
        [owners]="owners"
        [group]="group"
        (save)="onSaveNode()"
        (delete)="onDeleteNode()"
        [workPackageIsEditable]="workPackageIsEditable"
        (addOwner)="onAddOwner()"
        (deleteOwner)="onDeleteOwner($event)"
        [part]="part"
        [nodeCategory]="nodeCategory"
        [availableTags]="availableTags"
        [componentLayer]="componentLayer"
        (updateAvailableTags)="onUpdateAvailableTags()"
        (addTag)="onAddTag($event)"
        (createTag)="onCreateTag($event)"
        (removeTag)="onRemoveTag($event)"
        (updateTag)="onUpdateTag($event)"
        [tags]="tags"
        [groupInfo]="groupInfo"
        (editGroup)="editGroup.emit()"
        (deleteNodeGroup)="deleteNodeGroup.emit()"
        [clickedOnLink]="clickedOnLink"
        (seeUsage)="onSeeUsage()"
        (findSources)="onFindSources()"
        (findTargets)="onFindTargets()"
        (seeDependencies)="onSeeDependencies()"
        (viewStructure)="viewStructure.emit()"
        [sourceObject]="sourceObject"
        [targetObject]="targetObject"
        (editSourceOrTarget)="editSourceOrTarget.emit($event)"
        (switchSourceAndTarget)="switchSourceAndTarget.emit()"
      >
      </smi-object-details-form>
    </p>
  </mat-tab>

  <!-- Components TAB -->
  <mat-tab
    *ngIf="part?.isSelected && !multipleSelected"
    [disabled]="clickedOnLink || nodeCategory === 'transformation'"
  >
    <ng-template mat-tab-label>
      <mat-icon matTooltip="Components">device_hub</mat-icon>
    </ng-template>
    <smi-tabs-title
      [title]="'Components of'"
      [reference]="selectedNode?.reference"
      [name]="selectedNode?.name"
      >
    </smi-tabs-title>
    <p class="components-tab">
      <smi-components-table
        data-qa="topology-components-table-systems"
        (itemClick)="itemClick.emit($event)"
        [title]="'Systems'"
        [data]="systems"
        [workPackageIsEditable]="workPackageIsEditable"
        (add)="addNewGroupMember.emit()"
        (delete)="deleteNodeGroup.emit($event)"
        [disabled]="!['system'].includes(currentFilterLevel)"
        (changeOrder)="changeOrder.emit($event)"
      >
      </smi-components-table>
      <smi-components-table
        data-qa="topology-components-table-data-sets"
        (itemClick)="itemClick.emit($event)"
        [title]="'Data'"
        [data]="dataNodes"
        [workPackageIsEditable]="workPackageIsEditable"
        (add)="addDescendants.emit('data')"
        (delete)="deleteDescendants.emit($event)"
        [disabled]="getDisableDataTable()"
        (changeOrder)="changeOrder.emit($event)"
      >
      </smi-components-table>
      <smi-components-table
        data-qa="topology-components-table-dimensions"
        (itemClick)="itemClick.emit($event)"
        [title]="'Dimensions'"
        [data]="dimensions"
        [workPackageIsEditable]="workPackageIsEditable"
        (add)="addDescendants.emit()"
        (delete)="deleteDescendants.emit($event)"
        [disabled]="getDisableDimensionsTable()"
        (changeOrder)="changeOrder.emit($event)"
      >
      </smi-components-table>
      <smi-components-table
        data-qa="topology-components-table-reporting-concepts"
        (itemClick)="itemClick.emit($event)"
        [title]="'Reporting Concepts'"
        [data]="reportingConcepts"
        [workPackageIsEditable]="workPackageIsEditable"
        (add)="addDescendants.emit()"
        (delete)="deleteDescendants.emit($event)"
        [disabled]="!['dimension'].includes(currentFilterLevel)"
        (changeOrder)="changeOrder.emit($event)"
      >
      </smi-components-table>
    </p>
  </mat-tab>

  <!-- Reports TAB -->
  <mat-tab *ngIf="filterLevel && part?.isSelected && !multipleSelected">
    <ng-template mat-tab-label>
      <mat-icon matTooltip="Reports">bookmarks</mat-icon>
    </ng-template>
    <smi-tabs-title
      [title]="'Reports using'"
      [reference]="selectedNode?.reference"
      [name]="selectedNode?.name"
    >
    </smi-tabs-title>
    <smi-reports-tab data-qa="topology-reports-table" [data]="nodeReports"></smi-reports-tab>
  </mat-tab>

  <!-- Attributes and Rules TAB -->
  <mat-tab *ngIf="part?.isSelected && !multipleSelected">
    <ng-template mat-tab-label>
      <mat-icon matTooltip="Attributes & Rules">ballot</mat-icon>
    </ng-template>
    <smi-tabs-title
      [title]="'Attributes and rules of'"
      [reference]="selectedNode?.reference"
      [name]="selectedNode?.name"
    >
    </smi-tabs-title>
    <smi-attributes-tab
      data-qa="topology-attributes-and-rules-table"
      [data]="attributes"
      [workPackageIsEditable]="workPackageIsEditable"
      (addAttribute)="onAddAttribute()"
      (addExisting)="onAddExistingAttribute()"
      [nodeCategory]="nodeCategory"
      (deleteAttribute)="onDeleteAttribute($event)"
    >
    </smi-attributes-tab>
  </mat-tab>

  <!-- Documentation Standards TAB -->
  <mat-tab *ngIf="part?.isSelected && !multipleSelected">
    <ng-template mat-tab-label>
      <mat-icon matTooltip="Documentation Standards">insert_drive_file</mat-icon>
    </ng-template>
    <smi-tabs-title
      [title]="'Documentation of'"
      [reference]="selectedNode?.reference"
      [name]="selectedNode?.name"
    >
    </smi-tabs-title>
    <smi-edit-documentation-standards-table
      data-qa="topology-documentation-standards-table"
      [data]="properties"
      [isEditable]="workPackageIsEditable"
      [nodeCategory]="nodeCategory"
      (saveProperty)="onSaveProperty($event)"
      (deleteProperty)="onDeleteProperty($event)"
    >
    </smi-edit-documentation-standards-table>
  </mat-tab>

  <!-- RADIO TAB -->
  <mat-tab *ngIf="!multipleSelected">
    <ng-template mat-tab-label>
      <mat-icon matTooltip="RADIO">track_changes</mat-icon>
    </ng-template>
    <smi-tabs-title
      [title]="'RADIOs related to'"
      [reference]="selectedNode?.reference"
      [name]="selectedNode?.name"
    >
    </smi-tabs-title>
    <smi-related-radio-table
      data-qa="topology-related-radio-table"
      *ngIf="part?.isSelected"
      [data]="relatedRadios"
      (raiseNew)="onAddRelatedRadio()"
      (assignRadio)="onAssignRadio()"
      (openModal)="onOpenRadio($event)"
    >
    </smi-related-radio-table>
    <smi-radio-table-in-architecture
      data-qa="topology-radio-table"
      *ngIf="!part?.isSelected"
      [data]="radio"
      (raiseNew)="raiseNew.emit()"
      (openRadio)="onOpenRadio($event)"
      (pageChange)="handleRadioPageChange.emit($event)"
    >
    </smi-radio-table-in-architecture>
  </mat-tab>

  <!-- Scopes TAB -->
  <mat-tab *ngIf="part?.isSelected">
    <ng-template mat-tab-label>
      <mat-icon matTooltip="Scopes">pages</mat-icon>
    </ng-template>
    <smi-tabs-title
      [title]="'Scopes containing'"
      [reference]="selectedNode?.reference"
      [name]="selectedNode?.name"
    >
    </smi-tabs-title>
    <smi-scope-table
      data-qa="topology-scopes-table"
      *ngIf="part?.isSelected && !multipleSelected"
      [data]="nodeScopes"
      (delete)="onDeleteScope($event)"
      (addExistingScope)="onAddExistingScope()"
      (newScope)="onAddNewScope()"
      [nodeCategory]="nodeCategory"
      [clickedOnLink]="clickedOnLink"
    >
    </smi-scope-table>
    <!-- Add Scope Button -->
    <button
      *ngIf="multipleSelected"
      mat-raised-button
      color="primary"
      id="add-scope-button"
      (click)="onAddScope()"
      data-qa="topology-scopes-tab-new-scope"
    >
      New Scope
    </button>

    <button
      *ngIf="multipleSelected"
      mat-raised-button
      color="primary"
      id="add-scope-button"
      (click)="addToScope.emit()"
      data-qa="topology-scopes-tab-add-to-existing"
    >
      Add to existing
    </button>
  </mat-tab>

  <!-- Work Package TAB -->
  <mat-tab *ngIf="part?.isSelected && !multipleSelected">
    <ng-template mat-tab-label>
      <mat-icon matTooltip="Work Packages">business_center</mat-icon>
    </ng-template>
    <smi-tabs-title
      [title]="'Work packages affecting'"
      [reference]="selectedNode?.reference"
      [name]="selectedNode?.name"
    >
    </smi-tabs-title>
    <smi-related-work-package-table
      data-qa="topology-related-work-package-table"
      [data]="workpackages"
    ></smi-related-work-package-table>
  </mat-tab>
</mat-tab-group>

<!-- Hide right pane -->
<button
  data-qa="right-hand-pane-close"
  mat-raised-button
  color="primary"
  class="hide-pane-button"
  (click)="onHidePane()"
>
  <mat-icon>keyboard_arrow_right</mat-icon>
</button>

<!-- Skip buttons -->
<div class="skip-buttons" *ngIf="showSkipButtons()">
  <button
    data-qa="right-hand-pane-previous"
    mat-raised-button
    color="primary"
    [disabled]="isFirst()"
    (click)="previous()"
  >
    <mat-icon>skip_previous</mat-icon>
  </button>
  <button data-qa="right-hand-pane-next" mat-raised-button color="primary" [disabled]="isLast()" (click)="next()">
    <mat-icon>skip_next</mat-icon>
  </button>
</div>
