<app-model-container>
  <div class="container">
    <div class="row">
      <div class="col mat-elevation-z8">
        <smi-users-table
          [data]="users$ | async"
          (editUser)="onEditUser($event)"
          (addUser)="onAddUser($event)"
          (selectUser)="onSelectUser($event)"
          data-qa="all-users-table"
        >
        </smi-users-table>
      </div>
      <div class="col">
        <smi-right-hand-side *appByRole="[Roles.ADMIN]" (add)="onAddUser()" [title]="'User'"></smi-right-hand-side>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</app-model-container>
