.container {
  max-width: 100%;
}

.row {
  height: 100%;
}

.col {
  padding: 0;
  margin: 0;
}

.diagram-container {
  height: calc(100% - 64px);
}

@media only screen and (max-width: 1420px) {
  .col {
    min-width: 100%;
  }
}