<app-base-header>
    <app-toolbar-column [fillFreeSpace]="true">
        <app-search (search)="onSearchComments($event)"></app-search>
    </app-toolbar-column>
    <app-toolbar-column>
        <smi-quicklinks-actions></smi-quicklinks-actions>
    </app-toolbar-column>
</app-base-header>

<div class="container">
    <div class="row">
        <div class="col">
            <smi-radio-table
                data-hook="radio-table"
                [data]="radio$ | async"
                (selectRadio)="onSelectRadio($event)"
                (addRadio)="onAddRadio($event)">
            </smi-radio-table>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>