<div mat-dialog-content>
  <p class="header">{{ getTitle() }} <mat-icon (click)="onClose()">close</mat-icon></p>
  <p>
    <mat-tab-group 
      data-qa="radio-details-modal-tabs" 
      mat-stretch-tabs
      [@.disabled]="true"
      (selectedTabChange)="onTabClick($event)"
    >
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">info</mat-icon>
          Details
        </ng-template>
        <p class="detailsTab">
          <smi-radio-detail
            [style.height.%]="100"
            [data]="users$ | async"
            [group]="radioDetailsForm"
            [isEditable]="false"
            [modalMode]="false"
            (archiveRadio)="onArchiveRadio()"
            (saveRadio)="onSaveRadio()"
            [rows]="5"
            [editModal]="true"
          >
          </smi-radio-detail>
        </p>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon" matTooltip="Relates To">device_hub</mat-icon>
          Relates To
        </ng-template>
        <p>
          <smi-relates-to-table
            data-qa="radio-relates-to-table"
            [data]="radio?.relatesTo"
            (unlinkRelatesTo)="onUnlinkRelatesTo($event)"
            (addRelatesTo)="onAddRelatesTo()"
            [isEditable]="isEditable"
          ></smi-relates-to-table>
        </p>
        <button *ngIf="!isEditable" class="edit" mat-raised-button color="primary" (click)="onEdit()">Edit</button>
        <button *ngIf="isEditable" class="edit" mat-raised-button (click)="onCancel()">Cancel</button>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">comment</mat-icon>
          Discussions
        </ng-template>
        <p class="discussion-tab">
          <smi-chatbox [group]="radioDetailsForm" [data]="radio?.replies"> </smi-chatbox>
        </p>
        <p>
          <smi-reply-text [rows]="4" [group]="radioDetailsForm" (sendReply)="onSendReply()"> </smi-reply-text>
        </p>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">insert_drive_file</mat-icon>
          Documentation Standards
        </ng-template>
        <p class="properties-tab">
          <smi-edit-documentation-standards-table
            [data]="radio?.customPropertyValues"
            (saveProperty)="onSaveProperty($event)"
            (deleteProperty)="onDeleteProperty($event)"
          >
          </smi-edit-documentation-standards-table>
        </p>
      </mat-tab>
    </mat-tab-group>
  </p>
</div>
