<div mat-dialog-content>
  <p>
    <mat-tab-group mat-stretch-tabs class="stretched-tabs" [@.disabled]="true">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">info</mat-icon>
          Details
        </ng-template>
        <p class="detailsTab">
          <smi-radio-detail
            [style.height.%]="100"
            [data]="users$ | async"
            [group]="radioDetailsForm"
            [isEditable]="false"
            [modalMode]="false"
            (archiveRadio)="onArchiveRadio($event)"
            (saveRadio)="onSaveRadio()"
            [rows]="5"
            [editModal]="true"
            (closeModal)="onClose()"
          >
          </smi-radio-detail>
        </p>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>comment</mat-icon>
          Discussions
        </ng-template>
        <p class="discussion-tab">
          <smi-chatbox [group]="radioDetailsForm" [data]="radio?.replies"> </smi-chatbox>
        </p>
        <p>
          <smi-reply-text [rows]="4" [group]="radioDetailsForm" (sendReply)="onSendReply($event)"> </smi-reply-text>
        </p>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>insert_drive_file</mat-icon>
          Documentation Standards
        </ng-template>
        <p class="properties-tab">
          <smi-edit-documentation-standards-table
            [data]="radio?.customPropertyValues"
            (saveProperty)="onSaveProperty($event)"
            (deleteProperty)="onDeleteProperty($event)"
          >
        </smi-edit-documentation-standards-table>
        </p>
      </mat-tab>
    </mat-tab-group>
  </p>
</div>
