<app-base-header>
  <smi-node-name *ngIf="parentName" [parentName]="parentName"></smi-node-name>
  <app-toolbar-column [fillFreeSpace]="true">
  </app-toolbar-column>
  <app-search></app-search>
  <app-toolbar-column>
    <app-zoom-actions
      (zoomIn)="onZoomIn()"
      (zoomOut)="onZoomOut()"
    ></app-zoom-actions>
    <app-layout-actions
      *ngIf="!attributesView"
      (showGrid)="onShowGrid()"
      [showOrHideGrid]="showOrHideGrid"
      (zoomMap)="onZoomMap()"
    ></app-layout-actions>
  </app-toolbar-column>
  <app-toolbar-column>
    <smi-quicklinks-actions
      [gojsView]="true"
      [allowEditLayouts]="allowEditLayouts"
      (editLayout)="allowEditLayout()"
      [allowEditWorkPackages]="allowEditWorkPackages"
      [workpackages]="workpackage$ | async"
      [scopes]="scopes$ | async"
      [selectedScope]="selectedScope$ | async"
      [layouts]="scopeDetails$ | async"
      (selectWorkPackage)="onSelectWorkPackage($event)"
      (selectScope)="onSelectScope($event)"
      (selectLayout)="onSelectLayout($event)"
    >
    </smi-quicklinks-actions>
  </app-toolbar-column>
</app-base-header>
<app-model-container [topPadding]="64">
  <smi-left-sidebar
    *ngIf="!showOrHideLeftPane"
    (leftTab)="openLeftTab($event)"
    [workPackageIsEditable]="workPackageIsEditable"
  >
  </smi-left-sidebar>
    <p class="leftPane" *ngIf="showOrHideLeftPane">
      <smi-left-panel
        [tabIndex]="editTabIndex"
        (tabClick)="onTabClick($event)"
        [viewLevel]="viewLevel$ | async"
        [workpackages]="workpackage$ | async"
        [workPackageIsEditable]="workPackageIsEditable"
        (displayOptionsChangedEvent)="displayOptionsChanged($event)"
        (selectWorkPackage)="onSelectWorkPackage($event)"
        (selectColour)="selectColourForWorkPackage($event)"
        (setWorkpackageEditMode)="onSelectEditWorkpackage($event)"
        [selectedLeftTab]="selectedLeftTab"
        [checked]="radioAlertChecked"
        [canSelectWorkpackages]="canSelectWorkpackages">
      </smi-left-panel>
      <!-- Hide left pane button -->
      <button mat-raised-button color="primary" class="hide-btn" (click)="onHideLeftPane()"><mat-icon>keyboard_arrow_left</mat-icon></button>
    </p>
  <app-model-content>
    <smi-switch-view-tabs (viewChange)="onViewChange($event)" [selectedView]="selectedView" [viewLevel]="viewLevel$ | async"></smi-switch-view-tabs>
    <div style="padding: 5px" [hidden]="selectedView!==ArchitectureView.Diagram">
      <app-architecture-diagram
        [mapView]="mapView"
        [showGrid]="showGrid"
        [allowMove]="allowMove"
        [workPackageIsEditable]="workPackageIsEditable"
        *ngIf="!showTable"
        [nodes]="nodes | layer: { byId: true }"
        [links]="links | layer: { byId: false }"
        [workpackageDetail]="workpackageDetail"
        [selectedId]="selectedId"
        [selectedWorkPackages]="selectedWorkPackages$ | async"
        [workpackages]="workpackage$ | async"
        [viewLevel]="viewLevel$ | async"
        (partsSelected)="partsSelected($event)"
        (modelChanged)="modelChanged($event)"
        (nodeDeleteRequested)="handleNodeDeleteRequested($event)"
        (linkDeleteRequested)="handleLinkDeleteRequested($event)"
        (updateNodeLocation)="handleUpdateNodeLocation($event)"
      >
      </app-architecture-diagram>
    </div>
    <div style="padding: 5px" *ngIf="selectedView === ArchitectureView.System">
      <smi-architecture-table-view [data]="nodes | layer: { byId: true }"
                                   [selectedItem]="selectedNode"
                                   (selectNode)="onSelectNode($event)"
                                   (changeLevel)="onChangeLevel($event)"
                                   [view]="'system'"></smi-architecture-table-view>
    </div>
    <div style="padding: 5px" *ngIf="selectedView === ArchitectureView.Links">
      <smi-architecture-table-view [data]="links | layer: { byId: false }"
                                   [selectedItem]="selectedNode"
                                   (selectNode)="onSelectNode($event)"
                                   (changeLevel)="onChangeLevel($event)"
                                   [view]="'link'"></smi-architecture-table-view>
    </div>
  </app-model-content>
  <smi-right-sidebar
    data-hook="right-sidebar"
    *ngIf="!showOrHideRightPane"
    (rightTab)="openRightTab($event)"
    [architecturePage]="objectSelected"
    [architectureRadioTab]="radioTab"
    [architectureDetailsTab]="detailsTab"
  >
  </smi-right-sidebar>
  <app-model-sidebar
    [isLast]="true"
    [maxWidth]="600"
    *ngIf="showOrHideRightPane"
  >
    <p class="rightPane">
      <smi-right-panel
        [owners]="selectedNode?.owners"
        [descendants]="selectedNode?.descendants"
        [selectedRightTab]="selectedRightTab"
        [group]="objectDetailsForm"
        [clickedOnLink]="clickedOnLink"
        [isEditable]="isEditable"
        [selectedOwner]="selectedOwner"
        [selectedOwnerIndex]="selectedOwnerIndex"
        (editDetails)="onEditDetails($event)"
        (saveAttribute)="onSaveObjectDetails()"
        (deleteAttribute)="onDeleteAttribute()"
        [attributes]="selectedNode?.attributes"
        [relatedRadios]="selectedNode?.relatedRadios"
        [radio]="radio$ | async"
        [properties]="selectedNode?.customPropertyValues"
        [workpackages]="selectedNode?.relatedWorkPackages"
        (cancel)="onCancelEdit()"
        [workPackageIsEditable]="workPackageIsEditable"
        (addAttribute)="onAddAttribute()"
        (addRelatedRadio)="onAddRelatedRadio()"
        (hideRightPane)="onHideRightPane()"
        [objectSelected]="objectSelected"
        (addRadio)="onAddRadio()"
        [multipleSelected]="multipleSelected"
        (addScope)="onAddScope()"
        (addOwner)="onAddOwner()"
        (selectOwner)="onSelectOwner($event)"
        (deleteOwner)="onDeleteOwner()"
        (editProperties)="onEditProperties($event)"
        (addDescendant)="onAddDescendant()"
        (deleteDescendant)="onDeleteDescendant($event)"
      >
      </smi-right-panel></p
  ></app-model-sidebar>
</app-model-container>
