.rightPane {
  padding-left: 5px;
}

.leftPane {
  padding-right: 5px;
}
.selected-node-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #a4a4a4;
}
