.rightPane {
  padding-left: 5px;
}

.selected-node-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #a4a4a4;
}

.drawer-container {
  width: 100%;
  background-color: #fff;
}

.left-sidebar {
  background-color: #F4F5F7;
}

.diagram-container {
  height: calc(100% - 64px);
}

.palette {
  margin: 3px;
  margin-top: 160px;
}
