<app-model-container>
  <smi-left-hand-pane
    data-qa="topology-left-hand-pane"
    [workPackageIsEditable]="workPackageIsEditable"
    [selectedLeftTab]="selectedLeftTab"
    [sideNavActions]="true"
    [architecturePage]="true"
  >
  </smi-left-hand-pane>
  <app-drawer [tabTpls]="{ workpackages: workpackages, edit: edit }">
    <ng-template #workpackages>
      <smi-workpackage-tab-table
        data-qa="left-hand-pane-work-package-table"
        [canSelectWorkpackage]="canSelectWorkpackages"
        [data]="workpackage$ | async"
        (selectWorkPackage)="onSelectWorkPackage($event)"
        (selectColour)="selectColourForWorkPackage($event)"
        (setWorkpackageEditMode)="onSelectEditWorkpackage($event)"
      >
      </smi-workpackage-tab-table>
    </ng-template>
    <ng-template #edit>
      <p class="palette">
        <app-architecture-palette></app-architecture-palette>
      </p>
    </ng-template>
    <app-base-header>
      <smi-node-name data-qa="header-node-name" *ngIf="parentName" [parentName]="parentName"></smi-node-name>
      <app-toolbar-column [fillFreeSpace]="true"> </app-toolbar-column>
      <smi-workpackage-name
        data-qa="header-work-package"
        [selectedWorkPackageEntities]="selectedWorkPackageEntities"
        [workPackageIsEditable]="workPackageIsEditable"
        (exitWorkPackageEditMode)="onExitWorkPackageEditMode()"
        (editWorkPackage)="onSelectEditWorkpackage($event)"
      >
      </smi-workpackage-name>
      <app-search></app-search>
      <app-toolbar-column>
        <app-zoom-actions></app-zoom-actions>
      </app-toolbar-column>
      <app-toolbar-column>
        <smi-quicklinks-actions
          [gojsView]="true"
          [scopes]="scopes$ | async"
          [selectedScope]="selectedScope$ | async"
          (selectScope)="onSelectScope($event)"
        >
        </smi-quicklinks-actions>
      </app-toolbar-column>
    </app-base-header>
    <app-model-container class="diagram-container">
      <app-model-content>
        <smi-switch-view-tabs
          (viewChange)="onViewChange($event)"
          [selectedView]="selectedView"
          [viewLevel]="viewLevel$ | async"
        >
        </smi-switch-view-tabs>
        <div style="padding: 5px; position: relative" [hidden]="selectedView !== ArchitectureView.Diagram">
          <smi-diagram-actions
            data-qa="topology-diagram-actions"
            *ngIf="selectedView === ArchitectureView.Diagram"
            [grid]="showGrid"
            [allowMove]="allowMove"
            (zoomIn)="onZoomIn()"
            (zoomOut)="onZoomOut()"
            (showGrid)="onShowGrid()"
            (zoomToFit)="onZoomToFit()"
            (editLayout)="allowEditLayout()"
            (downloadImage)="onDownloadImage()"
            (saveLayout)="onSaveLayout()"
            (saveAsLayout)="onSaveAsLayout()"
            [allowSave]="!!draft"
            [allowSaveAs]="true"
            [dependenciesView]="dependenciesView"
            (layoutSettings)="openLayoutSettingsModal()"
            [layouts]="scopeDetails$ | async"
            [selectedLayout]="selectedLayout$ | async"
            (addLayout)="onAddLayout()"
            (selectLayout)="onSelectLayout($event)"
            [filterLevel]="filterLevel"
            (exitDependenciesView)="exitDependenciesView()"
          >
          </smi-diagram-actions>
          <app-architecture-diagram
            data-qa="topology-diagram"
            [mapView]="mapView"
            [showGrid]="showGrid"
            [allowMove]="allowMove"
            [workPackageIsEditable]="workPackageIsEditable"
            *ngIf="!showTable"
            [nodes]="
              nodes
                | layer
                  : {
                      byId: byId,
                      descendantIds$: parentDescendantIds,
                      groupMemberIds$: groupMemberIds,
                      level: currentFilterLevel
                    }
                | async
            "
            [links]="links | layer: { byId: false } | async"
            [workpackageDetail]="workpackageDetail"
            [selectedId]="selectedId"
            [selectedWorkPackages]="selectedWorkPackages$ | async"
            [workpackages]="workpackage$ | async"
            [viewLevel]="viewLevel$ | async"
            [layoutSettings]="layoutSettings"
            (partsSelected)="partsSelected($event)"
            (modelChanged)="modelChanged($event)"
            (nodeDeleteRequested)="handleNodeDeleteRequested($event)"
            (linkDeleteRequested)="handleLinkDeleteRequested($event)"
            (updateNodeLocation)="handleUpdateNodeLocation($event)"
            (updateNodeExpandState)="handleUpdateNodeExpandState($event)"
            (updateGroupArea)="handleUpdateGroupArea($event)"
            (updateDiagramLayout)="handleUpdateDiagramLayout()"
          >
          </app-architecture-diagram>
        </div>
        <div *ngIf="selectedView === ArchitectureView.System">
          <smi-architecture-table-view
            data-qa="topology-table-components"
            [data]="
              nodes
                | layer: { byId: byId, descendantIds$: parentDescendantIds, groupMemberIds$: groupMemberIds }
                | async
            "
            [selectedItem]="selectedNode"
            (selectNode)="onSelectNode($event)"
            (changeLevel)="onChangeLevel($event)"
            (download)="onDownload('node')"
            [view]="'system'"
            [workPackageIsEditable]="workPackageIsEditable"
            (add)="onAddComponentOrLink()"
          ></smi-architecture-table-view>
        </div>
        <div *ngIf="selectedView === ArchitectureView.Links">
          <smi-architecture-table-view
            data-qa="topology-table-links"
            [data]="links | layer: { byId: false } | async"
            [selectedItem]="selectedNode"
            (selectNode)="onSelectNode($event)"
            (changeLevel)="onChangeLevel($event)"
            (download)="onDownload('links')"
            [view]="'link'"
            [workPackageIsEditable]="workPackageIsEditable"
            (add)="onAddComponentOrLink()"
          ></smi-architecture-table-view>
        </div>
      </app-model-content>
      <smi-right-sidebar
        data-qa="topology-right-hand-pane"
        *ngIf="!showOrHideRightPane"
        (rightTab)="openRightTab($event)"
        [objectSelected]="part?.isSelected ? true : false"
        [multipleSelected]="multipleSelected"
        [filterLevel]="['system', 'data'].indexOf(currentFilterLevel) != -1"
        [clickedOnLink]="clickedOnLink"
        [nodeCategory]="part?.data.category"
      >
      </smi-right-sidebar>
      <app-model-sidebar [isLast]="true" [minWidth]="515" [maxWidth]="650" *ngIf="showOrHideRightPane">
        <p class="rightPane">
          <smi-right-panel
            data-qa="topology-right-panel"
            (itemClick)="itemClick($event)"
            [owners]="selectedNode?.owners"
            [selectedRightTab]="selectedRightTab"
            (selectedTabChange)="onSelectedTabChange($event)"
            [group]="objectDetailsForm"
            (saveNode)="onSaveObjectDetails()"
            (deleteNode)="onDeleteNode()"
            [attributes]="selectedNode?.attributes"
            [relatedRadios]="selectedNode?.relatedRadios"
            [radio]="radio$ | async"
            [properties]="selectedNode?.customPropertyValues"
            [workpackages]="selectedNode?.relatedWorkPackages"
            [workPackageIsEditable]="workPackageIsEditable"
            (addAttribute)="onAddAttribute()"
            (deleteAttribute)="onDeleteAttribute($event)"
            (addRelatedRadio)="onAddRelatedRadio()"
            (hideRightPane)="onHideRightPane()"
            (raiseNew)="onRaiseNewRadio()"
            [multipleSelected]="multipleSelected"
            (addScope)="onAddScope()"
            (addToScope)="onAddToScope()"
            (addOwner)="onAddOwner()"
            (deleteOwner)="onDeleteOwner($event)"
            (saveProperties)="onSaveProperties($event)"
            (deleteProperties)="onDeleteProperties($event)"
            (openRadio)="onOpenRadio($event)"
            [nodeScopes]="nodeScopes$ | async"
            (deleteScope)="onDeleteScope($event)"
            (addExistingScope)="onAddExistingScope()"
            (addNewScope)="onAddNewScope()"
            [selectedView]="selectedView"
            [nodes]="
              nodes
                | layer: { byId: false, descendantIds$: parentDescendantIds, groupMemberIds$: groupMemberIds }
                | async
            "
            [selectedNode]="selectedNode"
            (selectNode)="onSelectNode($event)"
            [links]="links | layer: { byId: false } | async"
            [part]="part"
            (assignRadio)="onAssignRadio()"
            [nodeCategory]="part?.data.category"
            [filterLevel]="['system', 'data'].indexOf(currentFilterLevel) != -1"
            [nodeReports]="nodeReports$ | async"
            (addExistingAttribute)="onAddExistingAttribute()"
            (updateAvailableTags)="onUpdateAvailableTags()"
            (addTag)="onAddTag($event)"
            (createTag)="onCreateTag($event)"
            (removeTag)="onRemoveTag($event)"
            (updateTag)="onUpdateTag($event)"
            [tags]="selectedNode?.tags"
            [componentLayer]="nodeComponentLayer"
            [availableTags]="availableTags$ | async"
            [systems]="selectedNode?.systems"
            [dataSets]="selectedNode?.dataSets"
            [dimensions]="selectedNode?.dimensions"
            [reportingConcepts]="selectedNode?.reportingConcepts"
            [groupInfo]="selectedNode?.groupinfo"
            (editGroup)="onAddToGroup()"
            [clickedOnLink]="clickedOnLink"
            (addNewGroupMember)="onAddNewGroupMember()"
            (addDescendants)="onAddDescendant($event)"
            (deleteDescendants)="onDeleteDescendant($event)"
            (deleteNodeGroup)="onDeleteNodeGroup($event)"
            [currentFilterLevel]="currentFilterLevel"
            (seeUsage)="onSeeUsage()"
            (seeDependencies)="onSeeDependencies()"
            (findSources)="onFindSources()"
            (findTargets)="onFindTargets()"
            (viewStructure)="onViewStructure()"
            [sourceObject]="selectedNode?.sourceObject"
            [targetObject]="selectedNode?.targetObject"
            (editSourceOrTarget)="onEditSourceOrTarget($event)"
            (switchSourceAndTarget)="onSwitchSourceAndTarget()"
            (handleRadioPageChange)="handleRadioPageChange($event)"
          >
          </smi-right-panel></p
      ></app-model-sidebar>
    </app-model-container>
  </app-drawer>
</app-model-container>
<smi-spinner data-qa="topology-spinner" *ngIf="(isLoading$ | async) === loadingStatus.loading"></smi-spinner>
