<mat-tab-group mat-stretch-tabs class="stretched-tabs mat-elevation-z4" [@.disabled]="true">
    <mat-tab label="Details">
        <smi-object-details-form
            [group]="group"
            [clickedOnLink]="clickedOnLink"
            [nodeSelected]="nodeSelected"
            [isEditable]="isEditable"
            (editDetails)="onEditDetails($event)"
            (saveAttribute)="onSaveAttribute($event)"
            (deleteAttribute)="onDeleteAttribute($event)">
        </smi-object-details-form></mat-tab>
    <mat-tab label="Attributes"></mat-tab>
    <mat-tab label="Properties"> Properties </mat-tab>
    <mat-tab label="RADIO">
        <smi-radio-table
            [data]="data"
            [displayedColumns]="displayedColumnsForRADIO"
            [radioPage]="radioPage">
        </smi-radio-table>
    </mat-tab>
    <mat-tab label="Work Packages">
        <smi-workpackages-table 
            [data]="data"
            [displayedColumns]="displayedColumnsForWorkPackages"
            [workpackagePage]="workpackagePage">
        </smi-workpackages-table>
    </mat-tab>
</mat-tab-group>