<h1 class="title" *ngIf="radioPage">RADIO</h1>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">
          {{ (radioPage) ? element.title : element.relatedRadios[0].title }}
        </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let element">
          {{ (radioPage) ? element.category : element.relatedRadios[0].category }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="last_update_date">
        <th mat-header-cell *matHeaderCellDef>Last update date</th>
        <td mat-cell *matCellDef="let element">{{ element.lastUpdatedOn | date}}</td>
      </ng-container>

      <ng-container matColumnDef="last_update_by">
        <th mat-header-cell *matHeaderCellDef>Last update by</th>
        <td mat-cell *matCellDef="let element">
          <a>
            {{ element.lastUpdatedBy.firstName }}&nbsp;{{
              element.lastUpdatedBy.lastName
            }}
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="onSelectRow(row)"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
</div><br>

<button mat-raised-button color="primary" (click)="onAdd()" *ngIf="radioPage">New</button>
