<app-model-container>
  <p class="rightPane">
    <mat-tab-group mat-stretch-tabs class="stretched-tabs" [@.disabled]="true">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon" matTooltip="Details">info</mat-icon>
        </ng-template>
        <p class="detailsTab">
          <smi-workpackage-detail
            data-hook="workpackage-detail"
            [group]="workPackageDetailForm"
            (deleteWorkpackage)="onDeleteWorkpackage($event)"
            (saveWorkpackage)="onSaveWorkpackage($event)"
            (editWorkPackage)="onEditWorkPackage($event)"
            (cancel)="onCancel($event)"
            [baselineTableData]="workpackage?.baseline"
            [ownersTableData]="workpackage?.owners"
            [approversTableData]="workpackage?.approvers"
            (deleteOwner)="onDeleteOwner($event)"
            (addOwner)="onAddOwner($event)"
            [statusDraft]="statusDraft"
            [isEditable]="isEditable"
            [workpackageActionSubmit]="workpackageActionSubmit"
            [workpackageActionApprove]="workpackageActionApprove"
            [workpackageActionReject]="workpackageActionReject"
            [workpackageActionMerge]="workpackageActionMerge"
            [workpackageActionReset]="workpackageActionReset"
            [workpackageActionSupersede]="workpackageActionSupersede"
            (submit)="submitWorkpackage()"
            (approve)="approveWorkpackage()"
            (reject)="rejectWorkpackage()"
            (merge)="mergeWorkpackage()"
            (reset)="resetWorkpackage()"
            (supersede)="supersedeWorkpackage()"
            [workpackageColour]="workpackage?.displayColour"
            (selectColour)="onSelectWorkPackageColour($event)"
          >
          </smi-workpackage-detail>
        </p>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Documentation Standards">insert_drive_file</mat-icon>
        </ng-template>
        <smi-properties-table
          data-hook="workpackage-page-properties-table"
          [statusDraft]="statusDraft"
          [data]="workpackage?.customPropertyValues"
          (editProperties)="onEditProperties($event)"
          (deleteProperties)="onDeleteProperties($event)">
        </smi-properties-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Objectives">assignment_turned_in</mat-icon>
        </ng-template>
        <smi-objectives-table
          data-hook="workpackage-page-objective-table"
          [data]="workpackage?.objectives"
          (addObjective)="onAddObjectiveOrRadio({ objective: true })"
          (deleteObjective)="onDeleteObjectiveOrRadio($event, { objective: true })"
          (editRadio)="onEditRadio($event)"
        >
        </smi-objectives-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="RADIO">track_changes</mat-icon>
        </ng-template>
        <smi-radios-table
          data-hook="workpackage-page-radio-table"
          [data]="workpackage?.radios"
          [statusDraft]="statusDraft"
          (addRadio)="onAddObjectiveOrRadio({ objective: false })"
          (deleteRadio)="onDeleteObjectiveOrRadio($event, { objective: false })"
          (editRadio)="onEditRadio($event)"
        >
        </smi-radios-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Changes">list</mat-icon>
        </ng-template>
        <smi-change-table data-hook="workpackage-page-change-table" [data]="workpackage?.changes"> </smi-change-table>
      </mat-tab>
    </mat-tab-group>
  </p>
</app-model-container>
