.rightPane {
    padding-left: 7px;
}

.detailsTab {
    padding: 10px;
}

.hide-pane-button {
    position: absolute;
    bottom: 12px;
    left: 16px;
    z-index: 1;
}

.add-radio-button {
    margin-top: 10px;
}