<div *ngFor="let data of radio">
  <div class="wrapper">
    <div class="bubble mat-elevation-z8">
      {{ data.replyText }}
      <div class="changes" *ngIf="data.changes.hasChanges === true">
        <hr />
        Changes:
        <ul *ngFor="let changes of data.changes.listChanges">
          <li>
            "{{ changes.changedProperty }}" set to "{{
              changes.changedProperty === 'actionBy' ? (changes.changedTo | date) : changes.changedTo
            }}"
          </li>
        </ul>
      </div>
    </div>
    <p class="username">
      {{ data.author.firstName }} {{ data.author.lastName }}
      <small>{{ data.postedOn | date }}</small>
    </p>
  </div>
</div>
