<div class="wrapper" *ngFor="let data of radio">
  <p class="username">
    {{ data.author.firstName }} {{ data.author.lastName }}
    <small>{{ data.postedOn | date }}</small>
  </p>
  <div class="mat-elevation-z8">
    <div class="reply-text" [innerHTML]="data.replyText"></div>
    <mat-accordion *ngIf="data.changes.hasChanges">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Changes
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table *ngFor="let changes of data.changes.listChanges">
          <tr>
            <th colspan="2" class="property-name">{{ changes.changedProperty }}</th>
          </tr>
          <tr>
            <th style="width: 130px">SET FROM:</th>
            <td [innerHTML]="changes.changedFrom">{{ changedFrom(changes) }}</td>
          </tr>
          <tr>
            <th style="width: 130px">TO:</th>
            <td [innerHTML]="changes.changedTo">{{ changedTo(changes) }}</td>
          </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
