<div class="container">
  <div *ngIf="organisationName && organisationDomain">
    <b>Organisation Name - </b>{{ organisationName.name }}
    <br>
    <b>Organisation Domain - </b>{{ organisationDomain.domain }}
  </div>
  <mat-card class="mat-elevation-z8">
    <mat-card-content *ngIf="licenceInfo">
      <h2>Licencing Information</h2>
      <h3>{{ licenceInfo.licenceType }}</h3>
      <h6>Active Users - {{ licenceInfo.activeUsers }} / {{ licenceInfo.maxUsers }}</h6>
      <button mat-raised-button color="primary" (click)="emailSupport()">Contact us to expand</button>
    </mat-card-content>
  </mat-card>
  <smi-accounts-table
    [data]="accountAdmins$ | async"
    (add)="onAddAdmins()"
    (delete)="onDeleteAdmins($event)"
  >
  </smi-accounts-table>
  <smi-domains-table [data]="emailDomains$ | async" (edit)="onEditEmailDomain()"></smi-domains-table>
</div>
