.container {
  width: 700px;
  margin: auto;
  height: 100%;
  padding: 20px;
}

b {
  font-weight: 500;
}

mat-card {
  margin: auto;
  margin: 15px 0px;
  padding: 50px 0px;
}

mat-card-content {
  margin: 20px;
  text-align: center;
}

button {
  margin-top: 35px;
  font-weight: lighter;
}

h6 {
  font-weight: 400;
  font-size: 14px;
}