:host {
  display: block;
  mat-icon {
    cursor: pointer;
    color: rgb(222, 235, 255);
  }
  button {
    &:focus {
      outline: none;
    }
    &.selected {
      color: #fff;
      background-color: #1c63ce;
    }
  }
}
