table {
    width: 100%;
}

.title {
    font-size: 25px;
}

tr.mat-header-row {
    height: 35px;
}

th.mat-column-name {
    width: 50%;
}

th.mat-column-status {
    width: 12%;
    padding-right: 20px;
}

tr.mat-row {
    cursor: pointer;
}

.highlight {
    background-color: #efefef;
}

.ownersList {
    padding: 0;
    margin: 0;
    display: inline;
    list-style: none;
}
  
.ownersList li {
    display: inline;
}

.ownersList::before {
    content: '; ';
}

.ownersList:first-child::before {
    content: '';
}

button {
    margin-right: 7px;
}