<app-model-container>
  <smi-left-hand-pane [workPackageIsEditable]="workPackageIsEditable" [selectedLeftTab]="selectedLeftTab">
  </smi-left-hand-pane>
  <app-drawer>
    <app-base-header>
      <app-toolbar-column [fillFreeSpace]="true"> </app-toolbar-column>
      <app-search></app-search>
      <app-toolbar-column>
        <smi-quicklinks-actions></smi-quicklinks-actions>
      </app-toolbar-column>
    </app-base-header>
    <app-model-container>
      <div class="container">
        <div class="row">
          <div class="col mat-elevation-z8">
            <smi-documentation-standards-table
              data-qa="documentation-standards-table"
              [data]="documentStandards$ | async"
              (documentSelected)="onSelectDocument($event)"
              (addDocument)="onAddDocument($event)"
              (search)="onSearch($event)"
              [pagination]="page$ | async"
              (pageChange)="onPageChange($event)"
            >
            </smi-documentation-standards-table>
            <smi-spinner data-qa="documentation-standards-spinner" *ngIf="!(isLoading$ | async)"></smi-spinner>
          </div>
          <div class="col">
            <smi-right-hand-side [title]="'Document Standard'" [appCanEdit]="[Roles.ADMIN, Roles.ARCHITECT]" (add)="onAddDocument()"></smi-right-hand-side>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </app-model-container>
  </app-drawer>
</app-model-container>
