<div class="wrapper">
  <form [formGroup]="group">
    <div [ngClass]="{ disabled: !isEditable }">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" [ngClass]="{ editable: isEditable }" />
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea
          matInput
          placeholder="Description"
          formControlName="description"
          [ngClass]="{ editable: isEditable }"
        ></textarea>
      </mat-form-field>

      <!-- Owners -->
      <smi-report-owners-table
        *ngIf="!modalMode"
        [data]="owners"
        [isEditable]="isEditable"
        [selectedOwner]="selectedOwner"
        [selectedOwnerIndex]="selectedOwnerIndex"
        (addOwner)="onAddOwner()"
        (selectOwner)="onSelectOwner($event)"
        (deleteOwner)="onDeleteOwner()"
      >
      </smi-report-owners-table>

      <div class="source-system">
          Source System - {{system ? system.name : ''}}
          <button mat-icon-button (click)="onSourceEdit()" *ngIf="workPackageIsEditable">
            <mat-icon>edit</mat-icon>
          </button>
      </div>

      <!-- Source Data Sets -->
      <smi-report-data-set-table [data]="dataSets" *ngIf="!modalMode"></smi-report-data-set-table>

      <smi-report-dimensions-table [data]="dimensions"></smi-report-dimensions-table>
    </div>
  </form>

  <div *ngIf="workPackageIsEditable">
    <div *ngIf="!isEditable">
      <button type="button" mat-flat-button color="primary" (click)="onEdit()">Edit</button>
      <button type="button" mat-raised-button color="primary">Open</button>
      <button type="button" mat-raised-button color="primary">Copy</button>
      <button type="button" mat-flat-button color="warn" (click)="onDelete()">Delete</button>
    </div>
    <div *ngIf="isEditable">
      <button mat-flat-button color="primary" (click)="onSave()">Save</button>
      <button mat-flat-button (click)="onCancel()">Cancel</button>
    </div>
  </div>
</div>
