<div class="wrapper">
  <form [formGroup]="group">
    <div [ngClass]="{ disabled: !workPackageIsEditable }">
      <mat-form-field>
        <input 
          matInput 
          placeholder="Name" 
          formControlName="name" 
          [ngClass]="{ editable: workPackageIsEditable }"
        />
        <mat-error>This field is required</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <textarea 
          matInput 
          placeholder="Description" 
          formControlName="description"
          [ngClass]="{ editable: workPackageIsEditable }"
        >
        </textarea>
      </mat-form-field>
    </div>

    <div *ngIf="workPackageIsEditable">
      <button mat-flat-button color="primary" (click)="onSave()" [disabled]="group.invalid">Save</button>
      <button mat-flat-button (click)="onCancel()">Cancel</button>
      <button type="button" mat-flat-button color="warn" (click)="onDelete()">Delete</button>
    </div>

    <!-- Owners -->
    <smi-report-owners-table 
      *ngIf="!modalMode" 
      [data]="owners" 
      [isEditable]="isEditable" 
      [selectedOwner]="selectedOwner"
      [selectedOwnerIndex]="selectedOwnerIndex" 
      (addOwner)="onAddOwner()" 
      (selectOwner)="onSelectOwner($event)"
      (deleteOwner)="onDeleteOwner()"
    >
    </smi-report-owners-table>

      <div class="source-system" *ngIf="!modalMode">
          Source System - {{system ? system.name : ''}}
          <button mat-icon-button (click)="onSourceEdit()" *ngIf="workPackageIsEditable">
            <mat-icon>edit</mat-icon>
          </button>
      </div>

      <smi-report-data-set-table [data]="dataSets"
                                 *ngIf="!modalMode"
                                 [edit]="workPackageIsEditable"
                                 (removeDataSet)="onRemoveDataSet($event)"
                                 (addDataSets)="onDatasetAdd()"></smi-report-data-set-table>

      <smi-report-dimensions-table [data]="dimensions"
                                   *ngIf="!modalMode"
                                   [edit]="workPackageIsEditable"
                                   (dimensionEdit)="onDimensionEdit($event)"></smi-report-dimensions-table>
  </form>
</div>
