<div class="wrapper">
  <form [formGroup]="group">
    <div [ngClass]="{ disabled: !workPackageIsEditable }">
      <mat-form-field>
        <input
          data-qa="reports-details-name"
          matInput
          placeholder="Name"
          formControlName="name"
          [ngClass]="{ editable: workPackageIsEditable }"
        />
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea
          data-qa="reports-details-description"
          matInput
          placeholder="Description"
          formControlName="description"
          [ngClass]="{ editable: workPackageIsEditable }"
        >
        </textarea>
      </mat-form-field>

      <mat-form-field *ngIf="modalMode">
        <mat-label>Systems</mat-label>
        <input matInput formControlName="system" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let system of filteredOptions$ | async | orderBy: 'name'" [value]="system">
            {{ system.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div *ngIf="workPackageIsEditable && !modalMode">
      <button mat-flat-button data-qa="reports-save" color="primary" (click)="onSave()" [disabled]="group.invalid">Save</button>
      <button mat-flat-button data-qa="reports-cancel" (click)="onCancel()">Cancel</button>
      <button type="button" data-qa="reports-delete" mat-flat-button color="warn" (click)="onDelete()">Delete</button>
    </div>

    <smi-tag-list
      *ngIf="!modalMode"
      data-qa="reports-details-tags"
      [tags]="tags"
      [availableTags]="availableTags"
      [editMode]="workPackageIsEditable"
      (addTag)="addTag.emit($event)"
      (removeTag)="removeTag.emit($event)"
      (updateAvailableTags)="updateAvailableTags.emit()"
      [workPackageIsEditable]="workPackageIsEditable"
    >
    </smi-tag-list>

    <!-- Owners -->
    <smi-report-owners-table
      data-qa="reports-owners-table"
      *ngIf="!modalMode"
      [data]="owners"
      [workPackageIsEditable]="workPackageIsEditable"
      (add)="addOwner.emit()"
      (delete)="deleteOwner.emit($event)"
    >
    </smi-report-owners-table>

      <div class="source-system" *ngIf="!modalMode" data-qa="reports-source-system">
          Source System - {{system ? system.name : ''}}
          <button mat-icon-button data-qa="reports-source-system-edit" (click)="onSourceEdit()" *ngIf="workPackageIsEditable">
            <mat-icon>edit</mat-icon>
          </button>
      </div>

      <smi-report-data-set-table data-qa="reports-data-sets-table"
                                 [data]="dataSets"
                                 *ngIf="!modalMode"
                                 [edit]="workPackageIsEditable"
                                 (removeDataSet)="onRemoveDataSet($event)"
                                 (addDataSets)="onDatasetAdd()"></smi-report-data-set-table>

      <smi-report-dimensions-table data-qa="reports-dimensions-table"
                                   [data]="dimensions"
                                   *ngIf="!modalMode"
                                   [edit]="workPackageIsEditable"
                                   (dimensionEdit)="onDimensionEdit($event)"></smi-report-dimensions-table>
  </form>
</div>
