<mat-form-field floatLabel="never" appearance="none" matTooltip="Layer - select the layer to be displayed">
  <mat-select [(value)]="selected">
    <mat-option
      *ngFor="let layer of layers"
      (click)="onViewLevelSelected(layer.level)"
      [value]="layer.name"
      [hidden]="getMapLevel(layer.level)"
    >
      {{ layer.name | titlecase }} View
    </mat-option>
  </mat-select>
</mat-form-field>

<a (click)="onZoomIn()"><mat-icon matTooltip="Zoom in">zoom_in</mat-icon></a>
<a (click)="onZoomOut()"><mat-icon matTooltip="Zoom out">zoom_out</mat-icon></a>
