:host {
  display: flex;
  align-items: stretch;
  margin: 0;
  a {
    display: flex;
    align-items: center;
    .mat-icon {
      opacity: 0.8;
      font-size: 28px;
    }
    &:hover {
      .mat-icon {
        opacity: 1;
      }
    }
  }
}

.layers {
  margin-right: 6px;
}