<app-base-header>
    <app-toolbar-column [fillFreeSpace]="true">
        <app-search (search)="onSearchVersion($event)"></app-search>
    </app-toolbar-column>
    <app-toolbar-column>
        <smi-quicklinks-actions></smi-quicklinks-actions>
    </app-toolbar-column>
</app-base-header>

<div class="container">
    <div class="row">
        <div class="col">
            <smi-documentation-standards-table></smi-documentation-standards-table>
        </div>
        <div class="col">
            <smi-documentation-standards-detail></smi-documentation-standards-detail>
            <br>
            <smi-documentation-standards-actions></smi-documentation-standards-actions>
        </div>
    </div>
</div>