.my-user-form{
    width: 400px;
    margin: auto;
    border-radius: 5px;
}

.my-user-container {
    display: flex;
    flex-direction: column;
}
  
.my-user-container > * {
    width: 100%;
}

button {
    font-weight: 400;
    width: 100%;
    &:first-child{
        margin-bottom: 15px;
    }
}

.buttons-row {
    padding: 17px 0;
}

.changeButtonBgColor {
    background-color: #3F51B5;
    color: #fff;
}

.disabled {
    pointer-events: none;
    opacity: 0.85;   
}

