tr.mat-row {
  cursor: pointer;
}

.highlight {
  background-color: #efefef;
}

.badge {
  color: #fff;
  margin-right: 5px;
  padding: 7px 10px;
}

tr.mat-header-row {
  height: 40px;
}

.no-data-found {
  border-bottom: solid 1px #ddd;
  text-align: center;
  padding: 20px 0;
}

.table-footer {
  display: flex;
  border-bottom: solid 1px #ddd;
}

button {
  margin-top: 7px;
}

.add-btn {
  border-radius: 15px;
  font-weight: lighter;
  padding-right: 30px;
  margin-top: 10px;
  margin-left: 15px;
  .mat-icon {
    font-size: 18px;
    margin-right: 5px;
    margin-top: 4px;
    padding: 0;
  }
}

.search-container {
  width: 100%;
  padding: 10px;
  background-color: #eee;
  input {
    width: 100%;
    height: 40px;
    padding: 7px 10px;
    border-radius: 5px;
    border: solid 1px #eee;
    &:focus {
      outline: none;
    }
  }
}

.mat-column-impactedBy {
  button {
    width: 24px;
    height: 24px;
    line-height: 16px;
    font-size: 24px;
    outline: none;
    margin-right: 3px;
    margin-bottom: 5px;
    &::ng-deep .mat-button-wrapper {
      line-height: 16px;
      padding: 0;
        .mat-icon {
          font-size: 16px;
          color: #fff;
        }
    }
  }
}