tr.mat-row {
  cursor: pointer;
}

.highlight {
  background-color: #efefef;
}

.mat-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.badge {
  color: #fff;
  margin-right: 5px;
  padding: 7px 10px;
}
