.wrapper {
  height: calc(100vh - 115.5px);
  overflow: auto;
}

tr.mat-row {
  cursor: pointer;
}

.highlight {
  background-color: #efefef;
}

tr.mat-header-row {
  height: 40px;
}

.no-data-found {
  border-bottom: solid 1px #ddd;
  text-align: center;
  padding: 20px 0px;
}