div {
  margin-top: 15px;
}

table {
  width: 100%;
}

.title {
  font-weight: lighter;
  font-size: 15px;
  font-weight: 400;
  color: #212529;
  min-width: 100px;
}

.mat-icon {
  float: right;
  cursor: pointer;
  font-size: 20px;
  margin-left: 5px;
}