<app-model-container>
  <div class="container">
    <div class="row">
      <div class="col mat-elevation-z8">
        <smi-teams-table
          data-qa="settings-teams-table"
          [data]="teams$ | async" 
          (selectTeam)="onSelectTeam($event)" 
          (addTeam)="onAddTeam()">
        </smi-teams-table>
      </div>
      <div class="col">
        <smi-settings-right-side (add)="onAddTeam()" [title]="'Team'"></smi-settings-right-side>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</app-model-container>
