table {
  width: 100%;
}

tr.mat-header-row {
  height: 45px;
}

th.mat-column-delete {
  width: 5%;
}

th.mat-column-edit {
  width: 5%;
}

.mat-icon {
  cursor: pointer;
}

tr.mat-row {
  cursor: pointer;
}

button {
  margin-top: 10px;
  margin-left: 15px;
  border-radius: 15px;
  font-weight: lighter;
}
