table {
    width: 100%;
}

tr.mat-row {
    cursor: pointer;
}

tr.mat-header-row {
    height: 30px;
}

.title {
    font-size: 15px;
    margin-top: 20px;
}

.wrapper {
    margin: 5px 0px;
}

.noResultFound {
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
}