table {
    width: 100%;
    tr.mat-header-row {
        height: 35px;
    }
    th.mat-column-name {
        width: 40%;
    }
    th.mat-column-edit {
        width: 5%;
    }
    th.mat-column-delete {
        width: 5%;
    }
}

button {
    border-radius: 15px;
    font-weight: lighter;
}

p {
    padding: 25px 0px 10px 22px;
    margin: 0;
    background-color: #fff;
    color: #555;
}

.description {
    font-size: 15px;
}

.mat-icon {
    cursor: pointer;
}