<div>
    <!-- Architecture Page -->
    <div *ngIf="architecturePage">
        <span *ngFor="let tabs of architectureTabs; let i = index" (click)="openRightTab(i)">{{tabs}}</span>
    </div>

    <!-- Show this tab when 0 objects selected in diagram (architecture page) -->
    <span (click)="openRightTab(0)" *ngIf="architectureRadioTab">RADIO</span>

    <!-- Show this tab when multiple objects selected in diagram (architecture page) -->
    <span (click)="openRightTab(0)" *ngIf="architectureDetailsTab">Details</span>

    <!-- Report Library Page -->
    <div *ngIf="reportLibraryPage">
        <span *ngFor="let tabs of reportLibraryTabs; let i = index" (click)="openRightTab(i)">{{tabs}}</span>
    </div>

    <!-- Attributes Page -->
    <div *ngIf="attributesPage">
        <span *ngFor="let tabs of attributesTabs; let i = index" (click)="openRightTab(i)">{{tabs}}</span>
    </div>

    <!-- Workpackage Page -->
    <div *ngIf="workPackagePage">
        <span *ngFor="let tabs of workPackageTabs; let i = index" (click)="openRightTab(i)">{{tabs}}</span>
    </div>

    <!-- RADIO Page -->
    <div *ngIf="radioPage">
        <span *ngFor="let tabs of radioTabs; let i = index" (click)="openRightTab(i)">{{tabs}}</span>
    </div>
</div>