.sidebar {
  width: 40px;
  height: 100%;
  background-color: #f9f9f9;
  border-left: solid 1px #ddd;
}

span {
  display: flex;
  justify-content: flex-start;
  color: #555;
  cursor: pointer;
  padding: 15px 8px;
  font-size: 15px;
  &:hover {
    color: #222;
  }
}